<!--the main line-->
<svg:polyline 
id="main-edge" 
class = "edge" 
[class.selected] = "edge.selected"
[attr.points] = "(edge.source.parentNode.position.x + outputOffset[0]) + ',' +
                    (edge.source.parentNode.position.y + outputOffset[1]+ 9) + ' ' +

                    (edge.source.parentNode.position.x + outputOffset[0]) + ',' +
                    (edge.source.parentNode.position.y + outputOffset[1] + 17) + ' ' +

                    (edge.target.parentNode.position.x + inputOffset[0]) + ',' +
                    (edge.target.parentNode.position.y + inputOffset[1] - 29) + ' ' +

                    (edge.target.parentNode.position.x + inputOffset[0]) + ',' +
                    (edge.target.parentNode.position.y + inputOffset[1] - 24)" 
/>
<!--a wider invisible line to make the wire easier to click-->
<svg:polyline 
id="invisible-edge" 
class = "inviEdge" 
[attr.points] = "(edge.source.parentNode.position.x + outputOffset[0]) + ',' +
                    (edge.source.parentNode.position.y + outputOffset[1]+ 15) + ' ' +

                    (edge.source.parentNode.position.x + outputOffset[0]) + ',' +
                    (edge.source.parentNode.position.y + outputOffset[1] + 17) + ' ' +

                    (edge.target.parentNode.position.x + inputOffset[0]) + ',' +
                    (edge.target.parentNode.position.y + inputOffset[1] - 29) + ' ' +

                    (edge.target.parentNode.position.x + inputOffset[0]) + ',' +
                    (edge.target.parentNode.position.y + inputOffset[1] - 10)" 
(click)='select($event)'/>
    

