<div class='container__header'>

    <!-- hidden components (new file, save file, loaf file) for the dropdown menu-->
    <div style="display: none;">
        <file-new></file-new>
        <file-save></file-save>
        <file-load></file-load>
    </div>

    <!-- buttons -->
    <div class='header-btn-group'>

        <!-- top left dropdown menu -->
        <!-- <div class="dropmenu"> -->
            <!-- dropdown menu for new file, save file, loaf file-->
            <!-- <div> -->
                <!--
                <button id='dropdownButton' class='btn' mat-icon-button (click)='openDropdownMenu($event)'>
                    <mat-icon svgIcon="cMenu" id='dropdownIcon'></mat-icon>
                </button>
                -->
            <!-- </div>
        </div> -->
                        

        <!-- buttons to navigate to the 4 pages -->
        <button class='btn' [class.active]='getUrl()=="/about"' [routerLink]="'/about'" title='About'>
            <mat-icon svgIcon="cGallery"></mat-icon>
        </button>
        <button class='btn' [class.active]='getUrl()=="/gallery"' [routerLink]="'/gallery'" title='Gallery'>
            <mat-icon>view_comfy</mat-icon>
        </button>
        <button class='btn' [class.active]='getUrl()=="/dashboard"' [routerLink]="'/dashboard'" title='Dashboard'>
            <mat-icon svgIcon="cDashboard"></mat-icon>
        </button>
        <button class='btn' [class.active]='getUrl()=="/flowchart"' [routerLink]="'/flowchart'" title='Flowchart'>
            <mat-icon svgIcon="cFlowchart"></mat-icon>
        </button>
        <button class='btn' [class.active]='getUrl()=="/editor"' [routerLink]="'/editor'" title='Procedure'>
            <mat-icon svgIcon="cEditor"></mat-icon>
        </button>
                
        <!-- execute button -->
        <div class='executeCls' [class.disabled]='!executeCheck'>
            <execute ></execute>
        </div>
    </div>

    <div class='filename-container'>
        <div id='filename' (click)='openDropdownMenu($event)'>{{getTitle()}}</div>
        
        <div id="dropdownMenu">
            <button onclick="document.getElementById('newfile').click();"
            title="Create New Flowchart"> 
                <mat-icon>rotate_left</mat-icon> 
                New File
            </button>
            <br>
            <button onclick="document.getElementById('savefile').click();"
            title="Save Flowchart File to Computer">
                <mat-icon>save_alt</mat-icon>
                Save File
                
            </button>
            <br>
            <button (click)="loadFile()"
            title="Load Flowchart File from Computer">
                <mat-icon>launch</mat-icon>
                Load File 
            </button>
            <br>
            <button (click)="openUrlDialog($event)"
            title="Generate Möbius view url from url of .mob file">
                <mat-icon>link</mat-icon>
                Make Url
            </button>
        </div>
    </div>


</div>
<dialog id='genUrlDialog'>
    MOB file URL: <br>
    <textarea [(ngModel)]='urlSet[0]'></textarea>
    <hr>
    <input id='radio1' type='radio' name='showPage' value='publish' [(ngModel)]='urlSet[1]'/> <label for='radio1'>Uneditable</label> <br>
    <input id='radio2' type='radio' name='showPage' value='dashboard' [(ngModel)]='urlSet[1]'/> <label for='radio2'>Editable</label>
    <hr>

    <div *ngIf='urlSet[1] == "dashboard"'>
        <input id='radio3' type='radio' name='displayType' value='&node=' [(ngModel)]='urlSet[2]'/> <label for='radio3'>Show Specific Node</label> <br>
        <input id='radio4' type='radio' name='displayType' value='' [(ngModel)]='urlSet[2]'/> <label for='radio4'>Show Dashboard</label> 
        <hr>
    </div>

    <div *ngIf='urlSet[1] == "dashboard" && urlSet[2] == "&node="'>
        Shown Node Index: <input [(ngModel)]='urlSet[3]'/>
        <!-- <select [(ngModel)]='urlSet[3]'>
            <option *ngFor='let node of getFlowchart().nodes; let i = index' value={{i}}>{{i}}. {{node.name}}</option>
        </select> -->
        <hr>
    </div>

    <button (click)='generateUrl()'>Create</button>

    <div>
        <hr>
        Möbius Link:<br>
        <textarea [class.disabled]='true' id='generatedLink' disabled></textarea>
    </div>
</dialog>
