<div class='container__header'>

    <!-- hidden components (new file, save file, loaf file) for the dropdown menu-->
    <div style="display: none;">
        <file-new></file-new>
        <file-save></file-save>
        <file-load></file-load>
    </div>

    <!-- buttons -->
    <div class='header-btn-group'>

        <!-- top left dropdown menu -->
        <!-- <div class="dropmenu"> -->
            <!-- dropdown menu for new file, save file, loaf file-->
            <!-- <div> -->
                <!--
                <button id='dropdownButton' class='btn' mat-icon-button (click)='openDropdownMenu($event)'>
                    <mat-icon svgIcon="cMenu" id='dropdownIcon'></mat-icon>
                </button>
                -->
            <!-- </div>
        </div> -->
                        

        <!-- buttons to navigate to the 4 pages -->
        <button class='btn' [class.active]='router.url=="/gallery"' [routerLink]="'/gallery'" title='Gallery'>
            <mat-icon svgIcon="cGallery"></mat-icon>
        </button>
        <button class='btn' [class.active]='router.url=="/dashboard"' [routerLink]="'/dashboard'" title='Dashboard'>
            <mat-icon svgIcon="cDashboard"></mat-icon>
        </button>
        <button class='btn' [class.active]='router.url=="/flowchart"' [routerLink]="'/flowchart'" title='Flowchart'>
            <mat-icon svgIcon="cFlowchart"></mat-icon>
        </button>
        <button class='btn' [class.active]='router.url=="/editor"' [routerLink]="'/editor'" title='Procedure'>
            <mat-icon svgIcon="cEditor"></mat-icon>
        </button>
                
        <!-- execute button -->
        <execute></execute>
    </div>

    <div class='header-btn-group'>
        <div id='filename' (click)='openDropdownMenu($event)'>{{getTitle()}}</div>
        
        <div id="dropdownMenu">
            <button onclick="document.getElementById('newfile').click();"
            title="Create New Flowchart"> 
                <mat-icon>rotate_left</mat-icon> 
                New File
            </button>
            <br>
            <button onclick="document.getElementById('savefile').click();"
            title="Save Flowchart File to Computer">
                <mat-icon>save_alt</mat-icon>
                Save File
                
            </button>
            <br>
            <button onclick="document.getElementById('file-input').click();"
            title="Load Flowchart File from Computer">
                <mat-icon>launch</mat-icon>
                Load File 
            </button>
        </div>
    </div>


</div>
