@import '~scss/colors';
@import '~scss/variables';
@import '~scss/header-button';

.container__header{
    display: flex;
    background-color: $color4;
    height: $header-height;
    padding: 0px;
    margin: 0px;

    .header-btn-group {
        //display: inline;
        height: $header-height;
        padding: 0px;
        margin: 0px;
        overflow: hidden;
        background-color: transparent;
        z-index: 1;
        .mat-icon-button{
            height: $header-height !important;
            width: $header-height !important;
        }
    }
    
    #filename{
        //display: inline-block;
        height: $header-height;
        font-size: $fsize1;
        color: $color1;
        overflow: hidden;
        background-color: transparent;
        padding-top: 3px;
        text-align: center;
        vertical-align: middle;
        line-height: $header-height;
    }
}

.cdk-overlay-pane { // overlay menu
    background-color: red;
    top: $header-height !important;
    .mat-menu-panel{
        background-color: red;
        position: absolute;
        border-radius: 0px;
        // box-shadow: none;
        padding: 0px;
        left: 0px;
        .mat-menu-content{
            padding: 0px;
        }
        .mat-menu-item{
            padding: 0px;
        }
    }
}

button.mat-menu-item{ // drop-down (top-bar) menu buttons
    background-color: $color5;
    color: $color2;
    mat-icon{
        color: $color2;
    }

    height: $header-height;
    line-height: $header-height;
    font-size: $fsize2;
    text-align: center;
}

button.mat-menu-item:hover{
    background-color: $color4;
    color: $color1;
    mat-icon{
        color: $color1;
    }
}
