@import '~scss/colors';
@import '~scss/variables';
@import '~scss/header-button';


.container__header{
    display: inline-flex;
    float: left;
    width: 100%;
    height: $header-height + 1;
    padding: 0px;
    margin: 0px;

    .header-btn-group {
        flex-shrink: 0;
        display: inline-flex;
        flex-flow: row nowrap;
        height: $header-height + 1;
        padding: 0px;
        margin: 0px;
        overflow: hidden;
        // background-color: transparent;
        z-index: 1;
        .mat-icon-button{
            height: $header-height !important;
            width: $header-height !important;
        }
        .active{
            background-color: transparent;
        }
    }
    .nodename-container{
        z-index: 1;
    }
    .filename-container{
        z-index: 5;
        width: calc(100% - 170px - 37px);//width of btn-container width of zoom fit in flowchart;

        .menu-btn{
            float: right;
        }
        .dropdownContainer{
            width: 1px;
            float: right;
            position: relative;
        }
    }
    #filename{
        //display: inline-block;
        cursor: pointer;
        height: $header-height;
        font-size: $fsize1;
        color: $color8;
        width: 100%;
        // background-color: transparent;
        padding-top: 0px;
        text-align: left;
        vertical-align: middle;
        line-height: $header-height - 5px;
        z-index: 5;

        overflow: hidden;
        text-overflow: ellipsis;
        &:hover{
            color: $selected-color;
        }
    }
}

// .cdk-overlay-pane { // overlay menu
//     background-color: $color4;
//     top: $header-height !important;
//     .mat-menu-panel{
//         background-color: $color4;
//         position: absolute;
//         border-radius: 0px;
//         // box-shadow: none;
//         padding: 0px;
//         left: 0px;
//         .mat-menu-content{
//             padding: 0px;
//         }
//         .mat-menu-item{
//             padding: 0px;
//         }
//     }
// }

/*
button.mat-menu-item{ // drop-down (top-bar) menu buttons
    background-color: $color5;
    color: $color2;
    mat-icon{
        color: $color2;
    }

    height: $header-height;
    line-height: $header-height;
    font-size: $fsize2;
    text-align: center;
}

button.mat-menu-item:hover{
    background-color: $color5;
    color: $color5;
    // mat-icon{
    //     color: $color5;
    // }
}
*/
#dropdownMenu {
    display: none;
    position: fixed;
    top: 40px;
    transition: display 0.4s;

    z-index: 1;
    background-color: $color6;
    border: 1px solid $color2;
    // border-left: 1px solid $color2;
    // border-right: 1px solid $color2;
    // border-bottom: 1px solid $color2;
    
    button{
        display: inline-block;
        width: 110px;
        line-height: $fsize3;
        height: $fsize3;
        font-size: $fsize2;
        vertical-align: middle;
        text-align: left;
        padding: 0px 5px 0px 5px;
        color: $color8;
        mat-icon{
            color: inherit;
            vertical-align: middle;
            font-size: 20px;
            height: 20px;
            width: 20px;
        }
        .mat-icon-svg{
            vertical-align: top;
            padding-top: 3px;
        }
        &:hover{
            color: $selected-color;
            background-color: $color5;
        }
    }
}

#node-name{
    min-height: $fsize3;
    color: $color8;
    padding-left: 8px;
    margin: 0px;
    width: fit-content;
    font-family: sans-serif;
    line-height: $fsize3;
    font-size: $fsize2;
    font-weight: 550;
    display: flex;
    flex-flow: row nowrap;
    cursor: pointer;
    #node--name{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}
#nodeMenu {
    display: none;
    position: fixed;
    transition: display 0.4s;
    top: 40px;
    width: 125px;
    max-height: 80%;
    z-index: 1;
    background-color: $color6;
    border: 1px solid $color2;
    overflow: auto;
    // border-right: 1px solid $color2;
    // border-bottom: 1px solid $color2;
    // border-top: 1px solid $color2;
    cursor: pointer;

    button{
        display: block;
        background-color: $color6;
        border: 0px;
        margin: 0px;
        padding: 0px;
        padding-left: 0px;
        line-height: $fsize3;
        height: $fsize3;
        font-size: $fsize2;
    }

    li{
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 20px;
        background-color: $color6;
        font-weight: 550;
        border: 0px;
        margin: 0px;
        padding: 0px 10px 0px 10px;
        line-height: $fsize3;
        height: $fsize3;
        font-size: $fsize2;
        
        color: $color8;
        &:hover{
            color: $selected-color;
            background-color: $color5;
        }
    }

}



.executeCls{
    &.disabled{
        display: none;
    }
}

#headerDialog{
    position: relative;
    top: 10%;

    .genUrlDialog{
        font-family: 12px sans-serif;
        color: $color1;
        background-color: $color6;
        top: 10%;
        max-width: 605px;
        padding: 5px;
    
    
        textarea{
            width: 600px;
            max-width: 600px;
            min-height: 80px;
            background-color: $color6;
    
            &.disabled{
                background-color: $color5;
            }
    
            &.valid{
                border: 2px solid $print-color;
            }
    
            &.invalid{
                border: 2px solid $error-color;
            }
        }
    
        select{
            color: $color1;
        }
    
        button{
            width: fit-content;
            padding: 0px 5px 0px 5px;
            margin-right: 10px;
            background-color: $color5;
            color: $color1;
        }
    }

    .loadBackupDialog{
        font-family: 12px sans-serif;
        color: $color1;
        background-color: $color6;
        top: 30%;
        max-width: 605px;
        min-width: 405px;
        padding: 5px;
    
        .loadBackupButton{
            // height: 25px;
            width: fit-content;
            min-width: 400px;
            margin-bottom: 2px;
            padding: 0px 5px 0px 5px;
            background-color: $color5;
            // font-size: 12px;
            color: $color1;
            display: inline-block;

            &:disabled {
                background-color: $color5-5;
                color: $color3;
            }
        }
        .deleteBackupButton{
            // height: 25px;
            width: fit-content;
            margin-bottom: 2px;
            margin-left: 2px;
            padding: 0px 5px 0px 5px;
            background-color: $color5;
            color: $color1;
            display: inline-block;

            // .icon{
            //     font-size: 18px;
            //     padding-top: 5px;
            //     height: 18px;
            // }
        }
        #addBackupButton{
            width: 34px;
            margin-bottom: 2px;
            padding: 0px 5px 0px 5px;
            background-color: $color5;
            color: $color1;
            display: inline-block;
        }
    }
    .settingsDialog{
        font-family: 12px sans-serif;
        color: $color1;
        background-color: $color6;
        top: 30%;
        max-width: 605px;
        min-width: 405px;
        padding: 5px;
    
        .settingsButton{
            width: 80px;
            margin: 0px 20px 2px 20px;
            padding: 0px 5px 0px 5px;
            background-color: $color5;
            color: $color1;
            display: inline-block;
        }

        .textdiv{
            padding: 0px 5px 0px 5px;
            height: 20px;
            display: inline-block;
        }

        .settingLine {
            display: inline-flex;
            height: 20px;
            line-height: 20px;
            padding-left: 10px;
        }

        .subsetting {
            padding-left: 20px;
        }
    }
    .creditsDialog{
        font-family: 12px sans-serif;
        color: $color1;
        background-color: $color6;
        top: 30%;
        width: 605px;
        padding: 5px;
    }
}

#openCredits{
    display: none;
}