@import '~scss/colors';
@import '~scss/variables';

.table--container{
  height: 100%;
  overflow-y: auto;

  margin-bottom: $fsize3; // paginator height
}

table {
  width: 100%;
  font-family: sans-serif;
  background-color: transparent;

  tr.mat-header-row{
    height: $fsize3;
  }
  tr.mat-row{
    height: 24px;
    .mat-cell{
      font-size: 12px;
      color: $color8;
      // overflow: hidden;
      // text-overflow: ellipsis;
      // white-space: nowrap;
    }
  }
}

/deep/ #attribTab{
  height: 100%;
  ul{
    margin: 0;
    padding-left: 15px;
    border-bottom: 1px solid #ddd;
    li{
      margin-bottom: -1px;
      list-style: none;
      display: inline-block;
      width: 10%;
      font-size: 14px;
      color: #505050;
      cursor: pointer;
      span{
        margin-right: 2px;
        border: 1px solid transparent;
        border-radius: 3px 3px 0 0;
        position: relative;
        display: block;
        padding: 9px 14px 8px;
        text-align: center;
      }
      &.active{
        span{
          color: #555;
          cursor: default;
          background-color: #fafafb;
          border: 1px solid #ddd;
          border-bottom-color: transparent;
        }
      }
    }
  }
  
  .table--container{
    margin-bottom: 10px;
  }
  // contains everything
  .mat-elevation-z1{
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: space-between;
  }
  // paginator
  .mat-paginator-container{
    position: absolute;
    bottom: 8px;
    height: 20px;
    display: flex;
    flex-flow: row nowrap;
    flex-shrink: 0;
    font-family: sans-serif;

    .mat-paginator-page-size, .mat-paginator-range-actions{
      height: inherit;  
      align-items: baseline;
      padding-right: $small-padding;
    }
    .mat-paginator-page-size-label, .mat-paginator-range-label{
      white-space: nowrap;
    }

    // items/page selector
    .mat-paginator-page-size-select{
      margin-top:0 !important;
      .mat-form-field-wrapper{
        padding-bottom: 0.95em;
        .mat-form-field-flex .mat-form-field-infix .mat-select .mat-select-trigger .mat-select-value{
          font-family: sans-serif;
          color: $color1;
        }
      }
    }

    // page change icons
    .mat-icon-button:hover .mat-paginator-icon{
      fill: $selected-color;
    }
  }
}

/deep/ #settings.btn{
  height: 20px;
  width: 20px;
  .mat-icon{
    height: inherit;
    width: inherit;
    line-height: 20px;
    font-size: 15px;
  }
}
