@import '~scss/colors';
@import '~scss/variables';


table {
  width: 100%;
  tr.mat-header-row{
    height: 40px;
  }
  tr.mat-row{
    height: 24px;
    .mat-cell{
      font-size: 12px;
      // overflow: hidden;
      // text-overflow: ellipsis;
      // white-space: nowrap;
    }
  }
  td {
    // max-width: 0px;
  }
}

/deep/ #attribTab{
  .mat-tab-label{
    height: 30px;
    padding: 0 10px;
    min-width: 120px;
  }
  .mat-ink-bar{
    background-color: #9e9e9e !important;
  }

  .mat-paginator-container{
    min-height: 46px;

    .mat-paginator-page-size-select{
      margin-top:0 !important;
      .mat-form-field-wrapper{
        padding-bottom: 0.95em;
      }
    }
  }
}
