@import '~scss/colors';
@import '~scss/variables';

.table--container{
  // height: 100%;
  height: calc(100% - 31px);
  overflow-y: auto;
  overflow-x: auto;
//   &.topo--container{
//     height: 100%;
//   }
}

.mat-table{
  background-color: $color5-5;
  // border-top: 1px solid $color3;
  border-bottom: 1px solid $color4;
  // height: 100%;
}

#attribLabel{
  margin: 0;
  padding: 0;
  dd{
    float: left;
    margin: 0;
    span{
      background: $selected-color;
      height: 5px;
      width: calc(100% - 1px);
      display: block;
      border-right: 1px solid #bfbfbf;
    }
  }
}

table {
  width: 100%;
  font-family: sans-serif;
  background-color: transparent;
  border-spacing: 0px;
  border-collapse: collapse;
  th{
    i {
      color: rgba(117,117,117,0.5);
      font-size: 16px;
      margin-left: 5px;
      &.active{
        color: #00006d;
        background: unset;
      }
    }
  }
  th.mat-header-cell:not(:first-of-type){
    padding: 0px 5px;
  }
  th.mat-header-cell{
    border-right: 1px solid $color3;
  }
  th.mat-header-cell:first-of-type{
    // border-right: none;
    width: 40px !important;
    padding-left: 12px;
  }
  th:nth-child(2){
    // width: 55px !important;
    width: 100px;
    // font-style: italic;
  }
  th:nth-child(n+3){
    // width: 50px;
  }
  th:last-child{
    width: 2000px;
  }
  tr.mat-header-row{
    background-color: $color5-5;
    height: 27px;
  }
  tr.mat-row{
    height: 24px;
    &.selected-row{
      .mat-cell{
        background-color: #e6e6e6;
      }
    }
    .mat-cell{
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      
      font-size: 12px;
      color: $color8;
      background-color: $color6;
      border-bottom: 1px solid $color3;
      border-left: 1px solid transparent;
      border-right: 1px solid $color3;
      &:not(:first-of-type){
        padding: 0px 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 380px;
      }
      &:first-of-type{
        width: 40px !important;
        padding-left: 12px;
      }
      &:last-of-type{
        // border-right:none;
      }
      &:nth-child(2){
        width: 100px;
        // font-style: italic;
      }
      &:nth-child(n+3){
        // width: 50px;
      }
      &:last-child{
        width: 2000px;
      }
      // overflow: hidden;
      // text-overflow: ellipsis;
      // white-space: nowrap;
    }
    &:last-child{
      .mat-cell{
        border-bottom-color: transparent;
      }
    }
  }
  td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type{
    width: 10%;
  }
}

table{
    &.c2{
        tr.mat-row .mat-cell:nth-child(2), th:nth-child(2){font-style: italic}
    }
    &.c3{
        white-space: pre;
        th {
            vertical-align: middle;
            cursor: default;
            &:last-child {
                .material-icons {
                    display: none;
                }
            }
        }
        .inactive-row {
            .mat-cell{
                background-color: $color5-5;
            }
        }table--container
        .active-row {
            .mat-cell{
                background-color: $color6;
            }
        }
        .selected-row {
            .mat-cell{
                background-color: $color5;
            }
        }
        .material-icons{
            vertical-align: middle;
            cursor: pointer;
        }

    }
}

::ng-deep table{
  th:first-child{
    i{
      // display: none;
    }
  }
  th:last-child{
    .mat-sort-header-container{
      display: none;
    }
  }
}


::ng-deep #attribTab{
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  ul{
    background-color: transparent;
    margin: 0;
    padding-left: 11px;
    // border-bottom: 1px solid $color3;
    white-space: nowrap;
    height: 20px;
    position: absolute;
    top:1px;
    width: 100%;
    min-width: fit-content;
    display: inline-flex;
    li{
      list-style: none;
      // display: inline-block;
      float: left;
      width: 90px;
      color: $color1;
      overflow:visible;
      cursor: pointer;
      position: relative;
      height: inherit;
      padding: 0px;
      span{
        font-family: sans-serif;
        margin-right: 2px;
        font-weight: 550;
        font-size: $fsize2;
        line-height: $fsize1;
        border: 1px solid transparent;
        position: relative;
        display: block;
        padding: 2px;
        text-align: center;
        position: absolute;
        width: inherit;
        box-sizing: border-box;
        width: 100%;
        margin-top: -1px;
        height: 21px;
      }
      &:hover{
        background-color: transparent;
        span{
          color: $selected-color;
          background-color: transparent;
        }
      }
      &.active{
        background-color: transparent;
        span{
          color: $selected-color;
          cursor: default;
          background-color: $color5-5;
          border: 1px solid $color3;
          border-bottom: 2px solid $color5-5;
        }
      }
      &:nth-child(2){
        width: 85px;
      }
    }
  }
  // contains everything
  .pane{
    margin-top: 20px;
    // height: calc(100% - 31px);
    height: 100%;
    .mat-elevation-z1{
      display: flex;
      flex-flow: column nowrap;
      height: 100%;
      justify-content: space-between;
      box-shadow: none;
      border-top: 1px solid $color3;
    }
  }
}

.attrib--container{
  height: calc(100% - 30px); // $fsize3 btm container height
  #attribTab{
    height: 100%;
    my-tab{
    height: 100%;
    }
  }
}

.emptyMessage{
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    color: #888888;
}
.topoUtilButton{
    width: 33.33%;
    display: inline-block;
    height: 15px;
    background-color: $color6;
    border: 1px solid #B3B3B3;
    // border-right: 1px solid #B3B3B3;
    // border-bottom: 1px solid #B3B3B3;
    // border-left: 1px solid #B3B3B3;
    border-top: 0px;
    outline:none;
    color: #888888;
    padding: 0px;

    &.center {
        border-left: 0px;
        border-right: 0px;
    }
    mat-icon{
        font-size: 15px;
    }
}

.btm--container{
  position: relative;
  height: $fsize3;
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  width: 100%;
  bottom: 0px;
  #displaySelected{
    padding-left: 10px;
    // width: 30%;
    position: absolute;
    z-index: 1;
    bottom: 13px;
    left: 5px;
    .container {
      display: block;
      position: relative;
      padding-left: 18px;
      cursor: pointer;
      font-size: 12px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      input[type=checkbox]{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      .checkmark {
        position: absolute;
        top: 1;
        left: 0;
        height: 10px;
        width: 10px;
        border: 1px solid #ccc;
      }
      /* On mouse-over, add a grey background color */
      &:hover input ~ .checkmark {
        background-color: #eee;
      }

      /* When the checkbox is checked, add a blue background */
      input:checked ~ .checkmark {
        // background-color: #2196F3;
        border: 1px solid #00006d;
      }

      /* Create the checkmark/indicator (hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }

      /* Show the checkmark when checked */
      input:checked ~ .checkmark:after {
        display: block;
      }

      /* Style the checkmark/indicator */
      .checkmark:after {
        left: 4px;
        top: -3px;
        width: 4px;
        height: 11px;
        border: solid #00006d;
        border-width: 0 1px 1px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
  .paginator--container{
    position: relative;
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
  #matPaginator{
    &.hide{
      display: none;
    }
    position: absolute;
    top: -20px;
    background-color: transparent;
    width: 100%;
    // paginator
    .mat-paginator-outer-container{
      .mat-paginator-container{
        width: inherit;
        min-height: $fsize3 !important;
        position: absolute;
        bottom: 8px;
        height: 20px;
        display: flex;
        flex-flow: row nowrap;
        flex-shrink: 0;
        font-family: sans-serif;

        .mat-paginator-page-size, .mat-paginator-range-actions{
          height: inherit;  
          align-items: baseline;
          padding-right: $small-padding;
        }
        .mat-paginator-page-size-label, .mat-paginator-range-label{
          white-space: nowrap;
        }

        // items/page selector
        .mat-paginator-page-size-select{
          margin: 0;
          .mat-form-field-wrapper{
            padding-bottom: 0.95em;
            .mat-form-field-flex .mat-form-field-infix .mat-select .mat-select-trigger .mat-select-value{
              font-family: sans-serif;
              color: $color1;
            }
          }
        }

        // page change icons
        .mat-icon-button:hover .mat-paginator-icon{
          fill: $selected-color;
        }
      }
    }
    
  }
}
