<div class = 'attrib--container'>
  <my-tabs id="attribTab" (selectedTab) = "_setDataSource($event)" (selectedTopology) = "_setDataSource($event)" [hidden]="dataSource === undefined">
    <my-tab *ngFor="let tab of tabs; let i = index" tabTitle="{{tab.title}}" index="{{i}}">
      <div class="mat-elevation-z1" >
        <ng-container  *ngIf="i < 9; else topoTemplate">
            <div class = "table--container">
                <!-- <dl id='attribLabel'>
                    <dd *ngFor="let label of displayedColumns;">
                      <span [class]='label'></span>
                    </dd>
                </dl> -->
                <table mat-table [dataSource]="dataSource" matSort class='c2' id = 'attribTable' *ngIf="dataSource.data.length > 0; else emptyDataMessage">
                    <ng-container *ngFor="let column of displayedColumns;" [matColumnDef]="column" [sticky] = 'column === "_id"'>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="updateSortHeader($event, column)"> {{column}} 
                            <i class="material-icons" (click)="showAttribLabel($event, column)" [class.active]="currentShowingCol === column">visibility</i>
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.selected-row]='row.selected' (click)="selectRow(row._id, $event)" (dblclick)="showTopo(row._id, i)"></tr>
                </table>
                <ng-template #emptyDataMessage>
                    <div class="emptyMessage">
                        No Data
                    </div>
                </ng-template>
            </div>
            <div class = 'btm--container'>
                <div id="displaySelected">
                    <label class="container">Show Selected
                        <input type="checkbox" id="switch" (click)="showSelectedSwitch();" [checked]="showSelected"/>
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class = 'paginator--container'>
                    <mat-paginator id="matPaginator" [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </ng-container>
        <ng-template #topoTemplate>
            <div id='topotable--container' class = "table--container topo--container" >
                <ng-container *ngIf="dataSourceTopo.data.length > 0; else emptyTopoMessage">
                    <!-- <button class='topoUtilButton' (click)='prevTopo()'><mat-icon>keyboard_arrow_left</mat-icon></button>
                    <button class='topoUtilButton center'><mat-icon>keyboard_arrow_up</mat-icon></button>
                    <button class='topoUtilButton'><mat-icon>keyboard_arrow_right</mat-icon></button> -->
                    <table mat-table [dataSource]="dataSourceTopo" matSort class='c3' id = 'attribTable'>
                        <!-- <ng-container [matColumnDef]="_id" class='sticky'>
                            <th mat-header-cell *matHeaderCellDef> _id </th>
                            <td mat-cell *matCellDef="let element"> {{element.'_id'}} </td>
                        </ng-container> -->
                        <ng-container *ngFor="let column of displayedTopoColumns;" [matColumnDef]="column">
                            <th mat-header-cell *matHeaderCellDef> {{column}}
                                <i class="material-icons" (click)="showAttribLabel($event, column)" [class.active]="currentShowingCol === column">visibility</i>
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedTopoColumns; sticky: true"></tr>
                        <tr mat-row class='inactive-row' *matRowDef="let row; columns: displayedTopoColumns;" (click)='singleClick($event, row)' (dblclick)="doubleClick(row)" [class.active-row]='row.active' [class.selected-row]='row.selected'></tr>
                    </table>
                    <div class = 'btm--container'>
                        <div class = 'paginator--container'>
                            <mat-paginator id="matPaginator" [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
                        </div>
                    </div>
                </ng-container>
                <ng-template #emptyTopoMessage>
                    <div class="emptyMessage">
                        No Sub-entities Data, select a point, polyline or polygon in the viewer or double click on an entry in one of the point, polyline or polygon tables to view their Sub-entities.
                    </div>
                </ng-template>
            </div>
        </ng-template>
      </div>
    </my-tab>
  </my-tabs>
</div>

