<mat-tab-group animationDuration="0ms" [disableRipple]="true">
    <mat-tab label="Normal">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSourceNormal" matSort>
            <ng-container matColumnDef="key">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Key </th>
              <td mat-cell *matCellDef="let element"> {{element.key}} </td>
            </ng-container>
            <ng-container matColumnDef="v0">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Normal[1] </th>
              <td mat-cell *matCellDef="let element"> {{element.v0}} </td>
            </ng-container>
            <ng-container matColumnDef="v1">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Normal[2] </th>
              <td mat-cell *matCellDef="let element"> {{element.v1}} </td>
            </ng-container>
            <ng-container matColumnDef="v2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Normal[3] </th>
                <td mat-cell *matCellDef="let element"> {{element.v2}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['key', 'v0', 'v1', 'v2']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['key', 'v0', 'v1', 'v2'];"></tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-tab>
    <mat-tab label="Color">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSourceColor" matSort>
            <ng-container matColumnDef="key">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Key </th>
              <td mat-cell *matCellDef="let element"> {{element.key}} </td>
            </ng-container>
            <ng-container matColumnDef="v0">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Color[1] </th>
              <td mat-cell *matCellDef="let element"> {{element.v0}} </td>
            </ng-container>
            <ng-container matColumnDef="v1">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Color[2] </th>
              <td mat-cell *matCellDef="let element"> {{element.v1}} </td>
            </ng-container>
            <ng-container matColumnDef="v2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Color[3] </th>
                <td mat-cell *matCellDef="let element"> {{element.v2}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['key', 'v0', 'v1', 'v2']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['key', 'v0', 'v1', 'v2'];"></tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-tab>
    <mat-tab label="Settings">
      <ul>
        <ol>switch on/off normals</ol>
        <ol>intensity of light</ol>
        <ol>etcs...</ol>
      </ul>
    </mat-tab>
  </mat-tab-group>
  