<ul class="nav nav-tabs">
    <li (click)="selectTab(8)" [class.active]="tab_active===8"><span>Model</span></li>
    <li (click)="selectTab(7)" [class.active]="tab_active===7"><span>Collections</span></li>
    <li
        [class.active]="tab_active===2"
        [class.open]='object_open'
    >
        <div class="dropdown">
            <button class="dropbtn" (click) = 'showODropdown()' title="Objects: Point, Polyline, Polygon">{{object_text}}</button>
            <div class="dropdown-content" id='object_dropdown'>
                <div *ngFor="let option of object;" (click)="selectObject(option.tab, $event);">{{option.title}}</div>
            </div>
        </div>
    </li>
    <li id='ObjTopoTab' (click)="selectTab(9)" [class.active]="tab_active===9"><span>Sub-entities</span></li>
    <li (click)="selectTab(0)" [class.active]="tab_active===0"><span>Positions</span></li>
    <!-- <li
        [class.active]="tab_active===1"
        [class.open]='topology_open'
    >
        <div class="dropdown">
            <button class="dropbtn" (click) = 'showTDropdown()' title="Topology: Vertex, Edge, Wire">{{topology_text}}</button>
            <div class="dropdown-content" id='topology_dropdown'>
                <div *ngFor="let option of topology;" (click)="selectTopology(option.tab, $event);">{{option.title}}</div>
            </div>
        </div>
    </li> -->
    <!-- <li
        [class.active]="tab_active===9"
        [class.open]='topo_open'
    >
        <div class="dropdown">
            <button class="dropbtn" (click) = 'showTPDropdown()' title="Topo">{{topo_text}}</button>
            <div class="dropdown-content" id='topo_dropdown'>
                <div (click)="selectTopo('topo1', $event);">topo1</div>
                <div (click)="selectTopo('topo2', $event);">topo2</div>
            </div>
        </div>
    </li> -->
    <!-- <li (click)="selectTab(10)" [class.active]="tab_active===10"><span>Col Topo</span></li> -->

</ul>
<ng-content></ng-content>

<!--
<ng-template #topoTemplate>
    
</ng-template>

<ng-template #objectTemplate>
    
</ng-template>
 -->
