<div id = 'flowchart-main-container' class='container'>
      <svg id="svg-canvas" class = "svgCanvas" viewBox="0 0 1500 1500" 
      (mousedown)='panStart($event)'
      (mousemove)='handleMouseMove($event)'  
      (mouseup)='handleMouseUp($event)'
      (mouseenter)='activateKeyEvent()'
      (mouseleave)='deactivateKeyEvent()'
      (wheel)='scale($event)'
      >
            <defs>
                  <pattern id="smallGrid" width="20" height="20" patternUnits="userSpaceOnUse">
                    <path d="M 20 0 L 0 0 0 20" fill="none" stroke="gray" stroke-width="0.5"/>
                  </pattern>
                  <pattern id="grid" width="100" height="100" patternUnits="userSpaceOnUse">
                    <rect width="100" height="100" fill="url(#smallGrid)"/>
                    <path d="M 100 0 L 0 0 0 100" fill="none" stroke="gray" stroke-width="1"/>
                  </pattern>
                  <marker id="arrow" markerWidth="30" markerHeight="30" refX="0" refY="4" orient="auto" markerUnits="strokeWidth" viewBox="0 0 40 40">
                    <path d="M0,0 L0,8 L9,4 z" stroke="rgb(80, 80, 80)" fill="transparent" />
                  </marker>
                  <marker id="arrow_selected" markerWidth="30" markerHeight="30" refX="0" refY="4" orient="auto" markerUnits="strokeWidth" viewBox="0 0 40 40">
                        <path d="M0,0 L0,8 L9,4 z" stroke="rgb(0, 0, 150)" fill="transparent"  />
                  </marker>
            </defs>
            <rect width="100%" height="100%" fill="url(#grid)" />
                          
            <g edge *ngFor="let edge of data.edges; let edge_index = index" 
            [edge]='edge'
            [inputOffset]='inputOffset'
            [outputOffset]='outputOffset'
            (selected)='selectEdge($event, edge_index)'
            />
            <line id="temporary-wire" class="temp-wire" x1="0" y1='0' x2='0' y2='0'></line>
            <g node *ngFor="let node of data.nodes; let node_index = index" 
            id='flw_node_{{node_index}}'
            [node]='node' 
            [selected]='isSelected(node_index)'
            [inputOffset]='inputOffset'
            [outputOffset]='outputOffset'
            (action)='nodeAction($event, node_index)'
            />
      </svg>

      
      <div class='button-row'>
            <button mat-icon-button disableRipple='true' (click)='addNode()' title="Add Node">
            <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button disableRipple='true' (click)='deleteSelectedNodes()' title="Delete Selected Node">
            <mat-icon>remove</mat-icon>
            </button>
            <button mat-icon-button disableRipple='true' (click)='deleteSelectedEdges()' title="Delete Selected Wires">
            <mat-icon>link_off</mat-icon>
            </button>

      </div>
      <button class='resetViewer-button' mat-icon-button disableRipple='true' (click)='resetViewer()' title="Reset Flowchart View">
            <mat-icon>control_camera</mat-icon>

      </button>
      

</div>



