<!--
<div id = 'flowchart-main-container'
      class='container' 
      (dragover)='dragNodeOver($event)'
      (drop)='dropNode($event)'
      (copy)='copyNode($event)'  
      (paste)='pasteNode($event)' 
      (wheel)="scale($event)"
      (mousedown)="panStart($event)"
      (mousemove)="panMove($event)"
      (mouseup)="panEnd($event)"
      >
      <button style="position: absolute; top: 10px; left: 22px;" class='btn' (click)='addNode()'> Add Node </button>
      <div class="transform--container">
            <node *ngFor="let node of data.nodes; let node_index = index" 
                  id='flw_node_{{node_index}}'
                  [node]='node' 
                  [node_index]='node_index'
                  [selected]='isSelected(node_index)'
                  [zoom]='zoom'
                  (action)='nodeAction($event, node_index)'>
            </node>
            
            <edge *ngFor="let e of data.edges; let edge_index = index"
                  [edge]='e' [temporary]='false'
                  (delete)='deleteEdge(edge_index);'></edge>
      
            <edge [edge]='edge' [temporary]='true' [mouse]='mouse' *ngIf='temporaryEdge'></edge>
            </div>
      </div>
-->
<div id = 'flowchart-main-container' class='container'>
      <svg id="svg-canvas" class = "svgCanvas" viewBox="0 0 1500 1500" 
      (mousedown)='panStart($event)'
      (mousemove)='handleMouseMove($event)'  
      (mouseup)='handleMouseUp($event)'
      (mouseenter)='activateKeyEvent()'
      (mouseleave)='deactivateKeyEvent()'
      (wheel)='scale($event)'
      >
            <defs>
                  <pattern id="smallGrid" width="20" height="20" patternUnits="userSpaceOnUse">
                    <path d="M 20 0 L 0 0 0 20" fill="none" stroke="gray" stroke-width="0.5"/>
                  </pattern>
                  <pattern id="grid" width="100" height="100" patternUnits="userSpaceOnUse">
                    <rect width="100" height="100" fill="url(#smallGrid)"/>
                    <path d="M 100 0 L 0 0 0 100" fill="none" stroke="gray" stroke-width="1"/>
                  </pattern>
                  <marker id="arrow" markerWidth="10" markerHeight="10" refX="0" refY="3" orient="auto" markerUnits="strokeWidth" viewBox="0 0 20 20">
                    <path d="M0,0 L0,6 L7,3 z" fill="green" />
                  </marker>
                  <marker id="arrow_selected" markerWidth="10" markerHeight="10" refX="0" refY="3" orient="auto" markerUnits="strokeWidth" viewBox="0 0 20 20">
                        <path d="M0,0 L0,6 L7,3 z" fill="blue" />
                  </marker>
            </defs>
            <rect width="100%" height="100%" fill="url(#grid)" />
                          
            <g edge *ngFor="let edge of data.edges; let edge_index = index" 
            [edge]='edge'
            [inputOffset]='inputOffset'
            [outputOffset]='outputOffset'
            (selected)='selectEdge($event, edge_index)'
            />
            <line id="temporary-wire" class="temp-wire" x1="0" y1='0' x2='0' y2='0'></line>
            <g node *ngFor="let node of data.nodes; let node_index = index" 
            id='flw_node_{{node_index}}'
            [node]='node' 
            [selected]='isSelected(node_index)'
            [inputOffset]='inputOffset'
            [outputOffset]='outputOffset'
            (action)='nodeAction($event, node_index)'
            />
      </svg>
      <button style='position: absolute; top: 0px; left: 10px; ' class='btn' (click)='addNode()'> Add Node </button>
      <button style='position: absolute; top: 0px; left: 77px; ' class='btn' (click)='deleteSelectedNodes()'> Delete Node </button>
      <button style='position: absolute; top: 0px; left: 157px;' class='btn' (click)='deleteSelectedEdges()'> Delete Wire </button>
</div>



