@import '~scss/colors';
@import '~scss/variables';

.container{
    margin: 5px 0px;
}

.container--parameter{
    margin: 5px 0px;

    display: flex;
    flex-flow: column nowrap;

    color: $color1;
    vertical-align: bottom;
    padding-bottom: 5px;
    border-bottom: 1px solid $color5;
    // border-left: 1px solid red;
    overflow: hidden;
    width: 100%;

    &.inputDisabled{
        opacity: 0.4;
    }
}

select{
    color: $color1;
    background-color: transparent;
    border: 0px;
    // border-left: 1px solid red;
    border-bottom: 1px solid $color1;
    height: $fsize1;
    font-family: sans-serif;
    font-size: $fsize2;

    &:hover, &:focus{
        background-color: $color7;
        color: $color8;
    }
}

.inline-div{
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    height: $fsize1+3px;
    padding-bottom: 3px;
}

input{
    color: $color1;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid $color1;
    
    // margin-left: 5px;
    max-width: 95%;
    vertical-align: bottom;
    padding: 0px 5px;

    font-family: sans-serif;
    font-size: $fsize2;
    &:hover, &:focus{
        background-color: $color7;
        color: $color8;
    }

    // &:focus{
    //     border-bottom: 2px solid $selected-color;
    // }

    &.disabled-input{
        padding: 0px;
        border-bottom: 0px; //2px solid transparent;
        &:hover{ // no change
            background-color: transparent;
            color: $color1;
        }
    }
}

.input-const-name{
    min-width: 100px;
}

.filebtn{
    height: 20px;
    margin: 0px;
    padding: 0px;
}

.btn{
    height: $fsize1;
    width: $fsize1;
    padding: 0px;

    background-color: transparent;
    border: none;
    float: right;
    color: $button-color;

    :hover{
        color: $selected-color;
    }
}

.icon{
    vertical-align: top;
    font-size: $fsize1;
    height: $fsize1;
    width: $fsize1;
}

.container--input{
    display: inline-flex; 
    flex-direction: row; 
}

.parameter__name{
    width: 100px;
    height: auto; 
    word-wrap: break-word;
}

// global types

.FFA{
    height: 2*$fsize3;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    // input:not(.disabled-input){
    //     background-color: $color7;
    // }
}

// slider

.div--slider{
    display: flex;
    flex-flow: column nowrap;

    .input--container{
        display:inline-flex;
        justify-content: space-between;
        width: 100%;
        max-width: 300px;
        vertical-align: middle;
        .slider-input{
            height: $fsize1;
            line-height:$fsize1;
        }
    }

    .slider--container{
        display: flex;
        flex-grow: 1;
        mat-slider{
            width: 100%;
            height: $fsize3;
            max-width: 300px;
            padding: 0px;
        }
    }
}

// parameter description

.descr--container{
    .inp--desc{
        font-size: $fsize2;
        max-width: 95%;
    }
}
