@import '~scss/colors';
@import '~scss/variables';

.container{
    margin: 5px 0px;
}

.container--parameter{
    display: inline-block; 
    flex-direction: row; 
    flex-wrap: wrap;
    color: $color1;
    vertical-align: bottom;
    padding-bottom: 5px;
    border-bottom: 1px solid $background-color;
    border-left: 1px solid $background-color;
    width: 100%;
}

select{
    color: $color1;
    background-color: $prod-background-color;
    border: 0px;
    border-left: 1px solid $background-color;
    border-bottom: 1px solid $background-color;
    height: 18px;
    font-family: sans-serif;

}

.inline-div{
    width: 100%;
    display: inline-block;
    height: 24px;
    padding-bottom: 3px;
}

input{
    color: $color1;
    background-color: $prod-background-color;
    border:none;
    border-bottom: 1px solid $color1;
    margin-left: 5px;
    max-width: 95%;
    vertical-align: bottom;

    font-family: sans-serif;

    &.disabled-input{
        border-bottom: none;
    }
}

.inp--desc{
    font-size: $fsize2;
    max-width: 95%;
}


.input-const-name{
    min-width: 100px;
}

.btn{
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: none;
    float: right;
    color: $button-color;

    &.highlighted{
        background-color: rgb(255,150,150);
    }
}

// .container:hover .btn {display: block}

.icon{
    vertical-align: top;
    font-size: $fsize1;
}



.slider-val{
    color: $color1;
    resize: horizontal;
    size: 2;
    min-width: 1px;
    max-width: 300px;
    width: $fsize1;
}

.container--input{
    display: inline-flex; 
    flex-direction: row; 
  }

.div--slider{
    display: inline-flex; 
    flex-direction: row; 
}


.parameter__name{
    width: 100px;
    height: auto; 
    word-wrap: break-word;
}

mat-slider {
    width: 300px;
}
