<div class='container container--parameter'>
    <input [class.disabled-input]='true' value='{{prod.args[prod.argCount-2].value||"Undefined"}}:' size='15' disabled>

    <select name={{prod.id}}_type [(ngModel)]="prod.meta.inputMode" tabindex="-1">
        <option 
            *ngFor="let ptype of PortTypesArr" 
            [value]="PortTypes[ptype]" 
            [selected]="prod.meta.inputMode == ptype">{{ptype}}</option>
    </select>
    <ng-container [ngSwitch]="prod.meta.inputMode" >
        <input *ngSwitchCase="PortTypes.SimpleInput" [(ngModel)]='prod.args[prod.argCount-1].default' placeholder='Default Value' size={{prod.args[prod.argCount-1].default.length||13}}>

        <div class='div--slider' *ngSwitchCase="PortTypes.Slider">
            <input [(ngModel)]='prod.args[prod.argCount-1].min' placeholder='Min' size={{prod.args[prod.argCount-1].min?.length||1}}>
            <input [(ngModel)]='prod.args[prod.argCount-1].max' placeholder='Max' size={{prod.args[prod.argCount-1].max?.length||1}}>
            <mat-slider
                [(ngModel)]='prod.args[prod.argCount-1].default'
                thumbLabel
                tickInterval="auto"
                min={{prod.args[prod.argCount-1].min||0}}
                max={{prod.args[prod.argCount-1].max||100}}></mat-slider>
            <input [class.disabled-input]='true' [(ngModel)]='prod.args[prod.argCount-1].default' size={{prod.args[prod.argCount-1].default?.length||1}} disabled>

        </div>
        <input *ngSwitchCase="PortTypes.Checkbox" [(ngModel)]='prod.args[prod.argCount-1].default' name='prod.args[prod.argCount-1].default' type="checkbox">
        <input *ngSwitchCase="PortTypes.URL" [(ngModel)]='prod.args[prod.argCount-1].default' name='prod.args[prod.argCount-1].default' placeholder='Default URL'>
        <input *ngSwitchCase="PortTypes.File" (change)="onFileChange($event)" type="file">
    </ng-container>

    
    <!--
    <div class='parameter__name' [ngSwitch]="prod.meta.mode">
        <input *ngSwitchCase="PortTypes.SimpleInput" [(ngModel)]='prod.args[prod.argCount-1].default' name='prod.args[prod.argCount-1].default' placeholder='Default Value'>
        <div *ngSwitchCase="PortTypes.Slider">
            <input [(ngModel)]='prod.args[prod.argCount-1].default' value='prod.args[prod.argCount-1].default' disabled>
            <input [(ngModel)]='prod.args[prod.argCount-1].default' name='prod.args[prod.argCount-1].default' type="range" >
        </div>
        <input *ngSwitchCase="PortTypes.Checkbox" [(ngModel)]='prod.args[prod.argCount-1].default' name='prod.args[prod.argCount-1].default' type="checkbox">
        <input *ngSwitchCase="PortTypes.URL" [(ngModel)]='prod.args[prod.argCount-1].default' name='prod.args[prod.argCount-1].default' placeholder='Default URL'>
        <input *ngSwitchCase="PortTypes.File" (change)="onFileChange($event)" type="file">
    </div>

    <select name={{prod.name}}_type *ngIf="prod.parentNode.type=='start'"  [(ngModel)]="prod.meta.mode">
        <option 
            *ngFor="let ptype of PortTypesArr" 
            [value]="PortTypes[ptype]" 
            [selected]="prod.meta.mode == ptype">{{ptype}}</option>
    </select>
    -->

</div>

