/*
$color-main: #2D4885;
$color-accent: #50ABB9;
$color-muted: #88D4DD;
$color-text-accent: #DC772F;
*/

$default-padding: 4px;
.node--header{
    width: 100px;
    height: 15px;
    fill:blue;
    stroke-width:$default-padding;
    stroke: white;
    fill-opacity:0.3;
    stroke-opacity: 1;
    stroke-linecap: round;
    stroke-linejoin: round;

    &.node--start{
        fill: green;
    }

    &.node--end{
        fill: red;
    }

    &.node--selected{
        stroke: blue;
    }

    &.node--error{
        stroke: red;
    }

}

.node{
    fill:rgb(199, 200, 230);
    stroke-width:$default-padding;
    stroke: white;
    stroke-opacity: 1;
    stroke-linecap: round;
    stroke-linejoin: round;


    &.node--start{
        fill: rgb(199, 226, 204);
    }

    &.node--end{
        fill: rgb(225, 200, 204);
    }

    &.node--selected{
        stroke: blue;
    }

    &.node--error{
        stroke: red;
    }

}

.textdiv{
    text-align: center; 
    width: 94px;
}

.foreignObject{
    width: 100; 
    height: 80;
}

textarea{
    font-family: sans-serif; 
    background: transparent; 
    display:inline-block;
    border:none; 
    font-size: 14px; 
    width: 100%; 
    height: 70px;
    text-align: center; 
    vertical-align: middle;
    resize: none; 
    overflow: hidden;
}

.textarea_startend{
    font-size: 18px; 
    font-weight: 600; 
    color:black;
    height: 20px;
    pointer-events: none;
}

.port{
    width: 16px;
    height: 12px;
    fill:black;
}
