<!--
<div class='node' 
    [class.node--selected]='selected'
    [class.node--error]="node.hasError"
    id='n{{node_index}}'
    draggable='true'
    [style.top.px]='node.position.y'
    [style.left.px]='node.position.x'
    ngDraggable
    [node]='node'
    [zoom]='zoom'
    (dragged)='updatePosition($event)'
    (click)='nodeSelect($event)'>
    
    <div class="node__name">
        <input autocomplete=off [(ngModel)]='node.name'
               name='node.name'
               placeholder='Name of Node'>  
    </div>

    <div class='node__body'>
        
        <div class='container--input'>
            <port 
            [data]='node.input' 
            [zoom]='zoom'
            [dragable]='inputDragable()' 
            (connected)='nodeConnected($event)'></port>
        </div>

        <div class='container--output'>
            <port class='port--invert' 
            [data]='node.output' 
            [zoom]='zoom'
            [dragable]='outputDragable()'  
            (connected)='nodeConnected($event)'></port>
        </div>

    </div>

    <div class='node__actions'>
        <button *ngIf="node.type!='start' && node.type!='end'" (click)='nodeDelete()'>Delete</button>
        <button *ngIf="node.type!='start' && node.type!='end'" (click)='nodeCopy()'>Copy</button>
    </div>
</div>
-->

<!-- svg group for the selectable and draggable area of the node -->
<svg:g (click)='nodeSelect($event)' draggable="true" (mousedown)='startDragNode($event)'>
    <rect class="node" 
        [class.node--selected]='selected'
        [class.node--error]="node.hasError"
        [attr.x]="node.position.x" 
        [attr.y]="node.position.y"
        />
    <text [attr.x]="node.position.x+3" [attr.y]="node.position.y + 38">{{node.input.name}}</text>
    <text text-anchor="end" [attr.x]="node.position.x+95" [attr.y]="node.position.y + 68">{{node.output.name}}</text>
</svg:g>

<!-- svg group for other area of the node: editable node name, draggable part of the input/output port -->
<svg:g>
    <circle *ngIf="inputDraggable()" 
    id = 'node.input.id'
    (mousedown)='startDragPort($event, "input")' 
    (mouseup)='dropPort($event, "input")' 
    [attr.cx]="node.position.x + inputOffset[0]" 
    [attr.cy]="node.position.y + inputOffset[1]" 
    pointer-events="fill"
    r="8" 
    fill="black"/>
    <circle *ngIf="outputDraggable()" 
    id = 'node.output.id'
    (mousedown)='startDragPort($event, "output")' 
    (mouseup)='dropPort($event, "output")' 
    [attr.cx]="node.position.x + outputOffset[0]" 
    [attr.cy]="node.position.y + outputOffset[1]" 
    pointer-events="fill"
    r="8"
    fill="black"/>
</svg:g>

<svg:foreignObject [attr.x]="node.position.x + 3" [attr.y]="node.position.y + 3" 
(mousedown)='stopPropagation($event)'
(click)='stopPropagation($event)'>
    <xhtml:div style="background-color: white; text-align: center; width: 94px">
        <xhtml:input style="font-size: 10px; width: 95%; text-align: center"
            autocomplete=off 
            [(ngModel)]='node.name'
            name='node.name'
            placeholder='Name of Node'/>  
    </xhtml:div>
</svg:foreignObject>


