<div id="AttribsView"  style="background-color: rgba(20,20,20,0.9);height: 100%;overflow-y:overlay;"  >
	<table border="1" cellspacing="0" cellpadding="0" bordercolor="#d0d0d0">
	  <tr >
	    <th style="font-size: 10px;font-weight: normal;width: 135px;"><div style="width: 135px;height:16px;background: #395D73;color:white;white-space: nowrap;display:block;overflow: hidden !important;text-overflow: ellipsis !important;cursor:pointer;">ID</div></th>
	    <th style="font-size: 10px;font-weight: normal;width: 135px"><div matTooltip={{ID}} style="width: 135px;height:16px;background: #395D73;color:white;white-space: nowrap;display:block;overflow: hidden !important;text-overflow: ellipsis !important;cursor:pointer;">{{ID}}</div></th>
	  </tr>
	</table>
	<table border="1" cellspacing="0" cellpadding="0" bordercolor="#d0d0d0">
	  <tr *ngFor="let Property of _Properties">
	    <th style="font-size: 10px;font-weight: normal;color:#D3D3D3 ;width: 135px;height: 14px"><div matTooltip={{Property.Name}} style="width: 135px;height:14px;text-align: left;white-space: nowrap;display:block;overflow: hidden !important;text-overflow: ellipsis !important;cursor:pointer;">{{Property.Name}}</div></th>
	    <th style="font-size: 10px;font-weight: normal;color:#D3D3D3 ;width: 135px;height: 14px"><div matTooltip={{Property.Value}} style="width: 135px;height:14px;text-align: left;white-space: nowrap;display:block;overflow: hidden !important;text-overflow: ellipsis !important;cursor:pointer;">{{Property.Value}}</div></th>
	  </tr>
	</table>
</div>
  