@import '~scss/colors';
@import '~scss/variables';

.container{
    display: block;
    height: 100%;
    overflow: auto;
}
.content__panel{
    margin-top: 1px;
    margin-left: 11px; //split bar width
    // max-width: 600px;
    height: auto;

    .logo{
        float: right;
        margin-right: 50px;
    }
    .text{
        max-width: 600px;
    }
    .key {
        margin-left: 25px;
        td {
            padding: 10px;
            valign: 'top';
        }
    }
}

h3 {
    line-height: 30px;
    height: 30px;
    color: $color8;
}

p, li, td{
    color: $color8;
    text-align: left;
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 18px;
    //height: 14px;
}

mat-icon{
    color: $color1;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 5px;
    cursor: pointer;
}