#publishwindow{
  position: relative;
  height: 100%;
  width: 100%;
  color:#D3D3D3 !important;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 14px !important;
  line-height: 16px;
  overflow-x: hidden !important;
}

/deep/split-gutter{
  background-color:rgb(138, 168, 192) !important;
}

/deep/.mat-accent .mat-slider-thumb {
    background-color: #8AA8C0 !important;
    cursor: -webkit-grab;
    padding: 0px;
    height: 24px;
    /*min-width: 50px;*/
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/deep/.mat-slider-thumb{
  width: 5px !important;
  right: -5px !important;
}

/deep/.mat-slider-track-fill{
  background-color: #F0BFA0 !important;
}

/deep/.mat-slider-thumb-label-text {
    color: #395d73 !important;
    font-size: 12px !important;
}
/deep/.mat-slider-thumb-label{
    height: 15px !important;
    width: 15px !important;
    top: -20px !important;
    right: -7px !important;
    background-color: white !important;
    border: 1px solid #395d73 !important;
}
/deep/.mat-slider-track-background{
  background-color: #D3D3D3 !important;
}
.mat-slider{
    width: 100%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    outline: 0;
    vertical-align: middle;
}

.cesium-button {
  display: inline-block;
  position: relative;
  border: 1px solid #8AA8C0;
  color: #D3D3D3;
  fill: #8AA8C0;
  border-radius: 0px;
  padding: 3px 0px;
  margin: 0px 0px;
  cursor: pointer;
  overflow: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 80px;
  font-family:sans-serif !important;
  background: transparent;
}
.cesium-button-select{
  display: inline-block;
  position: relative;
  border: 1px solid #8AA8C0;
  fill: #8AA8C0;
  border-radius: 0px;
  padding: 3px 0px;
  margin: 0px 0px;
  cursor: pointer;
  overflow: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 80px;
  font-family:sans-serif !important;
  color: #D3D3D3;
  background: transparent;
}
.cesium-option{
  background-color: #F1F1F1;
  /*opacity: 0.8;*/
  color: #8AA8C0;
  border: 1px solid #8AA8C0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #D3D3D3 !important;
  padding: 0; 
  color:#D3D3D3 !important;
  width: 100%;
  background-color: #D3D3D3 !important;
}
