<div class='flowchart-info'>
    <input [(ngModel)]='flowchart.name' size={{flowchart.name?.length||1}}>
    <textarea autogrow [(ngModel)]='flowchart.description' placeholder="flowchart description"></textarea>
</div>
<hr>
<div class='container--input'>
    <procedure-input-editor *ngFor="let prod of node.procedure" [prod]="prod" ></procedure-input-editor>
</div>

<!--
<section *ngIf="node.type != 'end'">
    <panel-header [node]='node' [title]="'inputs'"></panel-header>
    <div class='container--input'>
        <input-port-editor [port]="node?.input" ></input-port-editor>
    </div>
</section>
<section *ngIf="node.type != 'start'">
    <panel-header [node]='node' [title]="'output'"></panel-header>
    <div class='container--output'>
        <output-port-editor [port]="node?.output" ></output-port-editor>
    </div>
</section>
-->
