<div class='flowchart-info' *ngIf="node.type=='start'">
    <div class = 'input-container'>
        <input id='flowchart-name' [(ngModel)]='flowchart.name' placeholder="flowchart name" [style.width.px]='inputSize(flowchart.name||"flowchart name")'>
    </div>
    <textarea autogrow
    id='flowchart-desc' [(ngModel)]='flowchart.description' placeholder="flowchart description"></textarea>
    <hr>
    <div class='container--input'>
        <procedure-input-editor *ngFor="let prod of node.procedure; let i = index;" [prod]="prod" (delete)='deleteProd(i)'></procedure-input-editor>
    </div>
</div>
<div class='flowchart-info' *ngIf="node.type=='end'">
    <input class='disabled-input' value="Return Description:" disabled>
    <textarea autogrow
    id='flowchart-return' [(ngModel)]='flowchart.returnDescription' placeholder="void"></textarea>
    
</div>

<!--
<section *ngIf="node.type != 'end'">
    <panel-header [node]='node' [title]="'inputs'"></panel-header>
    <div class='container--input'>
        <input-port-editor [port]="node?.input" ></input-port-editor>
    </div>
</section>
<section *ngIf="node.type != 'start'">
    <panel-header [node]='node' [title]="'output'"></panel-header>
    <div class='container--output'>
        <output-port-editor [port]="node?.output" ></output-port-editor>
    </div>
</section>
-->
