@import '~scss/colors';
@import '~scss/variables';

div[class^="container--"]{
    display: flex; 
    flex-direction: column;
    padding-left: 10px;

    margin: 0px 0px;
}

.flowchart-info{
    display: grid;
    padding-left: 10px;
    margin: 5px 0px;
    width: 100%;
}

input{
    color: $color1;
    // background-color: pink;
    border:none;
    width: fit-content;
    // border-left: 1px solid $color1;
    // border-bottom: 1px solid $color1;
    padding: 5px;
    margin-left: 3px;
    font-weight: 600;
    font-style: italic;
    min-width: 40px;
    max-width: 300px;
    font-size: $fsize2;
    vertical-align: bottom;
    &.disabled-input{
        border-bottom: none;
    }
    &:hover, &:focus{
        color: $color8;
    }
}

textarea{
    color: $color1;
    // background-color: pink;
    border:none;
    // border-left: 1px solid $color1;
    // border-bottom: 1px solid $color1;
    padding-left: 5px;
    font-family: sans-serif;
    font-size: $fsize2;
    margin: 10px 0px 5px 3px;
    width: 90%;
    resize: none; 
    white-space: nowrap;
    overflow: hidden;
    &:hover, &:focus{
        color: $color8;
    }
}

hr{
    width: inherit;
    border-top: 2px solid $color1;
}