@import '~scss/colors';
@import '~scss/variables';

div[class^="container--"]{
    display: flex; 
    flex-direction: column;
    padding-left: 10px;

    margin: 0px 0px;
}

.flowchart-info{
    display: grid;
    padding-left: 10px;
    margin: 5px 0px;
    width: 100%;
}

input{
    color: $text-color;
    background-color: $prod-background-color;
    border:none;
    width: fit-content;
    border-left: 1px solid $background-color;
    border-bottom: 1px solid $background-color;
    padding: 5px;
    margin-left: 3px;
    font-weight: 600;
    font-style: italic;
    min-width: 40px;
    max-width: 300px;
    font-size: 12px;
    vertical-align: bottom;
    &.disabled-input{
        border-bottom: none;
    }
}

textarea{
    color: $text-color;
    background-color: $prod-background-color;
    border:none;
    border-left: 1px solid $background-color;
    border-bottom: 1px solid $background-color;
    padding-left: 5px;
    font-family: sans-serif;
    font-size: 12px;
    margin: 10px 0px 5px 3px;
    width: 90%;
    resize: none; 
}

hr{
    width: inherit;
    border-top: 2px solid $background-color;
}