@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@font-face{
  font-family: "FontAwesome";
}

.font-awesome-hand{
  font-family: FontAwesome;
}

.font-awesome-hand::after{
  font-family: FontAwesome;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  margin: 0px;
  padding: 0px;
}

#appdiv {
  //position: absolute;
  //width: 100%;
  height: 650px;
  background-color: white;
}
#splittoolwindow{
  overflow:scroll !important;
}


a { text-decoration: none; color: #fff; text-transform: uppercase; }
.toolbar { background-color: #333; }
.toolbar ul { list-style: none; overflow: hidden; margin-bottom: 0px; z-index: 1; }
.toolbar div > ul > li { display:inline-block; float: left; }
.toolbar div > ul > li:hover { background-color: #fff; }
.toolbar div > ul > li:hover a { color: #333; }
.toolbar div > ul > li > a { 
  font-size: 12px;
  line-height: 20px;
  display: block; float: left;
  padding: 0 16px;
}
/**
 * Carets
 */
.toolbar div ul li i.icon-sort { display: none; }
.toolbar div ul li:hover i.icon-sort { display: inline; }
.toolbar div ul li:hover i.icon-caret-down { display: none; }
.toolbar .dropdown i {
  margin: 0px;
}
.toolbar div > ul > li > a:hover {
  background-color: #fff; 
  color: #333
} 
.dropdown { float: left; }
/**
 * Sub navigaton
 **/
.sub { 
  min-width: 180px; margin: 20px;
  display: none; position: absolute; 
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb
}
.sub li a { 
  display: block; 
  background-color: #fff;
  color: #333 !important;
  border-left: 4px solid #fff;
  padding: 4px 12px;
  font-size: 12px;
  line-height: 26px;
}
.sub li a:hover { 
  border-left: 4px solid #ff0000;
  float: top;
}
.toolbar div > ul > li:hover .sub { display: block; }
.sub li a { -webkit-transition: all .5s linear ; -moz-transition: all .5s linear ; -ms-transition: all .5s linear ; -o-transition: all .5s linear ; transition: all .5s linear ; overflow: hidden; }

#toolwindow {
    position: relative;
    background-color: slategrey;
}

.sidebar {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
}

.tool-form {
    padding-top: 10px;
    padding-left: 10px;
    color: white;
}
.tool-form-heading{ 
    border-bottom: 2px solid #ddd;
    margin: 0px;
    padding-bottom: 3px;
}
.tool-form label{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color:black;
    display: block;
    margin: 0px 0px 15px 0px;
}
.tool-form label > span{
    width: 150px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    float: left;
    padding-top: 4px;
    padding-right: 5px;
}
.tool-form span.required{
    color:red;
}
.tool-form .tel-number-field{
    width: 30px;
    text-align: center;
}
.tool-form input.input-field{
    width: 30px;
}
.tool-form input.file-input-field{
    border: 1px solid #ccc;
    height: 20px;
    display: inline-block;
    padding: 6px 6px;
    cursor: pointer; 
    background-color: #888888;
}
.tool-form input.input-field, 
.tool-form .tel-number-field, 
.tool-form .textarea-field, 
.tool-form .select-field{
   height: 20px;
   overflow: hidden;
   width: 240px;
   background-color: #888888;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   color: #ffffff;
}
.tool-form .input-field:focus, 
.tool-form .tel-number-field:focus, 
.tool-form .textarea-field:focus,  
.tool-form .select-field:focus{
    border: 1px solid #0C0;
}
.tool-form .textarea-field{
    height:100px;
    width: 55%;
}
.tool-form input[type=submit],
.tool-form input[type=button]{
    height: 25px;
    border: none;
    padding: 2px 8px 2px 8px;
    background: #444466;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #ffffff;
}
.tool-form input[type=submit]:hover,
.tool-form input[type=button]:hover{
    background: #333377;
    color: #fff;
}

.rightstyle {
  width: 30px;
  height: 100%;
  float: right;
  background: #FFFFFF;
  background-repeat: repeat; 
  background-attachment: scroll; 
  overflow: auto; 
}

.leftstyle {
    background: #e6e6e6;
    height: 100%;
}

.slider {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right: 10px solid black;
    border-bottom: 30px solid transparent;

}
