<div id="appdiv" (mousedown)="leaflet()">
	<as-split direction="vertical">
		<as-split-area [size]="90" id="splitcontainer">
		  <div style="height: 100%">
		    <as-split direction="horizontal">
		      <as-split-area [size]="0.5" id="splitgroups" style="overflow-x:hidden;overflow-y: auto;">
		        <app-groups></app-groups>
		      </as-split-area>
		      <as-split-area [size]="99.5" id="splitviewer">
		        <!-- <app-viewer *ngIf="imVisible===false"></app-viewer>
		        <app-map *ngIf="imVisible===true"></app-map> -->
		        <app-viewer></app-viewer>
		      </as-split-area>
		    </as-split>
		  </div>
		</as-split-area>
		<as-split-area [size]="10" id="splittoolwindow">
			<app-toolwindow></app-toolwindow>
		</as-split-area>
	</as-split>
</div>