@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@font-face{
  font-family: "FontAwesome";
}

.font-awesome-hand{
  font-family: FontAwesome;
}

.font-awesome-hand::after{
  font-family: FontAwesome;
}

#mobiuscesium{
    height: 101%; 
    font-family: sans-serif !important;
    margin: 0px !important;
  	padding: 0px !important;
  	font-size: 14px;
}
#button{
  position:absolute;
  z-index: 99;

}
#Toggle{
  position: absolute;
  top: calc(50% - 30px);
  z-index: 200;
  width: 30px;
  height: 70px;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: rgba(20, 20, 20, 0.5);
  color: #ddd;
  text-align: center;
  font-size: 32px;
  line-height: 70px;
  cursor: pointer;
}
