<div class='container--line' 
    [class.selected]="data.selected"
    [class.error]="data.hasError"
    [ngSwitch]="data.type"
    (click)='emitSelect($event, data)'>

    <!-- Variable Assignment Template -->
    <div class='line--variable' *ngSwitchCase="ProcedureTypes.Variable">
        <input 
               [ngModel]='data.args[0].value'
               (ngModelChange)='data.args[0].value=varMod($event)'
               name='data.args[0].name'
               placeholder={{data.args[0].name}}>  
        = 
        <input 
               [(ngModel)]='data.args[1].value'
               name='data.args[1].name'
               placeholder={{data.args[1].name}}>  
    </div>

    <!-- IF Template -->
    <div class='line--if hasChildren' *ngSwitchCase="ProcedureTypes.If">
       if ( <input (cut)='stopProp()' (paste)='stopProp()'
               [(ngModel)]='data.args[0].value'
               name='data.args[0].name'
               placeholder={{data.args[0].name}}>  )
        <div class='container--nested'>
                <procedure-item 
                    *ngFor="let line of data?.children; let idx=index" 
                    [data]="line"
                    (select)='selectChild($event, line)'
                    (delete)='deleteChild($event, idx)'></procedure-item>
        </div>

    </div>

    <!-- ELSEIF Template -->
    <div class='line--Elseif hasChildren' *ngSwitchCase="ProcedureTypes.Elseif">
       Elseif ( <input (cut)='stopProp()' (paste)='stopProp()' 
               [(ngModel)]='data.args[0].value'
               name='data.args[0].name'
               placeholder={{data.args[0].name}}>  )
        <div class='container--nested'>
                <procedure-item 
                    *ngFor="let line of data?.children; let idx=index" 
                    [data]="line"
                    (select)='selectChild($event, line)'
                    (delete)='deleteChild($event, idx)'></procedure-item>
        </div>
    </div>

    <!-- ELSE Template -->
    <div class='line--else hasChildren' *ngSwitchCase="ProcedureTypes.Else">
        else
        <div class='container--nested'>
        <procedure-item 
            *ngFor="let line of data?.children; let idx=index" 
            [data]="line"
            (select)='selectChild($event, line)'
            (delete)='deleteChild($event, idx)'></procedure-item>

        </div>
    </div>

    <!-- BREAK Template -->
    <div class='line--break' *ngSwitchCase="ProcedureTypes.Break">
       break
    </div>

    <!-- CONTINUE Template -->
    <div class='line--continue' *ngSwitchCase="ProcedureTypes.Continue">
       continue
    </div>


<!-- FOREACH Template -->
    <div class='line--foreach hasChildren' *ngSwitchCase="ProcedureTypes.Foreach">
            for 
            <input (cut)='stopProp()' (paste)='stopProp()'
                   [(ngModel)]='data.args[0].value'
                   name='data.args[0].name'
                   placeholder={{data.args[0].name}}>  
            in 
            <input (cut)='stopProp()' (paste)='stopProp()'
                   [(ngModel)]='data.args[1].value'
                   name='data.args[1].name'
                   placeholder={{data.args[1].name}}>  
                   
            <div class='container--nested'>
                <procedure-item 
                    *ngFor="let line of data?.children; let idx=index" 
                    [data]="line"
                    (select)='selectChild($event, line)'
                    (delete)='deleteChild($event, idx)'></procedure-item>
            </div>
    </div>

    <!-- WHILE Template -->
    <div class='line--foreach hasChildren' *ngSwitchCase="ProcedureTypes.While">
            while 
            <input (cut)='stopProp()' (paste)='stopProp()'
                   [(ngModel)]='data.args[0].value'
                   name='data.args[0].name'
                   placeholder={{data.args[0].name}}>  

            <div class='container--nested'>
                <procedure-item 
                    *ngFor="let line of data?.children; let idx=index" 
                    [data]="line"
                    (select)='selectChild($event, line)'
                    (delete)='deleteChild($event, idx)'></procedure-item>
            </div>
    </div>
    
    <!-- Function Template -->
    <div class='line--function' *ngSwitchCase="ProcedureTypes.Function">
        <input 
                [ngModel]='data.args[0].value'
                (ngModelChange)='data.args[0].value=varMod($event)'
                (cut)='stopProp()' 
                (paste)='stopProp()'
                placeholder={{data.args[0].name}}>  
        = 
        {{data.meta.module}}.{{data.meta.name}}(
        <ng-container *ngFor='let p of data.args.slice(1);let i=index'>
            <!--
            <input *ngIf="p.name.toUpperCase() !== '__MODEL__'; else text_template" 
            
            (cut)='stopProp()' 
            (paste)='stopProp()' 
            [(ngModel)]='p.value' 
            placeholder={{p.name}}>    
            
            <ng-template #text_template>
                model,
            </ng-template>
            -->

            <input *ngIf="p.name.indexOf('__') == -1; else model_template" 
                    (cut)='stopProp()' 
                    (paste)='stopProp()' 
                    [(ngModel)]='p.value' 
                    placeholder={{p.name}}>    
            
            <ng-template #model_template>
                <ng-container *ngIf="p.name.toUpperCase() == '__MODEL__'; else params_template">
                    model,
                </ng-container>
            </ng-template>
            <ng-template #params_template>
                <ng-container *ngIf="p.name.toUpperCase() == '__PARAMS__';">
                    const_list,
                </ng-container>
            </ng-template>

        </ng-container>
        ) 

    </div>

    <!-- Imported Function Template -->
    <div class='line--imported' *ngSwitchCase="ProcedureTypes.Imported">
        <input 
                [ngModel]='data.args[0].value'
                (ngModelChange)='data.args[0].value=varMod($event)'
                (cut)='stopProp()' (paste)='stopProp()'
                placeholder={{data.args[0].name}}>  
        = 
        {{ data.meta.name }} 
        (
            <ng-container *ngFor='let p of data.args.slice(1);let i=index'>
                <input (cut)='stopProp()' (paste)='stopProp()' [(ngModel)]='p.value' placeholder={{p.name}}>    
            </ng-container>
        ) 

    </div>


               
    <button class='btn btn--delete' (click)='emitDelete()'>Delete</button>

</div>
