<div class='container--line' [ngSwitch]="data.type">

    <!-- Variable Assignment Template -->
    <div class='line--variable' *ngSwitchCase="ProcedureTypes.VARIABLE">
        <input [(ngModel)]='data.args[0].value'
               name='data.args[0].name'
               placeholder={{data.args[0].name}}>  
        = 
        <input [(ngModel)]='data.args[1].value'
               name='data.args[1].name'
               placeholder={{data.args[1].name}}>  
    </div>

    <!-- Function Template -->
    <div class='line--function' *ngSwitchCase="ProcedureTypes.FUNCTION">
            <input [(ngModel)]='data.args[0].value'
                    placeholder={{data.args[0].name}}>  
            = 
            {{ data.meta.module }} ::: {{ data.meta.name }} 
            (
                <ng-container *ngFor='let p of data.args.slice(1);let i=index'>
                    <input [(ngModel)]='p.value' placeholder={{p.name}}>    
                </ng-container>
            ) 

    </div>

    <!-- Variable Assignment Template -->
    <div class='line--foreach hasChildren' *ngSwitchCase="ProcedureTypes.FOREACH">
            for 
            <input [(ngModel)]='data.args[0].value'
                   name='data.args[0].name'
                   placeholder={{data.args[0].name}}>  
            in 
            <input [(ngModel)]='data.args[1].value'
                   name='data.args[1].name'
                   placeholder={{data.args[1].name}}>  
                   
            <div class='container--nested'>
                <procedure-item 
                    *ngFor="let line of data?.children; let idx=index" 
                    [data]="line"
                    (delete)='deleteChild($event, idx)'></procedure-item>
            </div>
    </div>
               
    <button class='btn btn--delete' (click)='emitDelete()'>Delete</button>

</div>
