<div class='container--line' 
    [class.selected]="data.selected"
    [class.error]="data.hasError"
    [ngSwitch]="data.type"
    (click)='emitSelect($event, data)'
    (copy)='copyProd($event,data)'
    (cut) ='cutProd($event,data)'
    (paste)='pasteProd($event,data)'>

    <!-- Variable Assignment Template -->
    <div class='line--variable' *ngSwitchCase="ProcedureTypes.VARIABLE">
        <input [(ngModel)]='data.args[0].value'
               name='data.args[0].name'
               placeholder={{data.args[0].name}}>  
        = 
        <input [(ngModel)]='data.args[1].value'
               name='data.args[1].name'
               placeholder={{data.args[1].name}}>  
    </div>

    <!-- IF Template -->
    <div class='line--if hasChildren' *ngSwitchCase="ProcedureTypes.IF">
       if ( <input [(ngModel)]='data.args[0].value'
               name='data.args[0].name'
               placeholder={{data.args[0].name}}>  )
        <div class='container--nested'>
                <procedure-item 
                    *ngFor="let line of data?.children; let idx=index" 
                    [data]="line"
                    (select)='selectChild($event, line)'
                    (delete)='deleteChild($event, idx)'
                    (copied)='copyChild($event)'
                    (pasteOn)='pasteChild($event)'></procedure-item>
        </div>

    </div>

    <!-- ELSEIF Template -->
    <div class='line--elseif hasChildren' *ngSwitchCase="ProcedureTypes.ELSEIF">
       elseif ( <input [(ngModel)]='data.args[0].value'
               name='data.args[0].name'
               placeholder={{data.args[0].name}}>  )
        <div class='container--nested'>
                <procedure-item 
                    *ngFor="let line of data?.children; let idx=index" 
                    [data]="line"
                    (select)='selectChild($event, line)'
                    (delete)='deleteChild($event, idx)'
                    (copied)='copyChild($event)'
                    (pasteOn)='pasteChild($event)'></procedure-item>
        </div>
    </div>

    <!-- ELSE Template -->
    <div class='line--else hasChildren' *ngSwitchCase="ProcedureTypes.ELSE">
        else
        <div class='container--nested'>
        <procedure-item 
            *ngFor="let line of data?.children; let idx=index" 
            [data]="line"
            (select)='selectChild($event, line)'
            (delete)='deleteChild($event, idx)'
            (copied)='copyChild($event)'
            (pasteOn)='pasteChild($event)'></procedure-item>

        </div>
    </div>

    <!-- BREAK Template -->
    <div class='line--break' *ngSwitchCase="ProcedureTypes.BREAK">
       break
    </div>

    <!-- CONTINUE Template -->
    <div class='line--continue' *ngSwitchCase="ProcedureTypes.CONTINUE">
       continue
    </div>

    <!-- Function Template -->
    <div class='line--function' *ngSwitchCase="ProcedureTypes.FUNCTION">
        <input [(ngModel)]='data.args[0].value'
                placeholder={{data.args[0].name}}>  
        = 
        {{ data.meta.module }}.{{ data.meta.name }} 
        (
            <ng-container *ngFor='let p of data.args.slice(1);let i=index'>
                <input [(ngModel)]='p.value' placeholder={{p.name}}>    
            </ng-container>
        ) 

    </div>


<!-- FOREACH Template -->
    <div class='line--foreach hasChildren' *ngSwitchCase="ProcedureTypes.FOREACH">
            for 
            <input [(ngModel)]='data.args[0].value'
                   name='data.args[0].name'
                   placeholder={{data.args[0].name}}>  
            in 
            <input [(ngModel)]='data.args[1].value'
                   name='data.args[1].name'
                   placeholder={{data.args[1].name}}>  
                   
            <div class='container--nested'>
                <procedure-item 
                    *ngFor="let line of data?.children; let idx=index" 
                    [data]="line"
                    (select)='selectChild($event, line)'
                    (delete)='deleteChild($event, idx)'
                    (copied)='copyChild($event)'
                    (pasteOn)='pasteChild($event)'></procedure-item>
            </div>
    </div>

    <!-- WHILE Template -->
    <div class='line--foreach hasChildren' *ngSwitchCase="ProcedureTypes.WHILE">
            while 
            <input [(ngModel)]='data.args[0].value'
                   name='data.args[0].name'
                   placeholder={{data.args[0].name}}>  

            <div class='container--nested'>
                <procedure-item 
                    *ngFor="let line of data?.children; let idx=index" 
                    [data]="line"
                    (select)='selectChild($event, line)'
                    (delete)='deleteChild($event, idx)'
                    (copied)='copyChild($event)'
                    (pasteOn)='pasteChild($event)'></procedure-item>
            </div>
    </div>
    
    <!-- Imported Function Template -->
    <div class='line--imported' *ngSwitchCase="ProcedureTypes.IMPORTED">
        <input [(ngModel)]='data.args[0].value'
                placeholder={{data.args[0].name}}>  
        = 
        {{ data.meta.name }} 
        (
            <ng-container *ngFor='let p of data.args.slice(1);let i=index'>
                <input [(ngModel)]='p.value' placeholder={{p.name}}>    
            </ng-container>
        ) 

    </div>


               
    <button class='btn btn--delete' (click)='emitDelete()'>Delete</button>

</div>
