<div class='container--editor' (mouseenter)='activateCopyPaste()'  (mouseleave)='deactivateCopyPaste()'
(copy)='copyProd()' (cut)='cutProd($event)' (paste)='pasteProd($event)'>

	<div class='container__heading'>
		<h2>{{node?.name}}</h2>
	</div>

	<div class='container__content'>
		<toolset [functions]='functions' [prodCount]='node.procedure.length' [nodeType]='node.type' (select)='add($event)' (imported)='importFunction($event)'></toolset>
		
		<div id='procedure' class="container--procedure">
			<procedure-item 
				*ngFor="let line of node?.procedure; let idx=index" 
				[data]="line"
				(select)="selectProcedure($event,line)"
				(delete)="deleteChild($event, idx)"></procedure-item>
		</div>
	</div>

</div>
