.container--editor{
    display: flex; 
    flex-direction: column;

    #toolset{
        width: 30%; 
        min-width: 300px;
    }

    #procedure{
        flex-grow: 1;
    }
}

.container--procedure{
    background-color: rgb(250,250,250);
    position: relative;
    padding-left: 30px;
}


.container__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}