@import '~scss/colors';
@import '~scss/variables';

#gi-viewer-container {
    // position: absolute;
    width: 100%;
    height: 100%;
    // background-color: yellow;
    overflow:hidden;
}
.mat-tab-group {
    margin-bottom: 0px;
}

as-split-area{
    position: relative;
    overflow: hidden auto !important;
}

#settings {
    position: absolute;
    top: 2px;
    right: 10px;
    cursor: pointer;
    z-index: 9999999;
    display: inline-block;
    vertical-align: bottom;
    background-color: transparent;
    color: $color1;
    border: none;
    outline: none;
    padding: 0px;
    width: 40px;
    height: 40px;
    transition: 0.3s;
    font-size: 14px;
    &:hover {
        color:$color5;
    }
    &.active {
        color: $selected-color;
    }
}

#attrib{
    overflow: hidden !important;
    attribute{
        height: calc(100% - 10px);
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }
}
