<div id="gi-viewer-container">
	<as-split direction="vertical">
		<as-split-area [size]="80" id="three-js">
			<threejs-viewer [model]='data'></threejs-viewer>
		</as-split-area>
		<as-split-area [size]='20' id="attrib">
			<h1>Attribute goes here</h1>
			<attribute></attribute>
		</as-split-area>
	</as-split>
</div>

<!-- <div id="appdiv" (mousedown)="leaflet()"> -->
	<!-- <as-split direction="vertical"> -->
		<!-- <as-split-area [size]="90" id="splitcontainer"> -->
		  <!-- <div style="height: 100%"> -->
		    <!-- <as-split direction="horizontal"> -->
					<!-- <as-split-area [size]="0.5" id="splitgroups" style="overflow-x:hidden;overflow-y: auto;"> -->
						<!-- group -->
		      <!-- </as-split-area> -->
		      <!-- <as-split-area [size]="99.5" id="splitviewer"> -->
		        <!-- <viewer-container *ngIf="imVisible===false"></viewer-container>
		        <app-map *ngIf="imVisible===true"></app-map> -->
		        <!-- <threejs-viewer></threejs-viewer> -->
		      <!-- </as-split-area> -->
		    <!-- </as-split> -->
		  <!-- </div> -->
		<!-- </as-split-area> -->
		<!-- <as-split-area [size]="10" id="splittoolwindow"> -->
			<!-- tool window -->
		<!-- </as-split-area> -->
	<!-- </as-split> -->
<!-- </div> -->