@import '~scss/colors';
@import '~scss/variables';

#gi-viewer-container {
    // position: absolute;
    width: 100%;
    height: 100%;
    // background-color: yellow;
    overflow:hidden;
}
.mat-tab-group {
    margin-bottom: 0px;
}

as-split-area{
    overflow: hidden auto !important;
}
