<div class='container'>
	<button class='btn--addNode' (click)='addNode()'> Add Node </button>
	
    <node *ngFor="let node of data.nodes; let node_index = index" 
          id='flw_node_{{node_index}}'
          [node]='node' 
          [node_index]='node_index'
          [selected]='isSelected(node_index)'
          [zoom]=1
          (action)='nodeAction($event, node_index)'>
    </node>
    
    <edge *ngFor="let e of data.edges; let edge_index = index"
          [edge]='e' [temporary]='false'
          (delete)='deleteEdge(edge_index);'></edge>

    <edge [edge]='edge' [temporary]='true' [mouse]='mouse' *ngIf='temporaryEdge'></edge>
</div>


