<div id='toolset'>

    <ul class='toolset__basic'>
        <li 
            *ngFor="let type of ProcedureTypesArr"
            (click)='add(ProcedureTypes[type])'> 
            {{type}} 
        </li>
    </ul>
    
    <hr>

    <div class='toolset__functions'>
        <section *ngFor='let mod of Modules'>
            <h3>{{ mod.module }}</h3>
        
            <ul class='toolset__functions--subset'>
                <li *ngFor='let fn of mod.functions' (click)='add_function(fn)'> {{fn.name}} </li>
            </ul>
        </section>
    </div>

</div>