
<div class='container'>
    <split direction="horizontal">
        <split-area size="60">
            <div class='container__header'>
                <div style ="display: flex-start">
                    <li class='link' [class.active]='false' (click)='updateView("publish")'>Publish</li>
                    <li class='link' [class.active]='false' (click)='updateView("flowchart")'>Flowchart</li>
                    <li class='link' [class.active]='false' (click)='updateView("editor")'>Procedures</li>
                </div>
                <div style ="display: inline-flex">
                    <file-save [file]='file'></file-save>
                    <file-load (loaded)='updateFile($event)'></file-load>
                    <file-new (create)='updateFile($event)'></file-new>

                </div>
                <execute [flowchart]='flowchart'></execute>
            </div>
            <div class='content__panel'>
                
                <ng-container #vc></ng-container>
                <!--
                    <flowchart *ngIf="activeView=='flowchart'" [data]="flowchart"></flowchart> 
                    <view-editor *ngIf="activeView=='editor'" [flowchart]="flowchart"></view-editor> 
                -->
            </div>
        </split-area>

        <split-area size="40">
            <div class='content__panel' *ngIf='flowchart.meta.selected_nodes[0] !== undefined'>
                <mviewer [node]='flowchart.nodes[flowchart.meta.selected_nodes[0]]'></mviewer>
            </div>
        </split-area>
        

    </split>

</div>

