
<div class='container'>
    <split direction="horizontal">
        <split-area size="50">
            <div class='container__header'>
                <div class="tab">
                    <button class='btn-tab' [class.active]='activeView=="publish"' (click)='updateView("publish")'>Publish</button>
                    <button class='btn-tab' [class.active]='activeView=="flowchart"' (click)='updateView("flowchart")'>Flowchart</button>
                    <!--
                    <button class='btn' [class.active]='false' (click)='updateView("editor")'>Procedures</button>
                    -->
                </div>
                <!--
                <div>
                    <file-new (create)='updateFile($event)'></file-new>
                    <file-save [file]='file'></file-save>
                    <file-load (loaded)='updateFile($event)'></file-load>        
                    <execute [flowchart]='flowchart'></execute>
                </div>
                -->

                <!-- hidden components (new file, save file, loaf file) for the dropdown menu-->
                <div style="display: none;">
                    <file-new (create)='updateFile($event)'></file-new>
                    <file-save [file]='file'></file-save>
                    <file-load (loaded)='updateFile($event)'></file-load>        
                </div>

                <div class="dropmenu">
                    <!-- dropdown menu for new file, save file, loaf file-->
                    <!-- execute button -->
                    <div>
                        <execute [flowchart]='flowchart'></execute>
                    </div>
                    <div>
                        <button class='btn' mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button  mat-menu-item onclick="document.getElementById('newfile').click();"
                            title="Reset Flowchart to Default">
                                <mat-icon>rotate_left</mat-icon>
                                <span>Reset</span>
                            </button>
                            <button mat-menu-item onclick="document.getElementById('savefile').click();"
                            title="Save Flowchart File to Computer">
                                <mat-icon>save_alt</mat-icon>
                                <span>Save File</span>
                            </button>
                            <button mat-menu-item onclick="document.getElementById('file-input').click();"
                            title="Load Flowchart File from Computer">
                                <mat-icon>launch</mat-icon>
                                <span>Load File</span>
                            </button>
                        </mat-menu>
                    </div>
                    
                </div>
            </div>
            <div class='content__panel'>
                <ng-container #vc></ng-container>
            </div>
        </split-area>

        <split-area size="50">
            <div class='content__panel' >
                <mviewer [node]='flowchart.nodes[flowchart.meta.selected_nodes[0]]'></mviewer>
            </div>
        </split-area>
        

    </split>

</div>

