<div class='container container--parameter'>

    <div class='parameter__name'>{{ port.name }}</div>

    <!-- Slider, SimpleInput ... etc -->
    <div class='parameter__mode' [ngSwitch]="port.meta.mode">
        <!-- Simple Input Template -->
        <div *ngSwitchCase="PortTypes.SimpleInput">
            <input [(ngModel)]='port.value' name='port.name' placeholder='Enter Value'> 
        </div>

        <div *ngSwitchCase="PortTypes.Slider">
            <input [(ngModel)]='port.value' name='port.name' placeholder='Enter Value'> 
            <mat-slider></mat-slider>
        </div>

        <div *ngSwitchCase="PortTypes.Checkbox">
            <mat-checkbox></mat-checkbox>
            <mat-checkbox></mat-checkbox>
            <mat-checkbox></mat-checkbox>
        </div>
                
    </div>

</div>