<div class='container container--parameter'>

    <div class='parameter__name'>{{ port.name }}</div>

    <!-- Slider, SimpleInput ... etc -->
    <div class='parameter__mode' [ngSwitch]="port.meta.mode">
        
        <!-- Simple Input Template -->
        <div *ngSwitchCase="PortTypes.SimpleInput">
            <input [(ngModel)]='port.value' name='port.name' placeholder='Enter Value: Defaults to {{port.default}}'> 
        </div>

        <div *ngSwitchCase="PortTypes.Slider">
            <!-- <input  placeholder='Enter Value: Defaults to {{port.default}}'> -->
            <input [(ngModel)]='port.value' value='port.value' placeholder='{{port.default}}' disabled>
            <input [(ngModel)]='port.value' name='port.name' placeholder='{{port.default}}' type="range">
        </div>

        <div *ngSwitchCase="PortTypes.Checkbox">
            <input *ngSwitchCase="PortTypes.Checkbox" [(ngModel)]='port.value' name='port.name' type="checkbox">
        </div>

        <div *ngSwitchCase="PortTypes.URL">
            <input [(ngModel)]='port.value' name='port.name' placeholder='Enter URL: Defaults to {{port.default}}'> 
        </div>
        <div *ngSwitchCase="PortTypes.File">
            <input (change)="onFileChange($event)" type="file">
        </div>
    
        <!-- TODO1: SwitchCase for remaining PortTypes -->
        <!-- TODO2: Connect values to port.value -->
    
    </div>

</div>