@import '~scss/colors';
@import '~scss/variables';

// the host

.viewers-container{
    position: relative;
    display: block;
    height: 100%;
    overflow: hidden;

    .container__header{
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        background-color: transparent;
        height: $header-height;
        padding: 0px;
        margin: 0px;
    
        .header-btn-group {
            //display: inline;
            height: $header-height;
            padding: 0px;
            margin: 0px;
            overflow: hidden;
            background-color: transparent;
            z-index: 2;
        }
    }
    .content__panel{
        background-color: transparent;
        width: 100%;
        height: 100%; 
        overflow: hidden;
        padding: 0px;
        margin: 0px;
    
        //padding: 10px 15px;
    }
    button {
        display: inline-block;
        vertical-align: bottom;
        background-color: transparent;
        color: $color1;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 0px;
        width: 34px;
        height: 34px;
        transition: 0.3s;
        font-size: 14px;
        &:hover {
            color:$selected-color;
        }
        &.active {
            color: $selected-color;
        }
    }

}


