@import '~scss/colors';
@import '~scss/variables';


.container--nested{
    padding-left: 0px;
}

.container--line{
    font-size: $fsize2;
    margin: 0px 2px 2px 8px;
    padding: 0px;
    padding-left: 2px;
    //border-bottom: 1px solid red;
    border-bottom: 1px solid $color2;
    border-left: 1px solid $color2;
    color: $color1;
    //min-height: 22px;
    opacity: 1;

    &.disabled{
        opacity: 0.5;
    }

    &.selected{
        border-color: $selected-color;
        background-color: $color7;
    }
    
    &.error{
        border: 1px solid red;
    }


    .input--var{
        font-size: $fsize2;
        width: 70px;
        background-color: $color6; 
        border: none;
        //border-bottom: 1px solid $color1;
        margin-right: 5px;
        border: 2px solid $color5;
        padding-left: 2px;

        &.error{
            border: 2px solid red;
        }
    }
    
    .input--arg{
        font-size: $fsize2;
        resize: horizontal;
        min-width: 10px;
        //max-width: 300px;
        background-color: $color6; 
        border: none;
        //border-bottom: 1px solid $color1;
        margin-left: 5px;
        border: 2px solid $color5;

        &.error{
            border: 2px solid red;
        }
    }
    input:focus{
        border-color: $selected-color;
        background-color: $color7;
    }
    input:hover{
        border-color: $selected-color;
        background-color: $color7;
    }
}

.container--item{
    margin: none;
    padding: none;
    border: none;
}

.btn-container{
    display: none;
    float: right;
}

.btn{
    //height: 100%;
    width: $fsize1;
    background-color: transparent;

    border: none;
    color: $button-color;

    display: flex;
    justify-content: center;

    overflow: hidden;
    vertical-align: center;
    // &.highlighted{
    //     background-color: red;
    // }
    :hover{
        color: $selected-color;
    }
}

.container--item:hover .btn-container {display: flex}
//.container--item .selected .btn {display: block}

.icon{
    vertical-align: center;
    width: $fsize1;
    height: $fsize1;
    margin: 1px;
    font-size: $fsize2;
    // border: 1px solid $color1;
}

.line--item{
    display: inline-block;
    color: $color1;
    input{
        background-color: red;
    }
}

.line--blank{
    height: 5px;
    display: inline-block;
}



/*
.hasChildren::before{
    content: '\25B6';
    position: absolute;
    left: 3px;
    font-size: 8px;
}
*/


.function-text{
    display: inline-block;
    white-space: normal;
    font-style: italic;
    color: $function-text-color;
    font-weight: 550;
}
