<div class='container--line' 
    [class.selected]="data.selected"
    [class.error]="data.hasError"
    [class.disabled]="!data.enabled"
    [class.printing]='data.print'
    [ngSwitch]="data.type"
    (click)='emitSelect($event, data)'>
    <div class='container--item' >
        <div class = "btn-container">
            <div class = "btns">
                <!-- delete button-->
                <button *ngIf='data.type != ProcedureTypes.Blank' class='btn deletebtn' mat-icon-button title="Delete Procedure" (click)="emitDelete()" tabindex="-1">
                    <mat-icon class='icon'>delete_outline</mat-icon>
                </button>
                <!-- Disable button-->
                <button *ngIf='data.type != ProcedureTypes.Blank' class='btn' mat-icon-button title="Disable Procedure" [class.highlighted]='!data.enabled' (click)='markDisabled()' tabindex="-1">
                    <mat-icon class='icon'>tv_off</mat-icon>
                </button>
                <!-- Print button-->
                <button id = 'print-btn' *ngIf='canBePrinted()' class='btn' mat-icon-button title="Print Result In Console" [class.highlighted]='data.print' (click)='markPrint()' tabindex="-1">
                    <mat-icon class='icon'>print</mat-icon>
                </button>
                <!-- help button-->
                <button *ngIf='haveHelpText()' class='btn' mat-icon-button title="Help" tabindex="-1" (click)='emitHelpText(undefined)'>
                    <mat-icon class='icon'>help</mat-icon>
                </button>
            </div>
        </div>
        <!-- Variable Assignment Template -->
        <div class='line--item' *ngSwitchCase="ProcedureTypes.Variable">
            <input class='input--var'
                id='argVar_{{data.ID}}'
                [ngModel]='data.args[0].value'
                (ngModelChange)='data.args[0].value=varMod($event)'
                [class.error]='invalidVar'
                name='data.args[0].name'
                placeholder={{data.args[0].name}}>  
            = 
            <input 
                class='input--arg'
                [ngModel]='data.args[1].value'
                (ngModelChange)='data.args[1].value=argMod($event)'
                name='data.args[1].name'
                placeholder={{data.args[1].name}}
                [style.width.px]='inputSize(data.args[1].value||data.args[1].name)'>  
            </div>

        <!-- IF Template -->
        <div class='line--item hasChildren' *ngSwitchCase="ProcedureTypes.If">
            <div class='function-text'>
                If
            </div>
            <input class='input--arg'
                    [(ngModel)]='data.args[0].value'
                    name='data.args[0].name'
                    placeholder={{data.args[0].name}}
                    [style.width.px]='inputSize(data.args[0].value||data.args[0].name)'
                    >
        </div>

        <!-- ELSEIF Template -->
        <div class='line--item hasChildren' *ngSwitchCase="ProcedureTypes.Elseif">
            <div class='function-text'>
                Else if
            </div>
            
        
        <input class='input--arg'
                [(ngModel)]='data.args[0].value'
                name='data.args[0].name'
                placeholder={{data.args[0].name}}
                [style.width.px]='inputSize(data.args[0].value||data.args[0].name)'
                >  
        </div>

        <!-- ELSE Template -->
        <div class='line--item hasChildren' *ngSwitchCase="ProcedureTypes.Else">
            <div class='function-text'>
                Else
            </div>
        </div>

        <!-- BREAK Template -->
        <div class='line--item' *ngSwitchCase="ProcedureTypes.Break">
            <div class='function-text'>
                Break
            </div>
        </div>

        <!-- CONTINUE Template -->
        <div class='line--item' *ngSwitchCase="ProcedureTypes.Continue">
            <div class='function-text'>
                Continue
            </div>
        </div>


    <!-- FOREACH Template -->
        <div class='line--item hasChildren' *ngSwitchCase="ProcedureTypes.Foreach">
                <div class='function-text'>
                    For
                </div>
                <input class='input--arg'
                    [(ngModel)]='data.args[0].value'
                    name='data.args[0].name'
                    placeholder={{data.args[0].name}}
                    [style.width.px]='inputSize(data.args[0].value||data.args[0].name)'
                    >  
                <div class='function-text'>
                    in
                </div>
                <input class='input--arg'
                    [(ngModel)]='data.args[1].value'
                    name='data.args[1].name'
                    placeholder={{data.args[1].name}}
                    [style.width.px]='inputSize(data.args[1].value||data.args[1].name)'
                    >  
                    
        </div>

        <!-- WHILE Template -->
        <div class='line--item hasChildren' *ngSwitchCase="ProcedureTypes.While">
            <div class='function-text'>
                While
            </div>
            <input class='input--arg' 
                    [(ngModel)]='data.args[0].value'
                    name='data.args[0].name'
                    placeholder={{data.args[0].name}}
                    [style.width.px]='inputSize(data.args[0].value||data.args[0].name)'
                    >  

        </div>

        <!-- Constant (Only visible in start node) Template -->
        <div class='line--item' *ngSwitchCase="ProcedureTypes.Constant">
            <div class='function-text'>Constant</div>

            <input class='input--arg' 
                    [(ngModel)]='data.args[0].value'
                    name='data.args[0].name'
                    placeholder={{data.args[0].name}}
                    [style.width.px]='inputSize(data.args[0].value||data.args[0].name)'
                    >  

        </div>
        
        <!-- Return (Only visible in End node) Template -->
        <div class='line--item' *ngSwitchCase="ProcedureTypes.Return">
            <div class='function-text'>Return</div>

            <input class='input--arg' 
                    [(ngModel)]='data.args[0].value'
                    name='data.args[0].name'
                    placeholder={{data.args[0].name}}
                    [style.width.px]='inputSize(data.args[0].value||data.args[0].name)'
                    >  
        </div>
        
        <!-- Blank (always the first procedure of if/else/else if/for/while) -->
        <div class='line--blank' *ngSwitchCase="ProcedureTypes.Blank">
        </div>

        
        <!-- Function Template -->
        <div class='line--item' *ngSwitchCase="ProcedureTypes.Function">
            <ng-container *ngIf="data.meta.module.toUpperCase() !='OUTPUT' && data.args[0].name !=='__none__'">
                <input class='input--var'
                [ngModel]='data.args[0].value'
                (ngModelChange)='data.args[0].value=varMod($event)'
                [class.error]='invalidVar'
                placeholder={{data.args[0].name}}>  
                = 

            </ng-container>
            <div class='function-text'><span class='module-name'>{{data.meta.module}}.</span>{{data.meta.name}} </div>

            <ng-container *ngFor='let p of data.args.slice(1);let i=index'>
                <!--
                <input *ngIf="p.name.toUpperCase() !== '__MODEL__'; else text_template" 
                
                [(ngModel)]='p.value' 
                placeholder={{p.name}}>    
                
                <ng-template #text_template>
                    model,
                </ng-template>
                -->
                <select class='input--arg' [(ngModel)]='p.value' *ngIf="checkEnum(p, i); else default_template" >
                    <option *ngFor='let opt of getEnum(i)' value='"{{opt}}"'>{{opt}}</option>
                    <!--
                        <option *ngFor='let opt of Modules[data.meta.module][ModuleDoc[data.meta.module][data.meta.name].parameters[i].type]' value={{opt}}>{{opt}}</option>
                    -->
                </select>    
                
                <ng-template #default_template>
                    <input *ngIf="p.name.substring(0,1) !== '_'" 
                    class='input--arg' 
                    [(ngModel)]='p.value' 
                    placeholder={{p.name}}
                    [style.width.px]='inputSize(p.value||p.name)'
                    >
            </ng-template>

            </ng-container>

        </div>

        <!-- Imported Function Template -->
        <div class='line--item' *ngSwitchCase="ProcedureTypes.Imported">
            <input class='input--var'
                    [ngModel]='data.args[0].value'
                    (ngModelChange)='data.args[0].value=varMod($event)'
                    [class.error]='invalidVar'
                    placeholder={{data.args[0].name}}>  
            = 
            <div class='function-text'><span class='module-name'>User.</span>{{data.meta.name}} </div> 
            
            <ng-container *ngFor='let p of data.args.slice(1);let i=index'>
                <input class='input--arg' 
                        [(ngModel)]='p.value' 
                        placeholder={{p.name}}
                        [style.width.px]='inputSize(p.value||p.name)'>    
            </ng-container>
        </div>
    </div>
    <!-- list of child procedures (if the procedure has children) -->
    <div *ngIf="data?.children" class='container--nested'>
        <procedure-item 
            *ngFor="let line of data?.children; let idx=index" 
            [data]="line"
            (select)='selectChild($event, line)'
            (delete)='deleteChild(idx)'
            (helpText)='emitHelpText($event)'></procedure-item>
    </div>
</div>
