<div class='container--line' 
    [class.selected]="data.selected"
    [class.error]="data.hasError"
    [class.disabled]="!data.enabled"
    [class.printing]='data.print'
    [ngSwitch]="data.type"
    (click)='emitSelect($event, data)'
    (mousedown)='disableShift($event)'
    *ngIf= 'data.type != ProcedureTypes.Return && data.type != ProcedureTypes.Constant'>
    <div class='container--item' >
        <!-- Variable Assignment Template -->
        <div class='line--item' *ngSwitchCase="ProcedureTypes.Variable">
            <input class='input--var'
                id='argVar_{{data.ID}}'
                [ngModel]='data.args[0].value'
                (ngModelChange)='data.args[0].value=varMod($event)'
                [class.error]='data.args[0].invalidVar'
                [class.disabled]='disableInput'
                (focus)='onInputFocus()'
                placeholder={{data.args[0].name}}
                [style.width.px]='inputSize(data.args[0].value||data.args[0].name)'>  
            = 
            <div style='position:relative; display:inline-block;'>
                <input class='input--arg'
                [(ngModel)]='data.args[1].value'
                [class.disabled]='disableInput'
                (blur)='argMod($event, 1)'
                (focus)='onInputFocus()'
                placeholder={{data.args[1].name}}
                [style.width.px]='inputSize(data.args[1].value||data.args[1].name)'>
                <!-- <p class='input--arg input--arg--p' [innerHTML]='argHighlight(data.args[1].value)'></p> -->
            </div>
            </div>

        <!-- IF Template -->
        <ng-container *ngSwitchCase="ProcedureTypes.If">
            <div class='line--item' >
                <div class='basic-function-text'>
                    If
                </div>
                <input class='input--arg'
                        [(ngModel)]='data.args[0].value'
                        [class.disabled]='disableInput'
                        (blur)='argMod($event, 0)'
                        (focus)='onInputFocus()'
                        placeholder={{data.args[0].name}}
                        [style.width.px]='inputSize(data.args[0].value||data.args[0].name)'
                        >
    
            </div>
            <div class='container--nested'>
                <procedure-item 
                    *ngFor="let line of data?.children; let idx=index" 
                    [data]="line"
                    [disableInput]="disableInput"
                    (select)='selectChild($event, line)'
                    (delete)='emitDelete()'
                    (deleteC)='deleteChild(idx)'
                    (helpText)='emitHelpText($event)'></procedure-item>
            </div>
        </ng-container>

        <!-- ELSEIF Template -->
        <ng-container *ngSwitchCase="ProcedureTypes.Elseif">
            <div class='line--item'>
                <div class='basic-function-text'>
                    Else if
                </div>
                
            
            <input class='input--arg'
                    [(ngModel)]='data.args[0].value'
                    [class.disabled]='disableInput'
                    (blur)='argMod($event, 0)'
                    (focus)='onInputFocus()'
                    placeholder={{data.args[0].name}}
                    [style.width.px]='inputSize(data.args[0].value||data.args[0].name)'
                    >  
            </div>
            <div class='container--nested'>
                <procedure-item 
                    *ngFor="let line of data?.children; let idx=index" 
                    [data]="line"
                    [disableInput]="disableInput"
                    (select)='selectChild($event, line)'
                    (delete)='emitDelete()'
                    (deleteC)='deleteChild(idx)'
                    (helpText)='emitHelpText($event)'></procedure-item>
            </div>
        </ng-container>

        <!-- ELSE Template -->
        <ng-container *ngSwitchCase="ProcedureTypes.Else">
            <div class='line--item'>
                <div class='basic-function-text'>
                    Else
                </div>
            </div>
                        
            <div class='container--nested'>
                <procedure-item 
                    *ngFor="let line of data?.children; let idx=index" 
                    [data]="line"
                    [disableInput]="disableInput"
                    (select)='selectChild($event, line)'
                    (delete)='emitDelete()'
                    (deleteC)='deleteChild(idx)'
                    (helpText)='emitHelpText($event)'></procedure-item>
            </div>
        </ng-container>
    



        <!-- BREAK Template -->
        <div class='line--item' *ngSwitchCase="ProcedureTypes.Break">
            <div class='basic-function-text'>
                Break
            </div>
        </div>

        <!-- CONTINUE Template -->
        <div class='line--item' *ngSwitchCase="ProcedureTypes.Continue">
            <div class='basic-function-text'>
                Continue
            </div>
        </div>


        <!-- FOREACH Template -->
        <ng-container *ngSwitchCase="ProcedureTypes.Foreach">
            <div class='line--item'>
                <div class='basic-function-text'>
                    Foreach
                </div>
                <input class='input--arg'
                    [ngModel]='data.args[0].value'
                    (ngModelChange)='data.args[0].value=varMod($event)'
                    [class.error]='data.args[0].invalidVar'
                    [class.disabled]='disableInput'
                    (focus)='onInputFocus()'
                    placeholder={{data.args[0].name}}
                    [style.width.px]='inputSize(data.args[0].value||data.args[0].name)'
                    >  
                <div class='basic-function-text'>
                    in
                </div>
                <input class='input--arg'
                    [(ngModel)]='data.args[1].value'
                    [class.disabled]='disableInput'
                    (blur)='argMod($event, 1)'
                    (focus)='onInputFocus()'
                    placeholder={{data.args[1].name}}
                    [style.width.px]='inputSize(data.args[1].value||data.args[1].name)'
                        >  
                        
            </div>
                                
            <div class='container--nested'>
                <procedure-item 
                    *ngFor="let line of data?.children; let idx=index" 
                    [data]="line"
                    [disableInput]="disableInput"
                    (select)='selectChild($event, line)'
                    (delete)='emitDelete()'
                    (deleteC)='deleteChild(idx)'
                    (helpText)='emitHelpText($event)'></procedure-item>
            </div>
        </ng-container>
    


        <!-- WHILE Template -->
        <ng-container *ngSwitchCase="ProcedureTypes.While">
            <div class='line--item'>
                <div class='basic-function-text'>
                    While
                </div>
                <input class='input--arg' 
                        [(ngModel)]='data.args[0].value'
                        [class.disabled]='disableInput'
                        (blur)='argMod($event, 0)'
                        (focus)='onInputFocus()'
                        placeholder={{data.args[0].name}}
                        [style.width.px]='inputSize(data.args[0].value||data.args[0].name)'
                        >  
    
            </div>
                                    
            <div class='container--nested'>
                <procedure-item 
                    *ngFor="let line of data?.children; let idx=index" 
                    [data]="line"
                    [disableInput]="disableInput"
                    (select)='selectChild($event, line)'
                    (delete)='emitDelete()'
                    (deleteC)='deleteChild(idx)'
                    (helpText)='emitHelpText($event)'></procedure-item>
            </div>
        </ng-container>
    


        <!-- Constant (Not visible) Template -->
        <div class='line--item' *ngSwitchCase="ProcedureTypes.Constant">
        </div>
        
        <!-- Return (Not visible) Template -->
        <div class='line--item' *ngSwitchCase="ProcedureTypes.Return">
        </div>
        
        <!-- Blank (always the first procedure of if/else/else if/for/while) -->
        <div class='line--blank' *ngSwitchCase="ProcedureTypes.Blank">
        </div>

        <!-- Comment -->
        <div class='line--item' *ngSwitchCase="ProcedureTypes.Comment">
            <input class='input--comment' 
            [(ngModel)]='data.args[0].value'
            [class.disabled]='disableInput'
            (focus)='onInputFocus()'
            placeholder='Comment'
            [style.width.px]='inputSize(data.args[0].value||"Comment")'
            >
        </div>

        
        <!-- Function Template -->
        <div class='line--item' *ngSwitchCase="ProcedureTypes.Function">
            <ng-container *ngIf="data.args[0].name !=='__none__'">
                <input class='input--var'
                [ngModel]='data.args[0].value'
                (ngModelChange)='data.args[0].value=varMod($event)'
                [class.error]='data.args[0].invalidVar'
                [class.disabled]='disableInput'
                (focus)='onInputFocus()'
                placeholder={{data.args[0].name}}
                [style.width.px]='inputSize(data.args[0].value||data.args[0].name)'>  
                = 

            </ng-container>
            <div class='function-text'><span class='module-name'>{{data.meta.module}}.</span>{{data.meta.name}} </div>

            <ng-container *ngFor='let p of data.args.slice(1);let i=index'>
                <select class='input--arg' [(ngModel)]='p.value' *ngIf="checkEnum(p, i); else default_template" >
                    <option *ngFor='let opt of getEnum(i)' value="'{{opt}}'">{{opt}}</option>
                    <!--
                        <option *ngFor='let opt of Modules[data.meta.module][ModuleDoc[data.meta.module][data.meta.name].parameters[i].type]' value={{opt}}>{{opt}}</option>
                    -->
                </select>    
                
                <ng-template #default_template>
                    <input class='input--arg' 
                    *ngIf="p.name[0] !== '_'" 
                    [(ngModel)]='p.value'
                    [class.disabled]='disableInput'
                    (blur)='argMod($event, i+1)'
                    (focus)='onInputFocus()'
                    placeholder={{p.name}}
                    [style.width.px]='inputSize(p.value||p.name)'
                    >
            </ng-template>

            </ng-container>

        </div>

        <!-- Imported Function Template -->
        <div class='line--item' *ngSwitchCase="ProcedureTypes.Imported">
            <ng-container *ngIf="data.args[0].name !=='__none__'">
                <input class='input--var'
                    [ngModel]='data.args[0].value'
                    (ngModelChange)='data.args[0].value=varMod($event)'
                    [class.error]='data.args[0].invalidVar'
                    [class.disabled]='disableInput'
                    (focus)='onInputFocus()'
                    placeholder={{data.args[0].name}}
                    [style.width.px]='inputSize(data.args[0].value||data.args[0].name)'>
                = 
            </ng-container>
            <div class='function-text'><span class='module-name'>user.</span>{{data.meta.name}} </div> 
            
            <ng-container *ngFor='let p of data.args.slice(1);let i=index'>
                <input class='input--arg' 
                    *ngIf='p.type !== 5'
                    [(ngModel)]='p.value'
                    [class.disabled]='disableInput'
                    (blur)='argMod($event, i+1)'
                    (focus)='onInputFocus()'
                    placeholder={{p.name}}
                    [style.width.px]='inputSize(p.value||p.name)'>    
            </ng-container>
        </div>
    </div>
    <div class = "btn-container">
        <div class = "btns">
            <!-- delete button-->
            <button id = 'delete-btn' *ngIf='data.type != ProcedureTypes.Blank && data.type != ProcedureTypes.Return' class='btn' mat-icon-button title="Delete Procedure" (click)="emitDelete()" tabindex="-1">
                <mat-icon class='icon'>delete_outline</mat-icon>
            </button>
            <!-- Disable button-->
            <button id = 'disable-btn' *ngIf='data.type != ProcedureTypes.Blank && data.type != ProcedureTypes.Comment' class='btn' mat-icon-button title="Disable Procedure" [class.highlighted]='!data.enabled' (click)='markDisabled($event)' tabindex="-1">
                <mat-icon class='icon'>tv_off</mat-icon>
            </button>
            <!-- Print button-->
            <button id = 'print-btn' *ngIf='canBePrinted()' class='btn' mat-icon-button title="Print Result In Console" [class.highlighted]='data.print' (click)='markPrint($event)' tabindex="-1">
                <mat-icon class='icon'>print</mat-icon>
            </button>
            <!-- help button-->
            <button *ngIf='haveHelpText()' class='btn' mat-icon-button title="Help" tabindex="-1" (click)='emitHelpText(undefined)'>
                <mat-icon class='icon'>help</mat-icon>
            </button>
        </div>
    </div>
</div>
