@import '~scss/colors';
@import '~scss/variables';


.container--nested{
    padding-left: 0px;
}

.container--line{
    font-size: $fsize2;
    margin: 0px 5px 2px 8px;
    padding: 0px;
    padding-left: 2px;
    //border-bottom: 1px solid red;
    border-bottom: 1px solid $color2;
    border-left: 1px solid $color2;
    color: $color1;
    //min-height: 22px;
    opacity: 1;

    display: flex;
    // white-space: nowrap;
    flex-flow: column nowrap;
    justify-content: space-between;
    flex-grow: 0;
    flex-shrink: 0;

    overflow-x: auto;

    &.disabled{
        opacity: 0.5;
    }

    &.selected{
        border-bottom: 2px solid $selected-color;
        border-left: 2px solid $selected-color;

        // &:hover > .btn-container {
        //     .btns{
        //         border-bottom: 2px solid $selected-color;
        //         border-left: 2px solid $selected-color;
        //     }
        // }
    }
    
    &.error{
        border: 1px solid red;
    }


    .input--var{
        font-size: $fsize2;
        width: 70px;
        background-color: $color6; 
        border: none;
        //border-bottom: 1px solid $color1;
        margin-right: 5px;
        border: 2px solid $color5;
        padding-left: 2px;

        &.error{
            border: 2px solid red;
        }
    }
    
    .input--arg{
        font-size: $fsize2;
        resize: horizontal;
        min-width: 10px;
        //max-width: 300px;
        background-color: $color6; 
        border: none;
        //border-bottom: 1px solid $color1;
        margin-left: 5px;
        border: 2px solid $color5;
        padding-left: 2px;

        &.error{
            border: 2px solid red;
        }
    }
    input:focus{
        border-color: $selected-color;
        background-color: $color7;
    }
    input:hover{
        border-color: $selected-color;
        background-color: $color7;
    }
    &:hover{
        background-color: $color5;
    }
}

.container--item{
    margin: none;
    padding-bottom: 2px;
    border: none;

    display: inline-block;


    white-space: nowrap;
    overflow: hidden;
}

.container--item:hover > .btn-container{//.container--line
    .btns{
        display: inline-flex;
    }
}

//.container--item .selected .btn {display: block}

.btn-container{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.btns{
    display: none;
    flex-flow: row nowrap;
    justify-content: flex-end;

    background-color: $color5;
    // border-left: 1px solid $color1;
    // border-bottom: 1px solid $color1;

    position: absolute;
    &:hover{
        display: inline-flex;
    }
    // .deletebtn:hover{
    //     color: red !important;
    // }
}

.btn{
    //height: 100%;
    width: $fsize1;
    background-color: transparent;

    border: none;
    color: $button-color;

    display: flex;
    justify-content: center;

    overflow: hidden;
    vertical-align: center;
    // &.highlighted{
    //     background-color: red;
    // }
    &:hover{
        color: $selected-color;
    }
}

.icon{
    vertical-align: center;
    width: $fsize1;
    height: $fsize1;
    margin: 1px;
    font-size: $fsize2;
    // border: 1px solid $color1;
}

.line--item{
    color: $color1;
    display: inline-block;
    input{
        background-color: red;
    }
}

.line--blank{
    height: 8px;
    // display: inline-block;
    &:hover{
        background-color: $color7;
        border-color: $selected-color;
    }
}



/*
.hasChildren::before{
    content: '\25B6';
    position: absolute;
    left: 3px;
    font-size: 8px;
}
*/


.function-text{
    display: inline-block;
    white-space: nowrap;
    font-style: italic;
    color: $function-text-color;
    font-weight: 550;
    text-align: center;
    min-height: 17px;
}
