@import '~scss/colors';
@import '~scss/variables';

.container--nested{
    padding-left: 0px;
}

.container--line{
    background-color: transparent;
    font-size: $fsize2;
    margin: 0px 0px 1px 0px;
    padding: 0px 0px 1px 9px;
    // padding-bottom: 1px;
    // padding-left: 2px;
    //border-bottom: 1px solid red;
    border-bottom: 1px solid $color4-5;
    border-left: 1px solid $color4-5;
    box-shadow: inset 1px -1px 0px 0px white;
    color: $color1;
    //min-height: 22px;
    opacity: 1;

    display: flex;
    // white-space: nowrap;
    flex-flow: column nowrap;
    justify-content: space-between;
    flex-grow: 0;
    flex-shrink: 0;

    overflow-x: hidden;
    width: calc(100% - 13px);
    // min-width: fit-content; // for global side scroll

    &.strong{
        border-bottom: 1px solid $color2;
        border-left: 1px solid $color2;
    }

    &.disabled{
        opacity: $disabled-opacity;
    }

    &.selected{
        background-color: $selected-color1;
        .disableOn, .printingOn, .terminateOn {
            background-color: $selected-color1;
        }
        &.lastSelected{
            background-color: $selected-color2;
            .disableOn, .printingOn, .terminateOn {
                background-color: $selected-color2;
            }
        }
    }

    &.printing{
        border-bottom: 2px solid $print-color;
        border-left: 2px solid $print-color;
        padding-bottom: 0px;
        padding-left: 8px;
    }

    &.selectGeom{
        border-bottom: 2px solid $selectGeom-color;
        border-left: 2px solid $selectGeom-color;
        padding-bottom: 0px;
        padding-left: 8px;
    }

    &.terminate{
        border-left: 2px solid $terminate-color;
        border-bottom: 2px solid $terminate-color;
        padding-bottom: 0px;
        padding-left: 8px;
    }

    &.error{
        border-bottom: 2px solid $error-color;
        border-left: 2px solid $error-color;
        padding-bottom: 0px;
        padding-left: 8px;
    }

    &.onhover{
        background-color: $color5;
        &.selected{
            // .btn-container &.onhover .btn{
            //     background-color: $selected-color1;
            // }
            .btn-container {
                &.onhover {
                    .btn{
                        background-color: $selected-color1;
                    }
                }
            }
            &.lastSelected{
                .btn-container {
                    &.onhover {
                        .btn{
                            background-color: $selected-color2;
                        }
                    }
                }
            }
        }
        // .btns{
        //     display: inline-flex;
        //     .btn{
        //         display: flex;
        //         justify-content: center;
        //     }
        // }
    }

    .input--var{
        font-family: $inputFontFam;
        font-size: $fsize2;
        font-weight: 400;
        min-width: 10px;
        background-color: $color6; 
        //border-bottom: 1px solid $color1;
        margin-right: 5px;
        border: 1px solid $color5;
        padding: 1px 1px 1px 2px;
        // padding-left: 6px;

        &.linked{
            border: 2px solid $selectGeom-color;
            padding: 0px 0px 0px 1px;
            // border: 2px solid $print-color-dk;
        }
        &.error{
            padding: 0px 0px 0px 1px;
            border: 2px solid $error-color;
        }
        &:focus, &:hover{
            border-color: $selected-color;
            background-color: $color7;
        }
        &.disabled{
            pointer-events: none;
        }
    }
    
    .input--arg{
        font-family: $inputFontFam;
        font-size: $fsize2;
        font-weight: 400;
        resize: horizontal;
        min-width: 10px;
        //max-width: 300px;
        background-color: $color6; 
        //border-bottom: 1px solid $color1;
        margin-left: 5px;
        border: 1px solid $color5;
        padding: 1px 1px 1px 2px;

        &.linked{
            border: 2px solid $selectGeom-color;
            padding: 0px 0px 0px 1px;
        }
        &.error{
            border: 2px solid $error-color;
            padding: 0px 0px 0px 1px;
        }
        &:focus, &:hover{
            border-color: $selected-color;
            background-color: $color7;
        }
        &.disabled{
            pointer-events: none;
        }
        &.input--funcName{
            font-weight: bold;
            margin-right: 4px;
        }
    }
    .input--comment{
        font-family: $inputFontFam;
        font-size: $fsize2;
        font-weight: 600;
        resize: horizontal;
        min-width: 200px;
        color: $comment-color;
        font-style: italic;
        background-color: transparent; 
        margin: 2px;
        border: 0px;
        border-left: 2px solid $comment-color;
        padding-left: 3px;
        &.disabled{
            pointer-events: none;
        }
    }

    .input--terminate{
        font-size: $fsize2;
        resize: horizontal;
        width: 156px;
        color: $error-color;
        font-style: italic;
        font-weight: 800;
        background-color: transparent; 
        margin: 2px;
        border: 0px;
        border-left: 2px solid $error-color;
        padding-left: 3px;
        padding-right: 3px;
        pointer-events: none;
    }

    .input--error{
        font-size: $fsize2;
        resize: horizontal;
        width: 44px;
        color: $error-color;
        font-style: italic;
        font-weight: 800;
        background-color: transparent; 
        margin: 2px;
        border: 1px solid $color5;
        padding-left: 3px;
        padding-right: 3px;
        &:disabled{
            border: 0px;
            border-left: 2px solid $error-color;
            pointer-events: none;
        }
    }


    // .input--arg--p{
    //     position: absolute;
    //     z-index: 999;
    //     ::ng-deep .inline-function{
    //         font-style: italic;
    //         color: $function-text-color;
    //     }
    // }

    // &:hover{
    //     background-color: $color5;
    //     .btn{
    //         background-color: inherit;
    //     }
    // }
}
// #print-btn{
//     &.printing:not(.disabled){
//         color: $print-color;
//         background-color: $color6;
//     }
//     &.printing{
//         display: flex;
//         justify-content: center;   
//         &:hover{
//             color: $selected-color;
//         }
//     }
// }

.container--item{
    position: relative;

    padding-top: 1px;
    // padding-bottom: 1px;
    border: none;

    display: inline-block;
    width: 100%;
    // min-width: fit-content; // for global side scroll

    white-space: nowrap;
    overflow-x: scroll;

    &::-webkit-scrollbar {
        height: 3px;
    }
    
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
        background: transparent; 
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background: $color1; 
    }

    &:hover{
        &::-webkit-scrollbar-thumb {
            background: $color1; 
        }
    }
}


//.container--item .selected .btn {display: block}

.btn-container{
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    order: -1;
    z-index: 2;

    &.onhover{
        .btns{
            // display: inline-flex;
            .btn{
                color: $color1;
                background-color: $color5;
                // display: flex;
                // justify-content: center;
            }
        }
    }
}

.btns{
    position: absolute;
    top: 2px;

    display: inline-flex;
    flex-flow: row-reverse nowrap;
    justify-content: flex-end;

    // border-left: 1px solid $color1;
    // border-bottom: 1px solid $color1;
    &:hover{
        display: inline-flex;
    }
}

.btn{
    //height: 100%;
    width: $fsize1;
    // background-color: $color6;
    // color: $color1;
    background-color: transparent;
    color: transparent;

    border: none;

    display: flex;
    justify-content: center;

    overflow: hidden;
    vertical-align: center;
    outline: none;

    order: 4;
    // &.highlighted{
    //     background-color: red;
    // }
    &:hover{
        color: $selected-color !important;
    }
    &.disableOn {
        color: $selectGeom-color-dk !important;
        background-color: $color6;
    }
    &.printingOn {
        color: $print-color !important;
        background-color: $color6;
    }
    &.terminateOn {
        color: $terminate-color !important;
        background-color: $color6;
    }
}
.btn{
    padding: 0px;
    margin: 0px;
    

    .icon{
        vertical-align: center;
        width: $fsize1;
        height: $fsize1 + 2px;
        margin: 1px transparent;
        font-size: $fsize2;
        border: none;
    }
}

.line--item{
    color: $color1;
    display: inline-block;
    padding-right: 60px;
}

.line--terminate{
    color: $color1;
    background-color: $error-color-lt;
    display: inline-block;
    padding-right: 60px;
}

.line--blank{
    height: 8px;
    // display: inline-block;
    // &:hover{
    //     background-color: $color7;
    //     border-color: $selected-color;
    // }
}



/*
.hasChildren::before{
    content: '\25B6';
    position: absolute;
    left: 3px;
    font-size: 8px;
}
*/


.function-text{
    font-family: $inputTextFontFam;
    display: inline-block;
    white-space: nowrap;
    font-style: italic;
    color: $function-text-color;
    font-weight: 700;
    text-align: center;
    min-height: 17px;
    margin-left: 2px;

    .module-name{
        color: $selected-color;
    }
}

.basic-function-text{
    font-family: $inputTextFontFam;
    display: inline-block;
    white-space: nowrap;
    font-style: italic;
    color: $basic-function-text-color;
    font-weight: 700;
    text-align: center;
    min-height: 17px;

    .module-name{
        color: $selected-color;
    }
}

hr{
    border: none;
    height: 2px;
    background-color: $color3;
}