<!-- <h2>{{displayName()}}</h2> -->

<textarea id='display-flowchart-desc' [(ngModel)]='flowchart.description' placeholder="Flowchart Description" disabled></textarea>

<hr>
<ng-container *ngFor="let prod of startNode.procedure">
    <div *ngIf="prod.enabled && prod.type === 10 && prod.meta.inputMode != 5">
        <procedure-input-viewer [prod]="prod"></procedure-input-viewer>

        <!-- input description -->
        <textarea id='{{prod.ID}}_desc' [(ngModel)]='prod.meta.description' placeholder="Input Description" disabled></textarea>
        <hr>
    </div>
</ng-container>
