<div class="container">
    <div class="container__element container__element--header">
        Möbius Gallery

        <navigation></navigation>
    </div>

    <div class="container__element container__element--subheader">
        Displaying {{ (allFiles | async)?.length}} projects
    </div>

    <div class="container__element container__element--project-container">
        <div class="project-container__project" *ngFor="let f of  (allFiles | async)">
            <div class="project__content" (click)='loadFile(f)'>
                {{ f.name | simplename }}
            </div>
        </div>
    </div>
</div>

<a href="https://github.com/design-automation/mobius-cesium">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub">
</a>