<div id='console-container'>
    <div class='container'>
        <ng-container *ngFor='let text of logs'>
            <div class = 'line-container'>
                <p class='normalText line'  *ngFor='let splittedText of text.join(" ").split("\n")' >{{splittedText}}</p>

                <!-- <ng-container *ngIf='text.join(" ").indexOf("Error") !== -1; else default_template'>
                    <p class='errorText line' *ngFor='let splittedText of text.join(" ").split("\n")' >{{splittedText}}</p>
                </ng-container>
                <ng-template #default_template>
                    <p class='normalText line'  *ngFor='let splittedText of text.join(" ").split("\n")' >{{splittedText}}</p>
                </ng-template> -->
            </div>
        </ng-container>
    </div>
    <button id="clearConsole"
        mat-icon-button
        (click)="clearConsole()"
        title='Clear Console'>
        <mat-icon>block</mat-icon>
    </button> 
</div>
