<div id="container"  
    (mousemove)="onDocumentMouseMove($event)" 
    (mousedown)="mousedown($event)"
    (mouseup)="mouseup($event)"
    (click)="render(this)"
		(click)="onDocumentMouseDown($event)">
    <div *ngIf="_updatemodel === false" style="position:absolute;color:red;margin-top: 50px;left:40%;width: auto;text-align: center;font-family:sans-serif;font-size: 14px;background-color: white;">Error displaying model:{{text}}</div>
    <div *ngIf="_modelshow === false" style="position:absolute;color:red;margin-top: 50px;left:40%;width: auto;text-align: center;font-family:sans-serif;font-size: 14px;background-color: white;">Model or Scene not defined.</div>


    <!-- (mousemove)="requestanimate()" 
    (click)="requestanimate()" -->

    <!-- (window:resize)="onResize($event)" -->

	
  		<!-- <button id="rotating" 
  			[class.visible]="Visible === 'rotate'" 
  			(click)="rotate()">
  			<i class="fa fa-refresh"></i>
  		</button>

  		<button id="paning"  
  			[class.visible]="Visible === 'pan'" 
  			(click)="pan()">
  			<i class="fa fa-hand-paper-o"></i>
  		</button>

  		<button id="zooming"  
  			[class.visible]="Visible === 'zoom'" 
  			(click)="Visible='zoom'">
  			<i class="fa fa-search"></i>
  		</button>-->
  		
  		<button id="zoomingfit"  
  			[class.visible]="Visible === 'zoomfit'" 
  			(click)="zoomfit()">
  			<span matTooltip="zoom to fit"><i class="fa fa-arrows-alt"></i></span>
  		</button> 
  		
  		<!-- <button id="selecting" [class.visible]="Visible === 'select'" (click)= "select($event, Visible)" ><i class="fa fa-mouse-pointer"></i></button> -->
  		
  		<!-- <button id="setting" [class.selected]="settingVisible" (click)= "setting(settingVisible)"><i class="fa fa-cog"></i></button> -->

      <button id="selecting" [class.selected]="seVisible" (click)= "select(seVisible)" ><span matTooltip="select"><i class="fa fa-mouse-pointer"></i></span></button>
      <div id="shownumber">
        <tr>
        <td  align=left style="width: 60px;">Triangles&nbsp;&nbsp;</td>
        <td  align=left style="width: 10px;">{{renderer.info.render.faces}}</td>
        </tr>
        <tr>
        <td  align=left style="width: 60px;">Lines</td>
        <td  align=left style="width: 10px;">{{LineNo}}</td>
        </tr>
      </div>

      <!-- <button id="imagery"  
        [class.selected]="imVisible" (click)="leaflet()">I
      </button> -->
      	
      	<!--setting-->
      	
 		<!-- <app-setting *ngIf="settingVisible == true"></app-setting> -->
    <div *ngIf="seVisible == true">
        <button id="points" [class.selectvisible]="SelectVisible === 'Points'" (click)="pointselect(SelectVisible)"><span matTooltip="Select Points">P</span></button>
        <button id="vertices" [class.selectvisible]="SelectVisible === 'Vertices'" (click)="verticeselect(SelectVisible)"><span matTooltip="Select Vertices">V</span></button>
        <button id="edges" [class.selectvisible]="SelectVisible === 'Edges'" (click)="edgeselect(SelectVisible)"><span matTooltip="Select Edges">E</span></button>
        <button id="wires" [class.selectvisible]="SelectVisible === 'Wires'" (click)="wireselect(SelectVisible)"><span matTooltip="Select Wires">W</span></button>
        <button id="faces" [class.selectvisible]="SelectVisible === 'Faces'" (click)="faceselect(SelectVisible)"><span matTooltip="Select Faces">F</span></button>
        <button id="objects" [class.selectvisible]="SelectVisible === 'Objs'" (click)="objectselect(SelectVisible)"><span matTooltip="Select Objects">O</span></button>
      </div>
</div>


	


