#container {
  position: relative;
  height:100%;
  width: 100%;
  margin:0px;
  overflow: hidden;
  color: white;
  font-family:sans-serif;
}
#container-top-right-resize { top: 0px; right: 0px; }
#shownumber{
  position: absolute;
  float: right;
  color:black;
  right: 0px;
  width: 115px;
  bottom: 0px;
  color:#395d73;
  font-family:sans-serif;
}
/*#rotating{
  width: 30px;
  height: 25px;
  font-size:15px;
  right:0px; 
  text-align:center;
  position: absolute;
  top: 0px;
  background-color:transparent;
  border:0;
}

#paning{
  width: 30px;
  height: 25px;
  font-size:15px;
  right:0px; 
  text-align:center;
  position: absolute;
  top: 25px;
  background-color:transparent;
  border:0;
}

#zooming{
  width: 30px;
  height: 25px;
  font-size:15px;
  right:0px; 
  text-align:center;
  position: absolute;
  margin-top: 50px;
  background-color:transparent;
  border:0;
}*/

/*#imagery{
  width: 30px;
  height: 25px;
  font-size:14px;
  right:0px; 
  text-align:center;
  position: absolute;
  margin-top: 10px;
  background-color:transparent;
  border:0;
}*/

#zoomingfit{
  width: 30px;
  height: 25px;
  font-size:14px;
  right:0px; 
  text-align:center;
  position: absolute;
  margin-top: 10px;
  background-color:transparent;
  border:0;
}

#selecting{
  width: 30px;
  height: 25px;
  font-size:14px;
  right:0px; 
  text-align:center;
  position: absolute;
  margin-top: 35px;
  background-color:transparent;
  border:0;
}

#points{
  width: 30px;
  height: 25px;
  font:14px bolder;
  right:0px; 
  text-align:center;
  position: absolute;
  margin-top: 70px;
  background-color:transparent;
  border:0;
  font-family:sans-serif;
}
#vertices{
  width: 30px;
  height: 25px;
  font:14px bolder;
  right:0px; 
  text-align:center;
  position: absolute;
  margin-top: 95px;
  background-color:transparent;
  border:0;
  font-family:sans-serif;
}
#edges{
  width: 30px;
  height: 25px;
  font:14px bolder;
  right:0px; 
  text-align:center;
  position: absolute;
  margin-top: 120px;
  background-color:transparent;
  border:0;
  font-family:sans-serif;
}
#wires{
  width: 30px;
  height: 25px;
  font:14px bolder;
  right:0px; 
  text-align:center;
  position: absolute;
  margin-top: 145px;
  background-color:transparent;
  border:0;
  font-family:sans-serif;
}
#faces{
  width: 30px;
  height: 25px;
  font:14px bolder;
  right:0px; 
  text-align:center;
  position: absolute;
  margin-top: 170px;
  background-color:transparent;
  border:0;
  font-family:sans-serif;
}
#objects{
  width: 30px;
  height: 25px;
  font:14px bolder;
  right:0px; 
  text-align:center;
  position: absolute;
  margin-top: 195px;
  background-color:transparent;
  border:0;
  font-family:sans-serif;
}

#setting{
  width: 30px;
  height: 25px;
  font-size:14px;
  right:0px; 
  text-align:center;
  position: absolute;
  top: 10px;
  background-color:transparent;
  border:0;
}



.selected{
  color: grey;

}
.visible{
  color: grey;
}

.cursor {

}

.selectvisible{
  background-color:  white !important;
  color:#395d73;
}