.edge{
    fill: none;
    stroke: rgb(80, 80, 80);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    opacity: 1;
    pointer-events: stroke;
    marker-end: url(#arrow);
}
.inviEdge{
    fill: none;
    stroke: gray;
    stroke-width: 30px;
    opacity: 0;
    pointer-events: stroke;
}
.selected{
    stroke: rgb(0, 0, 150);
    opacity: 1;
    marker-end: url(#arrow_selected);
}
