<div id="help-container">
    <div class = 'container' *ngIf='output'>
        <h2><span>{{output.module}}</span>.{{output.name}}</h2>
        <!--<h4>Module: <span>{{output.module}}</span></h4>-->
        <div class = 'body--container'>
            <div class = 'descr--container'>
                <h5><span>Description:</span></h5>
                <p>{{output.description}}</p>
            </div>
    
            <div class = 'param--container'>
                <h5 *ngIf='output.parameters?.length > 0'><span>Parameters: </span></h5>
                <ul class='params'>
                    <li *ngFor='let param of output.parameters'><span>{{param.name}}: </span>{{param.description}}</li>
                </ul>
            </div>        
    
            <!-- <p class='paramP' *ngFor='let param of output.parameters'>
                <span>{{param.name}} - </span>{{param.description}}
            </p> -->
            
            <div class = 'ret--container'>
                <h5 *ngIf='output.returns'>Returns:</h5>
                <p *ngIf='output.returns'>{{output.returns}}</p>
            </div>
        </div>
    </div>
</div>
