<div id="help-container">
    <div class = 'container' *ngIf='output'>
        <h2><span>{{output.module}}</span>.{{output.name}}</h2>
        <!--<h4>Module: <span>{{output.module}}</span></h4>-->
        <div class = 'body--container'>
            <div class = 'descr--container'>
                <h5>Description:</h5>
                <p>{{output.description}}</p>
            </div>
    
            <div class = 'param--container'>
                <h5 *ngIf='output.parameters?.length > 0'>Parameters:</h5>
                <ul class='params'>
                    <ng-container *ngFor='let param of output.parameters'>
                        <li *ngIf='param'>
                            <div class = 'li--item'>
                                <span>{{param.name}}: </span>{{param.description}}
                            </div>
                        </li>
                    </ng-container>
                </ul>
            </div>        
    
            <!-- <p class='paramP' *ngFor='let param of output.parameters'>
                <span>{{param.name}} - </span>{{param.description}}
            </p> -->
            
            <div class = 'ret--container'>
                <h5 *ngIf='output.returns'>Returns:</h5>
                <p *ngIf='output.returns'>{{output.returns}}</p>
            </div>

            <div *ngIf='output.example' class = 'exam--container'>
                <h5>Examples:</h5>
                <div *ngFor='let ex of output.example; let i = index;' class = 'examp'>
                    <ul>
                        <li>{{ex}}</li>
                        <p *ngIf='output.example_info'>{{output.example_info[i]}}</p>
                    </ul>
                </div>
            </div>

            <div *ngIf='output.example_link' class = 'exam--container'>
                <h5>Example URLs:</h5>
                <ul *ngFor='let ex of output.example_link; let i = index;'>
                    <li>{{i+1}}) <a class='hyperlink' href={{urlString+ex}} target="_blank">{{ex}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
