@import '~scss/colors';
@import '~scss/variables';
@import '../general-viewer.scss';
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

h2{
    padding-bottom: 6px;
}
#help-container {
    margin-top: 40px;
    padding: 0px;

    height: calc(100vh - 40px); //$header-height
    width: 100%;
    min-width: fit-content;

    overflow: auto;
    resize: none;

    background-color: transparent;
    color: $color8;
    border: none;
}

.container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    box-sizing: border-box;

    height: fit-content;
    width: 100%;
    min-width: 200px;
    padding: $small-padding;
}

.body--container{
    padding: 6px 0px;
    border-top: 1px solid $color1;
}

$ln-height: $fsize2 + 3px;

.descr--container, .param--container, .ret--container, .exam--container{
    padding: 0px;
    line-height: $ln-height;
    margin-bottom: $ln-height/2;
    h5{
        margin-bottom: $ln-height/4;
    }
    ul{
        margin: 0px;
        padding-left: $small-padding;
        li{
            display: list-item;
            .li--item{
                display: flex;
                flex-flow: row nowrap;
                padding:0px;
                span{
                    margin-right: 2px;
                }
            }
        }
    }
}

.exam--container{
    h5{
        margin-top: $ln-height/4;
    }
    .examp{
        padding: 0px;
        // p{
        //     padding-left: $small-padding;
        // }
        ul{
            margin-bottom: 6px;
            padding: 0px;
            li{
                display: flex;
                border: 1px solid $color1;
                font-family: 'Ubuntu Mono';
                padding: 0px 0px 0px 2px;
                margin: 4px 0px;
            }
        }
    }
}

.hyperlink{
    color: $color1;
    :link {
        color: $color1;
    }
    :visited {
        color: $color2;
    }
    :hover {
        color: $color3;
    }
}