<div [class.selected] = "prod.id == active_procedure?.id"
		[class.print] = "prod.print"
		[class.error] = "prod.error"
		[class.disabled] = "!prod.enabled">
	<div class = "full-container" 
		*ngIf='prod'>
		<!-- (mouseover)="_activeProcedure = prod" -->
		<div class = "seg1" 
			[class.print]="prod.print"
			[class.error]="prod.error" 
			[class.disabled]="!prod.enabled"
			(click)="onSelect($event)">

			<!-- template for data -->
			<div *ngIf="prod.type == 'Data'"> 
				<div class='procedure-item'>
					<input matInput class="tree-input" 
					[style.width.ch]="prod.left.expression?.length + 4" 
					[(ngModel)]="prod.left.expression" 
					required spellcheck="false" 
					list="variable-suggestions">

					<span class="equal">=</span>

					<input matInput class="tree-input" 
					[style.width.ch]="prod.right.expression?.length + 4" 
					[(ngModel)]="prod.right.expression" required spellcheck="false" 
					list="variable-suggestions">

				</div>
			</div>
			
			<div *ngIf="prod.type == 'If' || prod.type == 'ElseIf'">
				<div class='procedure-item'>
				 <span>{{prod.type}} :::</span> 
				 <input matInput class="tree-input" 
					[style.width.ch]="prod.left.expression?.length + 4"  
					[(ngModel)]="prod.left.expression"
					required spellcheck="false">
				</div>
			</div>

			<div *ngIf="prod.type == 'Else'">
				<div class='procedure-item'>
				 <span>{{prod.type}}</span> 
				</div>
			</div>
			
			<div *ngIf="prod.type == 'For Loop'">
				<div class='procedure-item'>
					<span>for each (</span> 
			
					<input matInput class="tree-input" 
						[style.width.ch]="prod.left.expression?.length + 4" 
							[(ngModel)]="prod.left.expression" 
							spellcheck="false">
			
					<span style="margin: 0px 10px;">in</span>  
			
					<input matInput class="tree-input" 
							[style.width.ch]="prod.right.expression?.length + 4" 
							[(ngModel)]="prod.right.expression" spellcheck="false" list="variable-suggestions"> 
					)
				</div>
			</div>

			<div *ngIf="prod.type == 'While'">
				<div class='procedure-item'>
					<span>while :::</span> 
					<input matInput class="tree-input" 
						[style.width.ch]="prod.right.expression?.length + 4" 
						[(ngModel)]="prod.right.expression" 
						spellcheck="false">
				</div>
			</div>
			
			<div *ngIf="prod.type == 'Action'">
				<div class='procedure-item'>

					<ng-container *ngIf='prod.hasReturn'>
					
					<input matInput class="tree-input" 
						[style.width.ch]="prod.left.expression?.length + 4" 
						[(ngModel)]="prod.left.expression" required
						spellcheck="false" list="variable-suggestions">
					
			
					<span class="equal">=</span>

					</ng-container>
			
					<span class="module">{{prod.right.module.replace("_",  ".")}}</span>
					.
			
					  <span class="function">{{prod.right.fn_name}}</span> 
			
					( <span *ngIf="prod.right.params.length>0">
							<div class="param-container" 
								*ngFor="let p of prod.right.params; let i=index">
								
								<input matInput class="tree-input" 
								 [style.width.ch]="prod.right.params[i].value.length + 4" 
								 [(ngModel)]="prod.right.params[i].value"
								 required spellcheck="false" list="variable-suggestions">
			
								<span *ngIf='i<prod.right.params.length-1'>,</span>
							</div> 
						</span>	)
					
				</div>
			</div>
			
			<div *ngIf="prod.type == 'Loop Break' || prod.type == 'Loop Continue'">
				<div class='procedure-item'>
					 {{prod.left.expression}}
				</div>
			</div> 

			<div *ngIf="prod.type == 'Comment'">
				<input matInput class="tree-input comment" 
						[style.width.ch]="prod.left.expression?.length + 4" 
						[(ngModel)]="prod.left.expression" 
						spellcheck="false">
			</div>

				
			<!--button-->
			<div style="float: right;" *ngIf='prod.id == active_procedure?.id'>
				<button class="btn--action"
			   		(click)="prod.print = !prod.print" 
			   		matTooltip="Print value to console"
			   		*ngIf="prod.type =='Action' || prod.type =='Data'" tabindex="-1">
		    		<mat-icon>print</mat-icon>
			    </button>
				
				<button class="btn--action"
					(click)="prod.enabled = !prod.enabled" 
					matTooltip="Enable/Disable Line" tabindex="-1">
		    		<mat-icon>check_circle</mat-icon>
			    </button>

			    <button class="btn--action" matTooltip="Cut" 
		        	tabindex="-1"
		       		(click)="cut($event)">
		    		<mat-icon>content_cut</mat-icon>
			    </button>

			    <button class="btn--action" matTooltip="Copy" 
		        	tabindex="-1"
		       		(click)="copy($event)">
		    		<mat-icon>content_copy</mat-icon>
			    </button>

			    <button class="btn--action" matTooltip="Paste" 
		        	tabindex="-1"
		       		(click)="paste($event)">
		    		<mat-icon>content_paste</mat-icon>
			    </button>

			   	<button class="btn--action" matTooltip="Delete Line" 
		        	tabindex="-1"
		       		(click)="delete($event)">
		    		<mat-icon>delete</mat-icon>
			    </button>
			    
			</div>
		</div>


	</div>


	<div class="children" *ngIf="prod.children.length > 0 && prod.enabled">
		<app-procedure-item 
			*ngFor="let child of prod.children; trackBy: trackByFn" 
			[prod]="child"
			[root]="root"
			[active_procedure]="active_procedure"
			[level]="level+1"
			(action)="onAction($event)">
		</app-procedure-item>
	</div>
</div>