// .seg2{
// }

// .children{
// 	padding-left: 15px;
// }

// .print{
// 	background-color: #B9E788;
// }

// .error{
// 	background-color: red;
// }

// .disabled{
// 	background-color: gray;
// 	color: white !important;
// }

// .btn--action{
// 	background: none;
// 	border: none;
// 	padding: 0px;

// 	mat-icon{
// 		font-size: 18px;
// 	}
// }

// .full-container{
	
// 	padding: 4px; 
// 	//border: 1px solid lightgray;
// 	font-size: 14px;
// 	font-weight: lighter;
// 	font-family: sans-serif;

// 	&::hover{
// 		background-color: gray;
// 	}
// }


// input{
// 	border-bottom: 1px dashed;
// 	text-align: center;

// 	&.comment{
// 		text-align: left;
// 		font-weight: bold;
// 		padding: 10px 5px;
// 		margin: 10px 0px;
// 		color: green;
// 		font-size: 16px;
// 		letter-spacing: 2px;
// 		border: 1px solid green;
// 	}
// }

// .procedure-item{
// 	font-family: 'Ubuntu Mono', monospace;

// 	span.module{
// 		color: $pcolor2 !important;
// 		font-weight: bold;
// 	}

// 	span.function{
// 		color: $pcolor4 !important;
// 		font-weight: bold;

// 	}
// 	span.equal{
// 		text-align: center;
// 		width: 15px;
// 	}
// }

// .selected{
// 	border: 1px solid #395D73;
// 	border-radius: 2px;
// 	//background-color: #D0D0D0;
// }


// .full-container{
// 	width: 100% !important;
// 	padding: 0px !important;

// 	border-radius: 0px;
// 	transition: none;


// 	display: flex;
// 	flex-flow: column nowrap!important;
// 	white-space: nowrap !important;
// 	overflow-y: hidden !important;
// 	overflow-x: auto !important;
// 	justify-content: space-between !important;

// 	&:hover{
// 		.seg2{
// 			display: flex !important;
// 			.seg2btncontainer{
// 				position: absolute;
// 				right: 5px;
// 			}
// 		}
// 	}
// 	.seg1{
// 		min-width: 80% !important; //change to min-width for single line
// 		display: flex !important;
// 		flex-flow: row nowrap!important; //nowrap
// 		align-items: center !important;
// 		justify-content: space-between !important;
// 		//flex-grow:1 !important;
// 		flex-shrink:0 !important;
// 		//overflow-x: auto !important;
// 	}
// 	.procedure-item{
// 		color: $pcolor3 !important;
// 		display: flex !important;
// 		flex-flow: row nowrap !important;
// 		align-items: center !important;

// 		//align-items: center !important;
// 		//justify-content: center !important;

// 		span{
// 			font-weight: bold !important;
// 			color: $pcolor3 !important;
// 		}
// 		.tree-input{
// 			min-width: 30px !important;
// 			//max-width: 100px !important;
			
// 			color: $color1 !important;
// 			background-color: white;//$color3;
// 			border-style: solid !important;
// 			border: 0px;
// 			border-bottom: 1px solid $color1;
// 			font-weight: normal !important;

// 			//border-radius: 3px;
// 			text-align: center; //center;
// 			margin: 2px 0px;
// 			&:focus{
// 				background-color:$color4 !important;
// 				&:hover{
// 					color:$color1 !important;
// 				}
// 			}
// 			&:hover{
// 				color: $color4 !important;
// 			}
// 		}
// 	}
// 	.seg2{
// 		display:none !important;
// 		.seg2btncontainer{
// 			height: $fsize1 !important;
// 			padding: 2px;
// 			border-radius: 2px;
// 			display: flex !important;
// 			flex-flow: row nowrap !important;
// 			justify-content: flex-end !important;
// 			background-color: rgba(240,191,160,1) !important;
// 			flex-grow:1 !important;
// 			flex-shrink:0 !important;
// 			button{
// 					margin: 0px !important;
// 					max-width: $fsize1  !important;
// 					max-height: $fsize1 !important;
// 					min-width: $fsize1  !important;
// 					padding: 0px !important; 

// 					flex-grow:0 !important;
// 					flex-shrink:0 !important;
							
// 				mat-icon{
// 					max-height: $fsize1 !important;
// 					vertical-align: top !important;
// 					font-size: $fsize1 !important;
// 					text-align: left !important
// 				}
// 				&:hover{
// 					background-color: $color3 !important;
// 					mat-icon{
// 						color: $color5 !important;
// 					}
// 				}
// 			}
// 			span{
// 				//height: $fsize1 !important;
// 			}
// 			&:hover{
// 				display: flex;
// 			}
// 		}
// 	}
// }


