#setandgroup{
  position: relative;
  background-color: #F1F1F1 !important;
  height: 100%;
  width: 100%;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 12px !important;
  line-height: 14px;
  overflow-x: hidden !important;
}
#groupsview{
  color:#395d73;
  background-color: #F1F1F1 !important;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 12px !important;
}
#settingview{
  font-family: Roboto,"Helvetica Neue",sans-serif;
  background-color: #F1F1F1 !important;
  font-size: 12px !important;
  line-height: 14px;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  width: 1600px;
  height: 800px;
  color: #395d73;
}
.check{
  margin-left:10px;
}
#GridCenter{
  margin-left: 10px;
  margin-top: 3px !important;
  height: 8px;
  vertical-align: bottom;
}

#centerx{
  width:50px;
  margin-left: 10px;
/*  margin-left:25px;*/
}
#centery{
  width:50px;
  /*margin-left:25px;*/
}
#centerz{
  width:50px;
  /*margin-left:25px;*/
}
#centersize{
  width:50px;
  margin-left:9px;
}
.name{
  width: 100%;
  margin-left: 10px;
  margin-top: 8px;
}
#slider-conainer{
  align-items: center !important;
  display: flex;
  float: right;
}

/*::ng-deep .mat-accent .mat-slider-thumb {
    background-color: #395d73;
    font-family:sans-serif;
} 
::ng-deep .mat-accent .mat-slider-thumb-label {
    background-color: white;
    color:#395d73;
    font-family:sans-serif;
}
::ng-deep .mat-accent .mat-slider-track-fill {
    background-color: #395d73;
    font-family:sans-serif;
}

/deep/.mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb, .mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb-label {
    background-color: #395d73;
}
/*::ng-deep .mat-expansion-panel {
  margin: 0px !important;
  overflow: hidden !important;
}
/deep/ .slider {
  height: 25px !important;
  vertical-align: unset !important;
  width: unset !important;
}
*/
/deep/.mat-accent .mat-slider-thumb {
    background-color: #395d73 !important;
    cursor: -webkit-grab;
} 

/deep/.mat-slider-track-fill{
  background-color: #395d73 !important;
}

/deep/.mat-slider-thumb-label-text {
    color: #395d73 !important;
    font-size: 12px !important;
}
/deep/.mat-slider-thumb-label{
    height: 15px !important;
    width: 15px !important;
    top: -20px !important;
    right: -7px !important;
    background-color: white !important;
    border: 1px solid #395d73 !important;
}
.mat-slider{
    width: 50px !important;
}

/deep/.mat-tab-label, /deep/.mat-tab-label-active{
  min-width: 3px!important;
  padding: 3px!important;
  margin: 3px!important;
  color:#395d73;
}
/deep/.mat-tab-label{
  height: 30px !important;
}
/deep/.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination{
  display: none !important;
}


/deep/.mat-ink-bar{
  background-color: #395d73 !important;
}
.mat-tab{
  min-width: 30px !important;
}
/deep/.mat-tab-body-content{
  overflow: hidden !important;
}

.mat-expansion-panel-spacing {
  margin-top:0px;
  margin-bottom: 0px;
}
.mat-expansion-panel{
  background-color: #F1F1F1 !important;
  border-color: #395d73;
  line-height: 14px;
  font-weight: bold !important;
  font-size: 12px !important;
  overflow: hidden !important;
}

#groupname{
  margin-right: 0px;
}
.mat-header{
  flex-direction: row;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  margin-left: 0px;
  color:#395d73;
  border: 0;
  height: 20px;
}
.mat-list-text{
  cursor :pointer;
  color:#f3a32a;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 700px;
  line-height: 14px;
  border-top: 2px !important;
  /*margin-top: 2px;*/
}
.mat-list-descr{
  cursor :default;
  color:#f3a32a;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 700px;
  line-height: 14px;
  border-top: 2px !important;
  margin-top: 8px;
}

.mat-list-text-parent{
  cursor :pointer;
  color:#f3a32a;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 700px;
  line-height: 14px;
  border-top: 2px !important;
  /*margin-top: 2px;*/
}


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  /*margin: 1em 0;*/
  padding: 0; 
  color:#395d73;
  width: 100%;
  background-color: #395d73;
}

