@import '~scss/colors';
@import '~scss/variables';

.container{
    display: block; 
    margin: 5px 0px 0px 5px;
    width: 100%;
}

.container--parameter{
    display: inline-block; 
    flex-direction: row; 
    flex-wrap: wrap;
    bottom: 0px;
    padding-bottom: 5px;
    border-bottom: 1px solid $color5;
    border-left: 1px solid $color5;
    width: 100%;

}

.container--input{
    display: inline-flex; 
    flex-direction: row; 
  }

input{
    color: $color1;
    background-color: $color4;
    max-width: 96%;
    border: none;
    border-bottom: 1px solid $color1;
    margin-left: 5px;
    vertical-align: bottom;
    &.disabled-input{
        border-bottom: none;
    }
}
.input-const-name{
    min-width: 100px;
}


.parameter__name{
    display: inline-block; 
    flex-direction: row; 
    flex-wrap: wrap;
    width: 100px;
}

mat-slider {
    width: 300px;
}
