<div class='container'>
    <div class='container--parameter'>
        <input class='input-const-name' [class.disabled-input]='true' [value]='displayConstName()' 
        [style.width.px]='inputSize(prod.args[prod.argCount-2].value,"Undefined") + 10' disabled>

        <ng-container class='parameter__name' [ngSwitch]="prod.meta.inputMode">

            <input *ngSwitchCase="PortTypes.SimpleInput" [(ngModel)]='prod.args[prod.argCount-1].value' 
            placeholder='{{prod.args[prod.argCount-1].default}}'
            [style.width.px]='inputSize(prod.args[prod.argCount-1].value, prod.args[prod.argCount-1].default)'>
            
            <ng-container *ngSwitchCase="PortTypes.Slider">
                <mat-slider
                    [(ngModel)]='prod.args[prod.argCount-1].value'
                    thumbLabel
                    tickInterval="auto"
                    min={{prod.args[prod.argCount-1].min||0}}
                    max={{prod.args[prod.argCount-1].max||100}}></mat-slider>
                <input [class.disabled-input]='true' [(ngModel)]='prod.args[prod.argCount-1].value' 
                [style.width.px]='inputSize(prod.args[prod.argCount-1].value, "")' disabled>


                <!--
                <input [(ngModel)]='prod.args[prod.argCount-1].value' name='prod.args[prod.argCount-1].value' type="range" placeholder='{{prod.args[prod.argCount-1].default}}'>
                <input [(ngModel)]='prod.args[prod.argCount-1].value' value='prod.args[prod.argCount-1].value'  placeholder='{{prod.args[prod.argCount-1].default}}' disabled>
                -->
            </ng-container>
            <input *ngSwitchCase="PortTypes.Checkbox" [(ngModel)]='prod.args[prod.argCount-1].value' type="checkbox">
            <input *ngSwitchCase="PortTypes.URL" [(ngModel)]='prod.args[prod.argCount-1].value' placeholder='{{prod.args[prod.argCount-1].default}}' 
            [style.width.px]='inputSize(prod.args[prod.argCount-1].value, prod.args[prod.argCount-1].default)'>
            <input *ngSwitchCase="PortTypes.File" (change)="onFileChange($event)" type="file">
        </ng-container>
    </div>
</div>

