@import './colors';

.mat-form-field-wrapper{
    font-family: 'Ubuntu Mono', monospace !important;
    padding: 0 !important;
    font-size: $fsize2 !important;
    color: $color1;
    max-width: 95%;
}

.mat-form-field-infix{
    padding: 0 !important;
    border: 0 !important;
}

.mat-form-field-underline{
    display: none !important;
}
