@import '~scss/colors';
@import '~scss/variables';

#threejs-geo-container {
    position: relative;
    // padding:50px;
    height: 100%;
    width: 100%;
    margin:0px;
    overflow: hidden;
    // color: blue;
    font-family:sans-serif;
}
