@import '~scss/viewers';

.content__panel{
    margin-top: 10px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

split-area{
    overflow: auto !important;
}

.container--editor{
    display: block; 
    height: 100%;
    width: 100%;
}

.container__heading{
    display: block;
    text-align: center;
    width: 98%;

}
h2{
    color: $text-color;
    text-align: left;
    width:100%;
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    padding-left: 15px;
}

hr{
    border-top: 2px solid $separator;
}

.container__content{
    display: inline-flex;
    width: 100%;
    min-height: 98%;
    overflow: inherit;
}

.container--toolset{
    display: inline-flex;
    width: 20%;
    background-color: transparent;
}

.container--procedure{
    display: block;
    width: 80%;
    bottom: 10px;
    background-color: transparent;
    padding: none;
}

hr{
    border-top: 2px solid $separator;
    width:100%;

}

/*
$header-height: 45px;

.container{
    position: relative;
    overflow: auto;
    margin: 10px 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
        
    h1, h2, h3, h4, h5, h6, p{
        margin: 0px;
        padding: 0px;
    }

    .container__header{
        flex: 0 1 auto;
        min-height: $header-height;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 0px 0px 0px 15px;

        background-color: #3F4651;
        color: #E7BF00;
        
        line-height: $header-height;
        text-transform: uppercase;
    
        font-size: 18px;
        font-weight: 600;
        text-align: center;
    }

    .container__content{
        flex-grow: 1;
        height: 0px;
        border: 2px solid #3F4651;
        overflow: auto;

        split{
            height: 100%;
        }
    }

    .container__footer{
        text-align: center;
        font-size: 12px;
        line-height: 18px;

        background-color: #3F4651;
        color: #E7BF00;
    }
}


.content__panel{
    height: 100%; 
    overflow: auto;

    //padding: 10px 15px;
}
*/