<div class='container'>
    <as-split direction="horizontal" (dragEnd)='setSplit($event)'>
        <as-split-area [size]="100 - dataService.splitVal">
            <panel-header [title]='dataService.flowchart.name'></panel-header>
            <!-- viewchild content -->
            <div class='content__panel'>

                <div class='container--editor' (mouseenter)='activateCopyPaste()'  (mouseleave)='deactivateCopyPaste()'
                (copy)='copyProd()' (cut)='cutProd($event)' (paste)='pasteProd($event)'>
                
                    <div class='container__content'>
                        <!-- toolset on the left side -->
                        <div class="container--toolset">
                            <toolset [functions]='dataService.flowchart.functions' 
                            [node]='dataService.node' 
                            [hasProd]='dataService.node.procedure.length>0' 
                            (delete)='deleteFunction($event)' 
                            (select)='add($event)' 
                            (imported)='importFunction($event)'></toolset>
                        </div>
                
                        <!-- procedure editor on the right side -->
                        <div id='procedure' class="container--procedure">
                            <!-- parameter-editor only for start/end node -->
                            <parameter-editor *ngIf="dataService.node.type == 'start' || dataService.node.type == 'end'" [flowchart]='dataService.flowchart' [node]='dataService.node'></parameter-editor>
                            <ng-container *ngIf="dataService.node.type != 'start'">
                                <!-- list of procedure items for all nodes -->
                                <procedure-item 
                                *ngFor="let line of dataService.node?.procedure; let idx=index" 
                                [data]="line"
                                (select)="selectProcedure($event,line)"
                                (delete)="deleteChild(idx)"
                                (helpText)='updateHelpView($event)'></procedure-item>
                                <br>
                                <br>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </as-split-area>

        <as-split-area [size]="dataService.splitVal">
            <!-- data viewers panel -->
            <div class='content__viewer' >
                <model-viewers-container [data]='viewerData()' [helpView]='helpView'></model-viewers-container>
            </div>
        </as-split-area>
        
    </as-split>

</div>
    


