
<div class='container'>
	<div class='content__panel'>
		<!--
		<parameter-editor [node]='flowchart.nodes[flowchart.meta.selected_nodes[0]]'></parameter-editor>
		-->
		<procedure-editor [node]='flowchart.nodes[flowchart.meta.selected_nodes[0]]' [functions]='flowchart.functions' (imported)='importFunction($event)'></procedure-editor>
		<br>
		<br>
	</div>
</div>

<!--
<div class='container'>

	<div class='container__header'>
		Mobius Editor	
		<navigation></navigation>
		<execute [flowchart]='flowchart'></execute>
	</div>
	
	<div class='container__content'>
		<split direction="horizontal">
	
			<split-area size="60">

				<div class='content__panel'>
					<flowchart [data]="flowchart" (select)='selectNode($event)'></flowchart>
				</div>
				
				<div class='btn--container' style='position: absolute; top: 37px; left: 250px; display: flex; flex-direction: column; padding: 10px;'>
					<file-new (create)='updateFile($event)'></file-new>
				</div>
				<div class='btn--container' style='position: absolute; top: 37px; left: 310px; display: flex; flex-direction: column; padding: 10px;'>
					<file-load (loaded)='updateFile($event)'></file-load>
				</div>
				<div class='btn--container' style='position: absolute; top: 37px; left: 370px; display: flex; flex-direction: column; padding: 10px;'>
					<file-save [file]='file'></file-save>
				</div>
			</split-area>
			
			<split-area size="40">
				
					<split direction="vertical">
	
						<split-area size='60'>
							<div class='content__panel'>
								<parameter-editor [node]='flowchart.nodes[flowchart.meta.selected_nodes[0]]'></parameter-editor>
								<procedure-editor [node]='flowchart.nodes[flowchart.meta.selected_nodes[0]]' [functions]='flowchart.functions' (imported)='importFunction($event)'></procedure-editor>
								<br>
								<br>
							</div>
						</split-area>
						
						<split-area size='40'>
							<div class='content__panel'>
								<mviewer [node]='flowchart.nodes[flowchart.meta.selected_nodes[0]]'></mviewer>
							</div>
						</split-area>
					
					</split>
					
			</split-area>
	
		</split>
	</div>
</div>
-->
