@import '~scss/colors';
@import '~scss/variables';

.content__panel{
    margin-top: $header-height;
}

.container--editor{
    display: block; 
    height: 100%;
    width: 100%;
}

.container__heading{
    display: block;
    text-align: center;
    width: 100%;

}

.container__content{
    display: inline-flex;
    width: 100%;
    min-height: 100%;
    overflow: inherit;
}

.container--toolset{
    display: inline-flex;
    width: 20%;
    min-width: 100px;
    max-width: 150px;
    
    background-color: transparent;
    height: calc(100vh - 40px); // 40px === $header-height
    overflow: hidden;
    toolset{
        display: flex;
        flex-flow: column nowrap;
        
        overflow:hidden;
        // &:hover{
        //     overflow-y: auto;
        // }
    }
    // toolset::-webkit-scrollbar {
    //     width: 8px;
    // }
    
    // toolset::-webkit-scrollbar-track {
    //     background: $color5;
    // }
    
    // toolset::-webkit-scrollbar-thumb {
    //     background: $color4; 
    //     border-left: 2px solid $color5;
    // }
    
    // toolset::-webkit-scrollbar-thumb:hover {
    //     background: $color2; 
    // }
}
.pro-container{
    height: auto;
}

.container--procedure{
    width: calc(100% - 100px); //min-width toolset
    background-color: transparent;
    padding: 0px;   
}

.procedureln--container{
    padding: 0px;
    padding-bottom: 10px;
    overflow: hidden;
    margin: 5px 0px;
    height: calc(100vh - 40px - 25px); // 40px === $header-height 25px top margin & btn height
    #spacer{
        height: 10px;
    }
    &:hover{
        overflow:auto;
    } 
}

hr{
    border-top: 2px solid $color5;
    width:100%;

}

procedure-item.ng-star-inserted{
    max-height: 100%;
}

.divider{
    height: 20px;
    width: 100%;
}

#modelViewButton--container{
    padding: 0px 13px 0px 0px;
    button{
        width: 100%;
        margin: 0px 5px 2px 8px;
    
        background-color: $color5;
        color: $color1;
    
        text-align: center;
        text-decoration: none;
    
        font-size: $fsize2;
        transition: 0.4s;
        border: 2px solid transparent;
    
        span{
            color: $selected-color;
            font-weight: 550;
        }
        &:hover, &:active {
            // border-color: $selected-color;
            background-color: $color4;
            color: $color8;
        }
    }
}