@import '~scss/colors';
@import '~scss/variables';


.container--editor{
    display: block; 
    height: 100%;
    width: 100%;
}

.container__heading{
    display: block;
    text-align: center;
    width: 100%;

}

.container__content{
    display: inline-flex;
    width: 100%;
    min-height: 100%;
    overflow: inherit;
}

.container--toolset{
    display: inline-flex;
    width: 20%;
    background-color: $color4;
}

.container--procedure{
    display: block;
    width: 80%;
    bottom: 10px;
    background-color: transparent;
    padding: none;
}

hr{
    border-top: 2px solid $separator;
    width:100%;

}
