@import '~scss/colors';
@import '~scss/variables';

.content__panel{
    margin-top: $header-height;
    overflow: hidden;

}

.container--editor{
    display: block; 
    height: 100%;
    width: 100%;
}

.container__heading{
    display: block;
    text-align: center;
    width: 100%;

}

.container__content{
    display: inline-flex;
    width: 100%;
    min-height: 100%;
}

.container--toolset{
    display: block;
    width: 130px;
    min-width: 130px;
    max-width: 130px;
    
    background-color: transparent;
    height: calc(100vh - 40px); // 40px === $header-height
    overflow: hidden;
    toolset{
        display: flex;
        flex-flow: column nowrap;
        
        overflow:hidden;
        width: 100%;
        // &:hover{
        //     overflow-y: auto;
        // }
    }
    // toolset::-webkit-scrollbar {
    //     width: 8px;
    // }
    
    // toolset::-webkit-scrollbar-track {
    //     background: $color5;
    // }
    
    // toolset::-webkit-scrollbar-thumb {
    //     background: $color4; 
    //     border-left: 2px solid $color5;
    // }
    
    // toolset::-webkit-scrollbar-thumb:hover {
    //     background: $color2; 
    // }
}
.pro-container{
    height: auto;
}

.container--procedure{
    width: calc(100% - 125px); //min-width toolset
    max-height: calc(100vh - 40px);
    background-color: transparent;
    padding: 0px;   
    overflow: auto;
    padding-left: 10px;

    // overflow: hidden;
    // :hover{
    //     overflow: auto;
    // }
}

.procedureln--container{
    padding: 0px;
    padding-bottom: 10px;
    overflow: hidden;
    margin: 0px 0px 5px 0px;
    height: fit-content;
    // height: calc(100vh - 40px - 25px); // 40px === $header-height 25px top margin & btn height
    #spacer{
        height: 10px;
    }
}

.procedureln--container-start{
    height: fit-content; // 40px === $header-height 25px top margin & btn height 56px flowchart info
}

h2{
    min-height: $fsize3;
    color: $color8;
    padding-left: 8px;
    font-family: sans-serif;
    line-height: $fsize3;
    font-size: $fsize2;
    font-weight: 550;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    cursor: pointer;
    #node--name{
        width: 80%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    #node--arr{
        width: 20%;
    }
}

// #nodeMenu {
//     display: none;
//     position: fixed;
//     transition: display 0.4s;
//     left: 3px;
//     top: 70px;
//     width: 125px;
//     max-height: 80%;
//     z-index: 1;
//     background-color: $color6;
//     border: 1px solid $color2;
//     // border-right: 1px solid $color2;
//     // border-bottom: 1px solid $color2;
//     // border-top: 1px solid $color2;
//     cursor: pointer;

//     button{
//         display: block;
//         background-color: $color6;
//         border: 0px;
//         margin: 0px;
//         padding: 0px;
//         line-height: $fsize3;
//         height: $fsize3;
//         font-size: $fsize2;
//     }

//     li{
//         display: block;
//         overflow: hidden;
//         text-overflow: ellipsis;
//         white-space: nowrap;
//         line-height: 20px;
//         background-color: $color6;
//         font-weight: 550;
//         border: 0px;
//         margin: 0px;
//         padding: 0px 10px 0px 10px;
//         line-height: $fsize3;
//         height: $fsize3;
//         font-size: $fsize2;
        
//         color: $color8;
//         &:hover{
//             color: $selected-color;
//             background-color: $color5;
//         }
//     }

// }

hr{
    border-top: 2px solid $color5;
    width:100%;

}

procedure-item.ng-star-inserted{
    max-height: 100%;
}


.divider--container{
    font-family: $inputTextFontFam;
    font-weight: 700;
    height: 20px;
    display: flex;
    flex-flow: column nowrap;
    padding-left: 0px;
    padding-right: 5px;
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0px 2px 0px;
    .divider{
        height: 100%;
        padding-left: 2px;
        padding-bottom: 2px;
        border-bottom: 3px solid $color2;
        span{
            font-size: $fsize2;
            color: $selected-color;
        }
    }
}

#modelViewButton--container{
    padding: 0px 13px 0px 0px;
    margin-bottom: 5px;
    // button{
    //     width: 100%;
    //     margin: 0px 5px 2px 0px;
    
    //     background-color: $color3;
    //     color: $color8;
    
    //     text-align: left;
    //     text-decoration: none;
    
    //     font-size: $fsize2;
    //     transition: 0.4s;
    //     border: 2px solid transparent;
    
    //     span{
    //         color: $selected-color;
    //         font-weight: 550;
    //     }
    //     &:hover, &:active {
    //         // border-color: $selected-color;
    //         background-color: $color2;
    //         color: $color8;
    //     }
    // }

    li{
        width: 100%;
        margin: 0px 5px 2px 0px;
        padding: 1px 0px;
    
        background-color: $color3;
        color: $color8;
    
        text-align: left;
        text-decoration: none;
    
        font-size: $fsize2;
        transition: 0.4s;
        border: 2px solid transparent;
        list-style: none;

        font-family: $inputTextFontFam;
        font-weight: 700;
    
        span{
            padding-left: 6px;
            color: $selected-color;
            // font-weight: 550;
        }
        &:hover, &:active {
            // border-color: $selected-color;
            background-color: $color2;
            color: $color8;
        }
    }

}

.offsetbreak {
    height: calc(100vh - 110px);
}