$text-color: rgb(80,80,80);
$separator: rgb(239,239,239);

.container{
    background-color: transparent;

    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h2{
    color: $text-color;
    text-align: left;
    padding-left: 15px;
    font-size: 12px;
    line-height: 16px;
}

p{
    color: $text-color;
    text-align: left;
    padding-left: 15px;
    font-size: 12px;
    line-height: 14px;
}

hr{
    border-top: 2px solid $separator;
}

div[class^="container--"]{
    display: flex; 
    flex-direction: column;

    margin: 10px 0px;
}