<div class='container container--about'>
    <h1>Mobius Platform</h1>
    <h5>Community Edition</h5>

    <h3>Overview</h3>
    <p>
        The Möbius Modeller is an open-source web platform for building modelling apps. Such apps allows users to create modelling procedures using visual programming techniques, combining flowcharts with drag-and-drop fill-in-the-blanks coding. The models can be published as interactive web pages, allowing visitors on the web to explore the models.</p>

    <p>
        Apps can be built on top of the Möbius Modeller Platform, focusing on different use cases. To date, two apps have been developed: for geospatial modelling and for parametric modelling.
    </p>

    <navigation></navigation>
</div>