<split  
		class="editor" 
		direction="horizontal" 
		[gutterSize]="7" 
		[useTransition]="true">

	<split-area [size]="30" order="1">
		<flowchart [data]="flowchart"></flowchart>
		<execute></execute>
	</split-area>

	<split-area [size]="70" order="2">
		<split direction="vertical">
			
			<split-area>
				<text-viewer [node]='(flowchart | async).nodes[0]'></text-viewer>
			</split-area>
			
			<split-area>
				<parameter-editor [node]='(flowchart | async).nodes[0]'></parameter-editor>
				<procedure-editor [node]='(flowchart | async).nodes[0]'></procedure-editor>
			</split-area>

			<split-area>
				<parameter-viewer [node]='(flowchart | async).nodes[0]'></parameter-viewer>
			</split-area>

		</split>
	</split-area>

</split>
