<div id="gi-viewer-container">
	<as-split direction="vertical">
		<as-split-area [size]="66" id="three-js">
			<cesium-viewer [model]='data' (eventClicked)="childEventClicked($event)"></cesium-viewer>
		</as-split-area>
		<as-split-area [size]='34' id="attrib">
			<!-- <attribute [data]="data" [refresh]="clickedEvent" [reset]="attrTableReset" (attrTableSelect) = "attribTableSelected($event)"></attribute> -->
			<button class='btn' id="settings_button" mat-icon-button (click)="openModal('settings_modal')" title="Settings"><mat-icon>settings</mat-icon></button>
			<modal-window id="settings_modal">
				<h1>Settings</h1>
				<tabs id="settingsTab">
					<tab tabTitle="Scene">
						
					</tab>
					<tab tabTitle="Colors">
						
					</tab>
					<tab tabTitle="Light & Shadow">
						
					</tab>
					<tab tabTitle="Environment">
						
					</tab>
				</tabs>
				
				<button (click)="closeModal('settings_modal', true);" class="filebtn setting">Save</button>
				<button (click)="closeModal('settings_modal');" class='filebtn closebtn setting'>Close</button>
			</modal-window>
		</as-split-area>
	</as-split>
</div>
