<div id="cesium-viewer-container">
    <!-- Cesium Viewer -->
    <cesium-viewer [model]='data' (eventClicked)="childEventClicked($event)"></cesium-viewer>
    <!-- Settings Button & Settings Panel -->
    <button class='btn' id="cesium_settings_button" mat-icon-button (click)="openModal('cesium_settings_modal')" title="Settings"><mat-icon svgIcon="settings"></mat-icon></button>
    <cesium-modal-window id="cesium_settings_modal" (closeModal) = 'onCloseModal()'>
        <h1>Cesium Viewer Settings</h1>
        <tabs id="settingsTab">
            <tab tabTitle="Image Tiles">
                <div class="mat-elevation-z1">
                    <dl>
                        <dd>
                            <div class="label">Imagery tile:</div>
                            <select [(ngModel)]='settings.imagery.layer'>
                                <option *ngFor="let item of layerList" value ={{item}}>{{item}}</option>
                            </select>
                        </dd>
                        <dd>
                            <div class="label">Terrain:</div>
                            <select [(ngModel)]='settings.imagery.terrain'>
                                <option *ngFor="let item of terrainList" value ={{item}}>{{item}}</option>
                            </select>
                        </dd>
                    </dl>
                </div>
            </tab>
            <tab tabTitle="Cesium Ion">
                <div class="mat-elevation-z1">
                    <dl>
                        <dd>
                            <div class="label">Cesium Ion Access:</div>
                        </dd>
                        <dd>
                            <textarea class="tArea" [(ngModel)]='settings.cesium.ion'></textarea>
                        </dd>
                        <dd>
                            <div class="label">Cesium Ion Asset IDs:</div>
                        </dd>
                        <dd>
                            <textarea class="tArea" [(ngModel)]='settings.cesium.assetid'></textarea>
                        </dd>
                        <dd>
                            <div class="label">Save Ion Access to local storage:</div>
                            <div class="onoffswitch">
                                <input type="checkbox"
                                name="onoffswitch"
                                class="onoffswitch-checkbox"
                                id="saveIonAccess"
                                [(ngModel)]='settings.cesium.save'
                                >
                                <label class="onoffswitch-label" for="saveIonAccess">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </dd>
                    </dl>
                </div>
            </tab>
        </tabs>
        <button (click)="closeModal('cesium_settings_modal', true);" class="filebtn closebtn setting">Apply</button>
        <button (click)="closeModal('cesium_settings_modal');" class='filebtn closebtn setting'>Cancel</button>
        <!-- <button (click)="resetToDefault();" class='filebtn closebtn setting' style="float: right;">Default</button> -->
    </cesium-modal-window>


</div>
