<div id="cesium-viewer-container">
    <cesium-viewer [model]='data' (eventClicked)="childEventClicked($event)"></cesium-viewer>
    <!-- <button class='btn' id="cesium_settings_button" mat-icon-button (click)="openModal('cesium_settings_modal')" title="Settings"><mat-icon svgIcon="settings"></mat-icon></button>
    <modal-window id="cesium_settings_modal" (closeModal) = 'onCloseModal()'>
        <h1>3D Viewer Settings</h1>
        <tabs id="settingsTab">
            <tab tabTitle="Environment">
                <div class="mat-elevation-z1">
                    <dl>
                        <dd>
                            <div class="label">Ground</div>
                        </dd>
                        <dd>
                            <div class="label">Width</div>
                        </dd>
                        <dd>
                            <div class="label">Length</div>
                        </dd>
                        <dd>
                            <div class="label">Height</div>
                        </dd>
                    </dl>
                </div>
            </tab>
        </tabs>
        <button (click)="closeModal('cesium_settings_modal', true);" class="filebtn closebtn setting">Apply</button>
        <button (click)="closeModal('cesium_settings_modal');" class='filebtn closebtn setting'>Cancel</button>
        <button (click)="resetToDefault();" class='filebtn closebtn setting' style="float: right;">Default</button>
    </modal-window> -->


</div>
