div{
    position: absolute;
    ul{
        padding: 0;
        border: 1px solid #eeeeee;
        box-shadow: 1px 1px 3px 0px #bbbbbb;
        ol{
            cursor: pointer;
            list-style: none;
            background: #ffffff;
            min-width: 20px;
            padding: 5px 10px;
            &:hover{
                background: #eeeeee;
            }
        }
        &:first-child{
            background: #f9f9f9;
        }
    }
}