<div id="threejs-container" (click)="render(this)" (mouseup)="onDocumentMouseUp($event)">
    <div *ngIf="_model_error" style="position:absolute;color:red;margin-top: 50px;left:40%;width: auto;text-align: center;font-family:sans-serif;font-size: 14px;background-color: white;">Error displaying model:{{text}}</div>
    <div *ngIf="_no_model" style="position:absolute;color:red;margin-top: 50px;left:40%;width: auto;text-align: center;font-family:sans-serif;font-size: 14px;background-color: white;">Model or Scene not defined.</div>

    <!--
    <button id="zoomingfit"  
        [class.visible]="Visible === 'zoomfit'" 
        (click)="zoomfit()">
        <span matTooltip="zoom to fit"><i class="fa fa-arrows-alt"></i></span>
    </button> 
    -->
    <button id="zoomingfit"
        mat-icon-button
        [class.visible]="Visible === 'zoomfit'" 
        (click)="zoomfit()">
        <mat-icon svgIcon="cZoom"></mat-icon>
    </button> 

    <!-- <button id="selecting" [class.visible]="Visible === 'select'" (click)= "select($event, Visible)" ><i class="fa fa-mouse-pointer"></i></button> -->
    <!-- <button id="setting" [class.selected]="settingVisible" (click)= "setting(settingVisible)"><i class="fa fa-cog"></i></button> -->
    <!-- 
    <button id="selecting" [class.selected]="seVisible" (click)= "select(seVisible)" ><span matTooltip="select"><i class="fa fa-mouse-pointer"></i></span></button>

    -->
    <button id="selecting" 
        mat-icon-button
        [class.selected]="seVisible" 
        (click)= "select(seVisible)" >
        <mat-icon >near_me</mat-icon>
    </button>

    <div id="shownumber">
        <tr>
            <td  align=left style="width: 60px;">Triangles&nbsp;&nbsp;</td>
            <td  align=left style="width: 10px;">{{_threejs_nums[2]}}</td>
        </tr>
        <tr>
            <td  align=left style="width: 60px;">Lines</td>
            <td  align=left style="width: 10px;">{{_threejs_nums[1]}}</td>
        </tr>
        <tr>
            <td  align=left style="width: 60px;">Points&nbsp;&nbsp;</td>
            <td  align=left style="width: 10px;">{{_threejs_nums[0]}}</td>
        </tr>
    </div>

    <!-- <button id="imagery"  
        [class.selected]="imVisible" (click)="leaflet()">I
        </button> -->
    <!--setting-->
    
    <!-- <app-setting *ngIf="settingVisible == true"></app-setting> -->
    <div *ngIf="seVisible == true">
        <button id="points" [class.selectvisible]="SelectVisible === 'Points'"><span matTooltip="Select Points">P</span></button>
        <button id="vertices" [class.selectvisible]="SelectVisible === 'Vertices'"><span matTooltip="Select Vertices">V</span></button>
        <button id="edges" [class.selectvisible]="SelectVisible === 'Edges'"><span matTooltip="Select Edges">E</span></button>
        <button id="wires" [class.selectvisible]="SelectVisible === 'Wires'"><span matTooltip="Select Wires">W</span></button>
        <button id="faces" [class.selectvisible]="SelectVisible === 'Faces'"><span matTooltip="Select Faces">F</span></button>
        <button id="objects" [class.selectvisible]="SelectVisible === 'Objs'"><span matTooltip="Select Objects">O</span></button>
      </div>
</div>
