@import '~scss/colors';
@import '~scss/variables';

button{
    cursor: pointer;
    &:focus{
        outline: none;
    }
}
//threejs-viewer
:host  { 
    // position: absolute;
    // padding:5px;
    width: 100%;
    height: 100%;
    background-color: green;
    overflow:hidden;
}

#threejs-container {
    position: relative;
    // padding:50px;
    height: 100%;
    width: 100%;
    margin:0px;
    overflow: hidden;
    // color: blue;
    font-family:sans-serif;
}

#container-top-right-resize { 
    top: 0px; 
    right: 0px; 
}

#giSummary, #tjsSummary{
    position: absolute;
    bottom: 5px;
    left: 5px;
    background: rgba(255,255,255,0.3);
    padding: 10px;
    color: #2a8ac5;
    td{
        height: 17px;
    }
}

#nodeSelect_slider{
    position: absolute;
    bottom: 5px;
    right: 50px;
    background: rgba(255,255,255,0.3);
    padding: 10px 25px 10px 10px;
    color: $color1;

    datalist {
        width: 121%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    
    datalist option {
        width: 15px;
        padding: none;
        flex-grow: 1;
        right: 1px;
    }
}
#nodeSelect_dropdown{
    position: absolute;
    bottom: 5px;
    right: 50px;
    // background: rgba(255,255,255,0.3);
    padding: 10px;
    color: $color1;

    datalist {
        width: 121%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    
    datalist option {
        width: 15px;
        padding: none;
        flex-grow: 1;
        right: 1px;
    }
}
/*#rotating{
    width: 30px;
    height: 25px;
    font-size:15px;
    right:0px; 
    text-align:center;
    position: absolute;
    top: 0px;
    background-color:transparent;
    border:0;
}

#paning{
    width: 30px;
    height: 25px;
    font-size:15px;
    right:0px; 
    text-align:center;
    position: absolute;
    top: 25px;
    background-color:transparent;
    border:0;
}

#zooming{
    width: 30px;
    height: 25px;
    font-size:15px;
    right:0px; 
    text-align:center;
    position: absolute;
    margin-top: 50px;
    background-color:transparent;
    border:0;
}*/

/*#imagery{
    width: 30px;
    height: 25px;
    font-size:14px;
    right:0px; 
    text-align:center;
    position: absolute;
    margin-top: 10px;
    background-color:transparent;
    border:0;
}*/

.messages{
    position:absolute;
    color:orange;
    margin-top: 50px;
    left:40%;
    padding:10px;
    text-align: center;
    font-family:sans-serif;
    font-size: 14px;
    background-color: white;
    box-shadow: 2px 2px 5px 0px #505050;
}


#zoomingfit{
    width: 40px;
    height: 30px;
    font-size:$fsize1;
    position: absolute;
    top:30px;
    right:0px; 
    text-align:center;
    color: $color1;
    background-color:transparent;
    border:0;
    &:hover {
        color:$selected-color;
    }
}

#EntitySelection{
    width: 40px;
    height: 30px;
    font-size:$fsize1;
    position: absolute;
    top: 60px;
    right:0px; 
    text-align:center;
    color: $color1;
    background-color:transparent;
    border:0;
    &:hover {
        color:$selected-color;
    }
}

#SelectingEntityType{
    width: 40px;
    font-size:$fsize1;
    position: absolute;
    text-align:center;
    color: #505050;
    top: 90px;
    right:0px;
    cursor: pointer;
}

#selectDropdown{
    position: absolute;
    top: 85px;
    right: 5px;
    button{
        width: 30px;
        height: 25px;
        font: $fsize1 bolder;
        display: block;
        background-color:transparent;
        border:1px solid transparent;
        font-family:sans-serif;
        color: #505050;
        cursor: pointer;
        &.active{
            background-color:  #f3f3f3;
        }
        &:hover{
            background-color:  #f9f9f9;
            border-color: #bbbbbb;
        }
    }
}

#setting{
    width: 30px;
    height: 25px;
    font-size:$fsize1;
    right:0px; 
    text-align:center;
    position: absolute;
    top: 10px;
    background-color:transparent;
    border:0;
}


.switchCameraButton{
    cursor: pointer;
    font-size:$fsize1;
    position: absolute;
    width: 40px;
    bottom:2px;
    right:2px; 
    text-align:center;
    color: $color1;
    background-color:transparent;
    border:0;
    user-select: none;
    &:hover {
        color:$selected-color;
    }
    // mat-icon {
    //     svg {
    //         fill: $color1 !important;
    //     }
    // }
}

.visible{
    color: grey;
}

.selectvisible{
    background-color:  white !important;
    color:#395d73;
}

#mouse_label{
    display:none;
    position:fixed;
    overflow:hidden;
    font-style: italic;
    background: rgba(255,255,255,0.5);
    padding: 5px;
}

.hiddenBtn {
    display: none;
}
