<div
    id="threejs-container"
    (window:keydown)="onKeyDown($event)"
    (window:keyup)="onKeyUp($event)"
    (window:mousedown)="onMouseDown($event)"
    (window:mousemove)="onMouseMove($event)"
    (window:mouseup)="onMouseUp($event)"
>
    <div
        *ngIf="_model_error"
        style="position:absolute;color:red;margin-top: 50px;left:40%;text-align: center;font-family:sans-serif;font-size: 14px;background-color: white;"
    >
        Error displaying model:{{text}}
    </div>
    <div
        *ngIf="_no_model"
        style="position:absolute;color:red;margin-top: 50px;left:40%;text-align: center;font-family:sans-serif;font-size: 14px;background-color: white;"
    >
        Model or Scene not defined.
    </div>
    <div class = "messages"
        *ngIf="messageVisible"
    >
        {{message}}
    </div>


    <!-- <button id="zoomingfit"  
        [class.visible]="Visible === 'zoomfit'" 
        (click)="zoomfit()">
        <span matTooltip="zoom to fit"><i class="fa fa-arrows-alt"></i></span>
    </button> -->
    <button
        id="zoomingfit"
        mat-icon-button
        (click)="zoomfit()"
    >
        <mat-icon svgIcon="cZoom"></mat-icon>
    </button>


    <!-- <button id="selecting" [class.visible]="Visible === 'select'" (click)= "select($event, Visible)" ><i class="fa fa-mouse-pointer"></i></button> -->
    <!-- <button id="setting" [class.selected]="settingVisible" (click)= "setting(settingVisible)"><i class="fa fa-cog"></i></button> -->
    <!-- <button id="selecting" [class.selected]="seVisible" (click)= "select(seVisible)" ><span matTooltip="select"><i class="fa fa-mouse-pointer"></i></span></button> -->
    <button
        id="EntitySelection"
        mat-icon-button
        (click)="selectDropdownVisible = !selectDropdownVisible; needSelect=false"
    >
        <mat-icon>near_me</mat-icon>
        <div
            [hidden]="needSelect?(!needSelect&&selectDropdownVisible):!needSelect"
            class="needSelect"
        ></div>
    </button>
    <span
        *ngIf="!selectDropdownVisible"
        id="SelectingEntityType"
        matTooltip="Selecting {{SelectingEntityType.name}}"
        (click)="selectDropdownVisible = !selectDropdownVisible; needSelect=false"
    >
        {{SelectingEntityType.id}}
    </span>
    <div
        id="selectDropdown"
        *ngIf="selectDropdownVisible == true"
    >
        <button
            *ngFor="let selection of selections"
            (click)="selectEntityType(selection); needSelect=false"
            [class.active]="SelectingEntityType.id === selection.id"
        >
            <span matTooltip="Select {{selection.name}}">{{selection.id}}</span>
        </button>
    </div>

    <div id="giSummary" [hidden]='!this._data_threejs.settings.gi_summary.show'>
        <tbody>
            <tr *ngFor="let item of giSummary">
                <td style="width: 80px;">{{item.title}}</td><td>{{item.val}}</td>
            </tr>
        </tbody>
    </div>
    <div id="tjsSummary" [hidden]='!this._data_threejs.settings.tjs_summary.show'>
        <tbody>
            <tr>
                <td
                    align=left
                    style="width: 80px;"
                >
                    3js Triangles:
                </td>
                <td
                    align=left
                    style="width: 20px;"
                >
                    {{_threejs_nums[2]}}
                </td>
            </tr>
            <tr>
                <td
                    align=left
                    style="width: 80px;"
                >
                    3js Edges:
                </td>
                <td
                    align=left
                    style="width: 20px;"
                >
                    {{_threejs_nums[1]}}
                </td>
            </tr>
            <tr>
                <td
                    align=left
                    style="width: 80px;"
                >
                    3js Points:
                </td>
                <td
                    align=left
                    style="width: 20px;"
                >
                    {{_threejs_nums[0]}}
                </td>
            </tr>
        </tbody>
    </div>


    <dropdown-menu (selected)='selectEntity($event)'></dropdown-menu>
    <div id="mouse_label"></div>
    <!-- <button id="imagery"  
        [class.selected]="imVisible" (click)="leaflet()">I
        </button> -->
    <!-- setting -->


    <!-- <app-setting *ngIf="settingVisible == true"></app-setting> -->
</div>
