.container--procedure{
    position: relative;
    padding-left: 30px;
}

.container--editor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #toolset{
        width: 30%; 
        min-width: 300px;
    }

    #procedure{
        flex-grow: 1;
    }
}
// .seg1{
// 	&.disabled{
// 		opacity: 0.4;
// 	}
	
// 	&.print{
// 		background-color: #A5F3A5;
// 	}
// 	&.error{
// 		background-color: red;
// 	}
// }

// mat-expansion-panel-header{
// 	background-color: $color3 !important;
// 	border-top: 1px solid $color2 !important;
// 	border-bottom: 1px solid $color2 !important;
// 	padding-left: $default-side-padding !important;
// 	mat-panel-title{
// 		color: $color1 !important;
// 		font-weight: bold !important;
// 		font-size: $fsize2 !important;
// 	}
// 	&:hover{
// 		background-color: $color3 !important;
// 	}
// }


// input{
// 	border: none;
// }

// input:focus{
// 	border-bottom: 1px dashed gray;
// }



// .selected{
// 	background-color: gray;
// }