
<h2>Procedure</h2>
Cupidatat voluptate ut aliqua quis ullamco sint mollit fugiat et culpa fugiat. Quis consequat esse non labore adipisicing ut nulla nostrud pariatur. Do ex adipisicing id ea cupidatat laborum et dolore velit proident consectetur ea amet ullamco. Aute id dolore pariatur do adipisicing ipsum. Ex enim non commodo qui. Aliqua ad amet qui reprehenderit culpa.
{{ node.procedure?.length }}
<!-- <div class="viewer">
	<mat-accordion>
		<mat-expansion-panel [expanded]="true">
					<mat-expansion-panel-header>
						<mat-panel-title>
						  Procedure ({{node?.procedure.length}})
						</mat-panel-title>
					</mat-expansion-panel-header>

					<div class="prod-container" style="padding: 10px 15px;">
						<ng-container *ngFor="let p of node?.procedure">
							<app-procedure-item 
								[prod]="p" 
								[active_procedure]="node?.active_procedure"
								[level]="0"
								[root]="node"
								(action)="onAction($event)">	
							</app-procedure-item>
						</ng-container>
					</div>
							
		</mat-expansion-panel> 
	</mat-accordion>
</div> -->