/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons'); 

app-root {
    display: block;
    height: 100%;
}

html{
    position: relative;
    font-size: 12px;

    margin: 0px;
    padding: 0px;
}

body{
    position: relative;
    margin: 0px;
    padding: 0px;
}

input{
    width: 50px;
}

*{
    margin: 0px;
    padding: 0px;
}
