/* You can add global styles to this file, and also import other style files */
// @import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import './scss/globals';

.btn{
    font-size: 12px;
    text-align: center;
    font-weight: 600px;
    border: 2px solid #222; 
    border-radius: 4px;
    padding: 0px 5px;

    &:hover{
        color: blue;
        cursor: pointer;
    }
}

input[type="text"] {
    -webkit-box-sizing: border-box; // Safari/Chrome, other WebKit
    -moz-box-sizing: border-box;    // Firefox, other Gecko
    box-sizing: border-box;         // Opera/IE 8+

    border-style: solid;
    border: none;
    box-shadow: none;
    padding: 5px;
    background: transparent;
}

*:focus { outline: none; }



.highlight{
    text-transform: uppercase;
    background-color: black;
    color: yellow;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
}


.message-general{
    width: 100%; 
    height: 100%; 
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;

    &.loading{
        background-image: url("./assets/img/loading_icon.gif");
    }

    &.sad-face{
        background-image: url("./assets/img/SadSmiley.gif")
    }

    &.processing{
        position: absolute;
        top: 0px;
        background-color: rgba(0,0,0,0.4);

        .loading{
            background-image: url("./assets/img/loading-2.gif");
        }
    }
}


.hidden{
    display: none !important;
}




.mat-raised-button{
    color: white !important;

    &:hover{
        color: $color1 !important;
        background-color: $color4 !important;
    }
}
.param-container{
    display: inline-block;
}



.node-content-wrapper.node-content-wrapper-active.node-content-wrapper-focused{
    background-color: $color3 !important;
    .full-container{
        display: flex !important;
    }
}

span.addBtn{
    padding-left: $default-side-padding !important;
}

// checkboxes








#Attribute-container, #Setting-Container{
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 2*$header-height;
}
#AttribsView{
    overflow-y: auto;
    height: 100%;
    padding: 0 $default-side-padding;
    table{
        width: 100%;
        tbody{
            width: 100%;
            tr{
                display: flex;
                flex-flow: row nowrap;
                width: 100%;
                th{
                    display: flex;
                    margin: 0;
                    width: 50% !important;
                    div{
                        width: 100% !important;
                    }
                }
            }
        }
    }
}

#SettingView{
    padding-left: $default-side-padding;
    padding-right: $default-side-padding;
    font-size: $fsize2;
    overflow-y: auto;
    height: 100%;
}


