$color1: #395D73;
$color2: #8AA8C0;
$color3: #F1F1F1; //#E0E0E0; //#B9DCF5;
$color4: #F0BFA0;
$color5: #F07A79;

//colors for modules/functions in procedure editor
$pcolor1: #E94858; //pink-red
$pcolor2: #F3A32A; //orange-yellow
$pcolor3: #82BF6E; //lightgreen
$pcolor4: #7B52AB; //purple //#3CB4CB; //lightblue
$pcolor5: #16434B; //darkgreenishblue

$header-height: 30px;
$fsize1: 15px;
$fsize2: 12px;

$toolbar-color: #F7F7F7;
$toolbar-height: 45px;

$default-padding: 5px 15px;

$heading-3: 16px;
$default-item-spacing: 10px;

$background-color: #EDEDED; 


$port-size: 15px;

$active-color: #f7f7f7;
$toolbar-btn-color: #C6C6C6;
$disabled-color: #6D6A6A;

$default-side-padding: 15px;
$default-top-padding: 5px;