@import './colors';
@import './variables';

as-split-area{
    overflow: hidden !important;
    flex-grow: 1 !important;
}
.container{
    position: relative;
    overflow: auto;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
        
    h1, h2, h3, h4, h5, h6, p{
        margin: 0px;
        // padding: 0px;
    }
s
    hr{
        margin: 0px;
        color: $separator;
    }

    .container__header{
        flex: 0 1 auto;
        min-height: $header-height;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 0px 0px 0px $small_padding;

        background-color: $title-background;
        // border-bottom: 3px solid $separator; // removed for sharpness

        line-height: $header-height;
        //text-transform: uppercase;
    
        font-size: 18px;
        font-weight: 600;
        text-align: center;

        /* tab styling */
        .tab {
            border: 2px ;
            overflow: hidden;
            background-color: $title-background;
        }

        .tab button {
            display: inline-block;
            vertical-align: bottom;
            background-color: inherit;
            color: $color4;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 8px 10px;
            transition: 0.3s;
            font-size: 14px;
            height: $header-height;
        }

        .tab button:hover {
            color:$hover-color;
        }

        .tab button.active {
            background-color: $title-background;
            color: $selected-color;
            font-weight: 600;
            border-color: #222 !important;
        }

        /* dropdown menu styling */

        .dropmenu {
            display: inline-flex;
        }
    }

    .container__content{
        flex-grow: 1;
        height: 0px;
        border: 2px solid #3F4651;
        overflow: auto;

    }

    .container__footer{
        text-align: center;
        font-size: $fsize2;
        line-height: 18px;

        background-color: #3F4651;
        color: #E7BF00;
    }

}

.content__panel{
    background-color: $color5;
    height: 100%;
    box-sizing: border-box;
    border: 0px 0px $header-height 0px;
    overflow: hidden auto;
    width: 100%;

    //padding: 10px 15px;
}

.content__viewer{
    background-color: $color5;
    height: 100%; 
    overflow: auto;

    //padding: 10px 15px;
}

.active{
    background-color: #222;
    color: white;
    border-color: #222 !important;
}

/*
***********************
** OVERLAY CONTAINER **
***********************
*/

// .cdk-overlay-pane {
//     top: $header-height !important;
//     .mat-menu-panel{
//         position: absolute;
//         border-radius: 0px;
//         // box-shadow: none;
//         padding: 0px;
//         left: -72px;
//         .mat-menu-content{
//             padding: 0px;
//         }
//         .mat-menu-item{
//             padding: 0px;
//         }
//     }
// }

// button.mat-menu-item{ // drop-down (top-bar) menu buttons
//     background-color: $color2;
//     color: $color4;
//     mat-icon{
//         color: $color4;
//     }

//     height: $header-height;
//     line-height: $header-height;
//     font-size: $fsize2;
//     text-align: center;
// }

// button.mat-menu-item:hover{
//     background-color: $color3;
//     color: $color5;
//     mat-icon{
//         color: $color5;
//     }
// }

// /*
// ** =====================================================================================================================
// ** Element Specific
// ** =====================================================================================================================
// */

// /*
// *************
// ** BUTTONS **
// *************
// */

// button.btn{ // top-bar buttons
//     display: inline-block;
//     vertical-align: middle;
//     margin: 0px 0px 0px 0px;
//     font-size: $fsize2;
//     line-height: $fsize2;
//     height: 30px;
//     border: none;
//     border-radius: 4px;
//     background-color: transparent; 
//     color: $color4;
//     mat-icon{
//         color: $color4;
//     }
// }

// button.btn:hover{
//     color: $hover-color;
//     mat-icon{
//         color: $hover-color;
//     }
// }

/*
***********
** LISTS **
***********
*/

ul.nav{
    margin: 0px;
    padding: 0px;
}

li.link{
    display: inline;
    border: 2px solid gray;
    border-radius: 4px;
    margin: 5px 5px 0px 0px;
    padding: 5px;
    text-transform: uppercase;
    line-height: $fsize2;

    font-weight: 600;
    cursor: pointer;
    font-size: $fsize2;
}

li.link:hover{
    background-color: gray;
    color: white;
}
