.viewer{
	
	.container{
		display: flex; 
		flex-direction: row; 
		height: 100%;

		.sidebar{
			//width: 250px; 
			//border-right: 4px solid #A9BCEC; //todo: change
			z-index: 100;
		}

		.view-container{
			box-sizing: border-box;
			height: 100%;
			width: 100%;
			padding-bottom: $header-height;
			overflow: auto;
		}
	}

/* 	width: 100%; 
overflow: auto;

padding: 0px;
margin: 0px;

.header{

	display: flex; 
	flex-direction: row; 
	justify-content: space-between;

	position: relative;
	font-size: 14px; 
	font-weight: 600; 
	line-height: $header-height;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	height: $header-height;

	color: #ADADAD;

	.btn-group{
		height: $header-height; 

		button{
			width: 0.9*$header-height; 
			height: 0.9*$header-height; 
			margin: 0px;
			border: 1px solid #B4B1B1;
			box-shadow: none;

			&:focus{
				
			}
		}
		
	}

}

.container{
}

button{
	&:focus{
		
	}
} */

}
