@import './colors';
@import './variables';
@import './button';

// the host

.container{
    position: relative;
    overflow: auto;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    // vertical split

    as-split-area{
        background-color: $color5;
        overflow: hidden !important;
        flex-grow: 1px !important;
    }

    as-split-gutter{
        background-image: none !important;
        background-color: $color5 !important;
        flex-basis: 1px !important;
    }

    // left side of the split

    panel-header {
        overflow: hidden;
        background-color: transparent;
        height: $header-height;
        box-sizing: border-box;
        border: 0px;
        width: 100%;
    }

    .content__panel{
        background-color: transparent;
        height: 100%;
        box-sizing: border-box;
        border: 0px;
        overflow: hidden;
        width: 100%;
    }

    // right side of the split

    .content__viewer{
        background-color: transparent;
        height: 100%; 
        overflow: auto;
    }


}
