
$color1: #808080;
$color2: #999999;
$color3: #B3B3B3; 
$color4: #CCCCCC;
$color4-5: #DDDDDD;
$color5: #E6E6E6;
$color5-5: rgb(245, 245, 245);
$color6: rgb(250, 250, 251);

$color7: white;
$color8: #373737;

$selected-color: rgb(0, 0, 109);
$selected-color1: rgb(228, 228, 247);
$selected-color2: rgb(215, 215, 255);
$hover-color: $color2;

$error-color: #E94858; //pink-red
$error-color-lt: rgb(255, 220, 224);
$pcolor2: #F3A32A; //orange-yellow
$print-color: rgb(90, 150, 90); //green
$print-color-lt: rgb(230, 255, 221);
$print-color-dk: rgb(50, 100, 50); //darkgreen
$selectGeom-color: rgb(255, 174, 0); // light orange
$selectGeom-color-dk: rgb(200, 100, 0); // dark orange
$selectGeom-color-lt: rgb(255, 225, 160);
$terminate-color: #990000; //Red

// $prod-background-color: rgb(250,250,250);
// $background-color: rgb(220,220,220);
$function-text-color: rgb(190, 140, 30);
$function-text-color2: rgb(18, 126, 136);
$function-text-color3: rgb(190, 140, 30);
$basic-function-text-color: rgb(200, 70, 150);
$comment-color: darkgreen;
