
$color1: #808080;
$color2: #999999;
$color3: #B3B3B3; 
$color4: #CCCCCC;
$color5: #E6E6E6;

$color6: white;
$color7: #373737;

$selected-color: $color7;
$hover-color: $color2;

$pcolor1: #E94858; //pink-red
$pcolor2: #F3A32A; //orange-yellow
$pcolor3: #82BF6E; //lightgreen

$prod-background-color: rgb(250,250,250);
$background-color: rgb(220,220,220);
$function-text-color: rgb(190, 140, 30);

$button-color: #777;
