$light-background: rgb(220,220,220);
$title-background: rgb(220,220,220);
$separator: rgb(238,238,238);
$text-color: rgb(80,80,80);
$selected-color: #000096;
$hover-color: blue;

$color1: #233656;
$color2: #415B76;
$color3: #7B9BA6; //#E0E0E0; //#B9DCF5;
$color4: #CDD6D5;
$color5: #EEF4F2;
$color6: white;

$pcolor1: #E94858; //pink-red
$pcolor2: #F3A32A; //orange-yellow
$pcolor3: #82BF6E; //lightgreen

$prod-background-color: rgb(250,250,250);
$background-color: rgb(220,220,220);
$function-text-color: rgb(190, 140, 30);

$button-color: #777;
