@import '~scss/variables';
@import '~scss/colors';

button {
    display: inline-block;
    vertical-align: bottom;
    background-color: transparent;
    color: $color1;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px;
    width: 34px;
    height: 34px;
    transition: 0.3s;
    font-size: $fsize1;
}

button:hover {
    color:$color5;
}

button.active {
    color: $selected-color;
}
