
panel-header button {
    display: inline-block;
    vertical-align: bottom;
    background-color: transparent;
    color: $text-color;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px;
    width: 34px;
    height: 34px;
    transition: 0.3s;
    font-size: 14px;
}

panel-header button:hover {
    color:$hover-color;
}

panel-header button.active {
    color: $selected-color;
}

