$padding: 40px;


.container{
    padding: 0px; 
    margin: 0px;

    height: 100%; 
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.container__element{
    padding: 0px 10% 0px 10%;
}

.container__element--header{
    padding-top: 150px;
    padding-bottom: 15px;
 
    background: linear-gradient( rgba(#F76BE5, 0.25), rgba(#181717, 0.95)); 

    font-size: 48px;
    line-height: 64px;
    font-weight: 600;
    color: lightsteelblue;

    nav{

        a{
            height: 45px;
            line-height: 45px;
            font-size: 16px;
            margin: 15px 15px 15px 0px;
            color: #222;
            background-color: #f8f8f8;
            padding: 5px;
            border-radius: 4px;

            text-decoration: none;
        }

        a:visited{
            color: #222;
        }

        a:hover{
            background-color: gray;
        }
    }
}

.container__element--subheader{
    font-size: 26px;
    line-height: 32px;
    font-weight: 300;
    padding-top: 60px; 
    padding-bottom: 30px;
    color: #222;
}


.container__element--project-container{
    font-size: 26px;
    line-height: 32px;
    font-weight: 300;
    padding-top: 30px; 
    padding-bottom: 30px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    overflow: auto;
}


.project-container__project {
    position: relative;

    width: 25%;
    height: 150px;
    min-width: 200px;


    .project__content{
        
        height: 90%;
        width: 90%;

        font-size: 16px;
        line-height: 24px;
        color: #000;
        font-weight: 300;
        overflow: hidden;
        border-radius: 4px;
        vertical-align: middle;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;

        border: 1px solid #bbb; 
        border-radius: 2px;

        a{
            display: block;

            height: 100%;
            margin: 10px;

            text-decoration: none;
            text-align: center;
            text-transform: uppercase;
            color: inherit;

            font-weight: 600;

            &:visited{
                color: inherit;
            }

        }

        &:hover{
            border-color: #222;
        }
    }


}


