@import '~scss/colors';
@import '~scss/variables';

.container__element{
    padding: 0px 10% 0px 10%;
    margin-top: $header-height;
}

.container__element--project-container{
    font-size: $fsize3;
    line-height: 32px;
    font-weight: 300;
    padding-top: 30px; 
    padding-bottom: 30px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    overflow: auto;
}

.project-container__project {
    position: relative;

    width: 25%;
    height: 150px;
    min-width: 200px;


    .project__content{
        
        height: 90%;
        width: 90%;

        font-size: $fsize2;
        line-height: 24px;
        color: #000;
        overflow: hidden;
        border-radius: 4px;
        vertical-align: middle;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;

        border: 1px solid #bbb; 
        border-radius: 2px;

        a{
            display: block;

            height: 100%;
            margin: 10px;

            text-decoration: none;
            text-align: center;
            text-transform: uppercase;
            color: inherit;

            font-weight: 600;

            &:visited{
                color: inherit;
            }

        }

        &:hover{
            border-color: #222;
        }
    }


}


h2{
    color: $color4;//$color1;
    background-color: $color2;

    text-align: left;
    padding-left: $small-padding;
    font-size: $fsize2;
    line-height: 19px;
}

h4{
    color: $color1;
    text-align: left;
    padding-left: $small-padding;
    font-size: $fsize2;
    line-height: 16px;
}

p{
    color: $color1;
    text-align: left;
    padding-left: $small-padding;
    font-size: $fsize2;
    line-height: 14px;
}

hr{
    border-top: 2px solid $color5;
    margin: 0px;
}

