@import '~scss/colors';
@import '~scss/variables';

$tile-height: 120px;
$tile-width: 160px;
$scale-factor: 1.1;

.content__panel{
    margin-top: $header-height;
    margin-left: 11px; //split bar width
    height: calc(100vh - 40px); //header height
    width: calc(100% - 11px); //header height
    overflow: hidden;
    overflow-y: auto;
}

.content--container{
    display: inline-block;

    box-sizing: border-box;
    width: 100%;
    margin-left: -11px;

    // height: calc(100vh - 70px); //header height; $fsize1 tab menu height
    overflow: hidden;
    overflow-y: auto;
}

.container__element--project-container{
    display: flex;
    flex-flow: row wrap;

    padding: $small-padding 19px $small-padding 30px;

    font-size: $fsize3;
    line-height: 32px;
    font-weight: 300;

    width: fit-content;
    box-sizing: border-box;

    // transition: 0.4s;
    // &:hover .project__content{
    //     opacity: 0.3;
    // }
}

.project-container__project {
    position: relative;
    margin: 10px;
    width: $tile-width; //fixed width
    // transition: 0.4s;
    display: flex;
    flex-flow: column nowrap;
    
    .tile--contents{
        height: $tile-height;
        width: inherit;
        box-sizing: border-box;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        
        // transition: 0.4s;

        // font-size: $fsize2;
        // line-height: 24px;
        // color: $color8;
        // overflow: hidden;

        border: 1px solid $color1;
        padding: 1px;

        img{
            height: 100%;
            width: 100%;

            transition: 0.4s;
        }

        // a{
        //     display: block;

        //     height: 100%;
        //     margin: 10px;

        //     text-decoration: none;
        //     text-align: center;
        //     text-transform: uppercase;
        //     color: inherit;

        //     font-weight: 600;

        //     &:visited{
        //         color: inherit;
        //     }

        // }

        &:hover{
            border: 2px solid $selected-color;
            opacity: 1;
            padding: 0px;

            // img{
            //     transform: scale($scale-factor);
            // }
        }
    }
    .project__title{
        // overflow-wrap: break-word;
        // word-wrap: break-word;
        // word-break: break-word;
        width: 100%;
        font-size: $fsize2;
        line-height: $fsize1;
        overflow: hidden;
    }
}


h2{
    color: $color4;//$color1;
    background-color: $color2;

    text-align: left;
    padding-left: $small-padding;
    font-size: $fsize2;
    line-height: 19px;
}

h4{
    color: $color1;
    text-align: left;
    padding-left: $small-padding;
    font-size: $fsize2;
    line-height: 16px;
}

p{
    color: $color1;
    text-align: left;
    padding-left: $small-padding;
    font-size: $fsize2;
    line-height: 14px;
}

hr{
    border-top: 2px solid $color5;
    margin: 0px;
}

h3 {
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}


#gallery-tab{
    line-height: $fsize3;
    height: $fsize3;
    color: $color8;

}

#galleryMenu {
    display: none;
    position: absolute;
    width: fit-content;
    left: 10px;

    transition: display 0.4s;
    // top: 60px;

    z-index: 1;
    background-color: $color6;
    // border-left: 1px solid $color1;
    // border-bottom: 1px solid $color1;
    border: 1px solid $color1;

    button{
        cursor: pointer;
        display: block;
        min-width: 100px;
        max-width: 200px;
        background-color: $color6;
        border: 0px;
        margin: 0px;
        padding: 0px;
        line-height: $fsize3;
        height: $fsize3;
        font-size: $fsize2;
    }

    li{
        cursor: pointer;
        display: block;
        min-width: 100px;
        max-width: 300px;
        overflow: hidden;
        line-height: 20px;
        background-color: $color6;
        border: 0px;
        margin: 0px;
        padding: 0px 10px 0px 10px;
        line-height: $fsize3;
        height: $fsize3;
        font-size: $fsize2;
        color: $color8;
        &:hover{
            color: $selected-color;
            background-color: $color5;
        }
    }

}

#galleryFiller1 {
    height: 50px;
}
#galleryFiller2 {
    height: 100vh;
}
.sticky{
    z-index: 1;
    background-color: $color6;
    position: fixed;
    top: 41px;
    height: 20px;
    min-width: 200px;
}

