<div class='container'>
    <as-split direction="horizontal" (dragEnd)='setSplit($event)'>
        <as-split-area [size]="100 - dataService.splitVal">
            <panel-header [title]='dataService.flowchart.name'></panel-header>
            <!-- viewchild content -->
            <div class='content__panel'>
                <h3 id = 'gallery-tab' (click)='openGalleryMenu($event)'>{{active.name}}<span>▾</span></h3>
                <div id="galleryMenu">
                    <div *ngFor='let galleryName of allGalleries;'>
                        <li (click)="switchGallery(galleryName)">
                            {{galleryName}}
                        </li>
                    </div>
                </div>
                <div class = 'content--container'>
                    <div class="container__element container__element--project-container">
                        <div class="project-container__project" *ngFor="let f of active.files">
                            <div class="tile--contents" (click)='loadFile(active.link + f)'>
                                <img src ='{{active.link+"imgs/"+f+".JPG"}}' alt = 'project image'>
                            </div>
                            <span class = 'project__title'>{{ f | simplename }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </as-split-area>

        <as-split-area [size]="dataService.splitVal">
            <!-- data viewers panel -->
            <div class='content__viewer' >
                <model-viewers-container [data]='viewerData()' [helpView]='helpView'></model-viewers-container>
            </div>
        </as-split-area>
        
    </as-split>

</div>
