<div class='container'>
    <as-split direction="horizontal" (dragEnd)='setSplit($event)'>
        <as-split-area [size]="100 - dataService.splitVal">
            <panel-header></panel-header>
            <!-- viewchild content -->
            <div class='content__panel'>
                <h2>Möbius Gallery</h2>
                <hr>
                <h4>Displaying {{ (allFiles | async)?.length}} projects</h4>
                <div class="container__element container__element--project-container">
                    <div class="project-container__project" *ngFor="let f of  (dataService.galleryFiles | async)">
                        <div class="project__content" (click)='loadFile(f)'>
                            {{ f.name | simplename }}
                        </div>
                    </div>
                </div>
            </div>
        </as-split-area>

        <as-split-area [size]="dataService.splitVal">
            <!-- data viewers panel -->
            <div class='content__viewer' >
                <model-viewers-container [data]='viewerData()' [helpView]='helpView'></model-viewers-container>
            </div>
        </as-split-area>
        
    </as-split>

</div>
