<div id='toolset_main' class = 'toolset' *ngIf="nodeType == ''">

    <ul class='toolset__basic'>
        <ng-container *ngFor="let type of ProcedureTypesArr">
            <li *ngIf='type.toUpperCase() !== "FUNCTION" && type.toUpperCase() !== "IMPORTED"'
                (click)='add(ProcedureTypes[type])'> 
                {{type}}
            </li>
        </ng-container>
    </ul>
    

    <div class='toolset__functions'>
        <section *ngFor='let mod of Modules' >
            <div *ngIf='mod.module.toUpperCase() != "INPUT" && mod.module.toUpperCase() != "OUTPUT"'>
                <h3>{{ mod.module }}</h3>
                <ul class='toolset__functions--subset'>
                    <li *ngFor='let fn of mod.functions' (click)='add_function(fn)'> {{fn.name}} </li>
                </ul>
            </div>
        </section>
    </div>

    
    <div class='toolset__functions'>
        <section>
            <h3>Imported</h3>
            <ul class='toolset__functions--subset'>
                <li *ngFor='let fn of functions' (click)='add_imported_function(fn)'> {{fn.name}} 
                    <button class='remove-btn' (click)='delete_imported_function(fn)'>
                        <mat-icon class='remove-icon'>close</mat-icon>
                    </button>
                </li>
            </ul>
        </section>
        <br>
        <input type="file" id="selectedFile" (change)="import_function($event)" style="display: none;" />
        <button class='add-btn' onclick="document.getElementById('selectedFile').click();">
            <mat-icon class='add-icon'>open_in_browser</mat-icon>
        </button>

    </div>

</div>
<div id='toolset_inp' class = 'toolset' *ngIf="nodeType == 'start'">
    
    <div class='toolset__functions'>
        <section *ngFor='let mod of Modules' >
            <div *ngIf='mod.module.toUpperCase() == "INPUT"'>
                <h3>{{ mod.module }}</h3>
                <ul class='toolset__functions--subset'>
                    <li *ngFor='let fn of mod.functions' (click)='add_function(fn)'> {{fn.name}} </li>
                </ul>
            </div>
        </section>
    </div>
</div>
<div id='toolset_inp' class = 'toolset' *ngIf="nodeType == 'end'">
    <div class='toolset__functions' *ngIf="hasProd===false">
        <section *ngFor='let mod of Modules' >
            <div *ngIf='mod.module.toUpperCase() == "OUTPUT"'>
                <h3>{{ mod.module }}</h3>
                <ul class='toolset__functions--subset'>
                    <li *ngFor='let fn of mod.functions' (click)='add_function(fn)'> {{fn.name}} </li>
                </ul>
            </div>
        </section>
    </div>
</div>
