<!--Divider-->

<div class = "toolset--body" (mouseover)='setCurrent($event)'>
    <div [hidden]="!getNode().state.show_code">
        <!-- basic functions: variable, if, else, else-if, for, while, continue, break -->
        <ul class='toolset__functions--subset'>
            <li class='tooltip-variable' [class.invalid]='checkInvalid("Variable")'
                [class.basic]='true' 
                (mousedown)='selectPrevProd()'
                (click)='add_basic_func(0)'> 
                Variable
                <button class='helpButton' mat-icon-button title="Help" tabindex="-1" (click)='emitHelpText($event, "variable", "Variable")'>
                    <mat-icon class='icon' svgIcon='cHelp'></mat-icon>
                </button>
            </li>
            <li class='tooltip-variable'
                [class.basic]='true'
                (mousedown)='selectPrevProd()'
                (click)='add_basic_func(ProcedureTypes.Comment)'> 
                Comment
                <button class='helpButton' mat-icon-button title="Help" tabindex="-1" (click)='emitHelpText($event, "comment", "Comment")'>
                    <mat-icon class='icon' svgIcon='cHelp'></mat-icon>
                </button>
            </li>
        </ul>
        <div class = "divider"></div>

        <button id='Inline' class="accordion" 
            (mousedown)='preventfocus($event)'
            (click)='open_inline_dialog($event)'>Expression
            <button class='helpButton' mat-icon-button title="Help" tabindex="-1" (click)='emitHelpText($event, "expression", "Expression")'>
                <mat-icon class='icon' svgIcon='cHelp'></mat-icon>
            </button>
        </button>
        <!--Divider-->
        <div class = "divider"></div>
    </div>


    <div class = "toolset--commands">
        <!-- <div [hidden]="getNode().type == 'start' && !getNode().state.show_code"> -->
        <div [hidden]="!getNode().state.show_code">
            <!-- basic functions: variable, if, else, else-if, for, while, continue, break -->
            <!-- <ul class='toolset__functions--subset'>
                <li class='tooltip-variable' [class.invalid]='checkInvalid("Variable")'
                    [class.basic]='true' 
                    (mousedown)='selectPrevProd()'
                    (click)='add_basic_func(0)'> 
                        Variable
                </li>
                <li class='tooltip-variable'
                    [class.basic]='true'
                    (mousedown)='selectPrevProd()'
                    (click)='add_basic_func(ProcedureTypes.Comment)'> 
                        Comment
                </li>
            </ul> -->
            <!--Divider-->
            <!-- <div class = "divider"></div> -->
            <button id='basic-funcs' class="accordion mainAccordion" 
            (mousedown)='preventfocus($event)'
            (click)='toggleAccordion("basic-funcs")' >Control Flow</button>
            <div class="panel">
                <ul class='toolset__functions--subset'>
                    <li class='tooltip-basic' [class.invalid]='checkInvalid("If")'
                        [class.basic]='true' 
                        (mousedown)='selectPrevProd()'
                        (click)='add_basic_func(1)'> 
                            If
                            <button class='helpButton' mat-icon-button title="Help" tabindex="-1" (click)='emitHelpText($event, "control_flow", "If")'>
                                <mat-icon class='icon' svgIcon='cHelp'></mat-icon>
                            </button>
                    </li>
                    <li class='tooltip-basic' [class.invalid]='checkInvalid("Elseif")'
                        [class.basic]='true' 
                        (mousedown)='selectPrevProd()'
                        (click)='add_basic_func(2)'> 
                            Else-if
                            <button class='helpButton' mat-icon-button title="Help" tabindex="-1" (click)='emitHelpText($event, "control_flow", "Elseif")'>
                                <mat-icon class='icon' svgIcon='cHelp'></mat-icon>
                            </button>
                    </li>
                    <li class='tooltip-basic' [class.invalid]='checkInvalid("Else")'
                        [class.basic]='true' 
                        (mousedown)='selectPrevProd()'
                        (click)='add_basic_func(3)'> 
                            Else
                            <button class='helpButton' mat-icon-button title="Help" tabindex="-1" (click)='emitHelpText($event, "control_flow", "Else")'>
                                <mat-icon class='icon' svgIcon='cHelp'></mat-icon>
                            </button>
                    </li>
                    <li class='tooltip-basic' [class.invalid]='checkInvalid("Foreach")'
                        [class.basic]='true' 
                        (mousedown)='selectPrevProd()'
                        (click)='add_basic_func(4)'> 
                            For-each
                            <button class='helpButton' mat-icon-button title="Help" tabindex="-1" (click)='emitHelpText($event, "control_flow", "Foreach")'>
                                <mat-icon class='icon' svgIcon='cHelp'></mat-icon>
                            </button>
                    </li>
                    <li class='tooltip-basic' [class.invalid]='checkInvalid("While")'
                        [class.basic]='true' 
                        (mousedown)='selectPrevProd()'
                        (click)='add_basic_func(5)'> 
                            While
                            <button class='helpButton' mat-icon-button title="Help" tabindex="-1" (click)='emitHelpText($event, "control_flow", "While")'>
                                <mat-icon class='icon' svgIcon='cHelp'></mat-icon>
                            </button>
                    </li>
                    <li class='tooltip-basic' [class.invalid]='checkInvalid("Break")'
                        [class.basic]='true' 
                        (mousedown)='selectPrevProd()'
                        (click)='add_basic_func(6)'> 
                            Break
                            <button class='helpButton' mat-icon-button title="Help" tabindex="-1" (click)='emitHelpText($event, "control_flow", "Break")'>
                                <mat-icon class='icon' svgIcon='cHelp'></mat-icon>
                            </button>
                    </li>
                    <li class='tooltip-basic' [class.invalid]='checkInvalid("Continue")'
                        [class.basic]='true' 
                        (mousedown)='selectPrevProd()'
                        (click)='add_basic_func(7)'> 
                            Continue
                            <button class='helpButton' mat-icon-button title="Help" tabindex="-1" (click)='emitHelpText($event, "control_flow", "Continue")'>
                                <mat-icon class='icon' svgIcon='cHelp'></mat-icon>
                            </button>
                    </li>
                    <li class='tooltip-basic'
                        [class.basic]='true' 
                        (mousedown)='selectPrevProd()'
                        (click)='add_basic_func(ProcedureTypes.Return)'>
                            Return
                            <button class='helpButton' mat-icon-button title="Help" tabindex="-1" (click)='emitHelpText($event, "control_flow", "Return")'>
                                <mat-icon class='icon' svgIcon='cHelp'></mat-icon>
                            </button>
                    </li>
                    <!-- <li class='tooltip-basic'
                        [class.basic]='true'
                        (mousedown)='selectPrevProd()'
                        (click)='add_basic_func(ProcedureTypes.Terminate)'> 
                            Terminate
                    </li> -->
                    <li class='tooltip-basic'
                        [class.basic]='true'
                        (mousedown)='selectPrevProd()'
                        (click)='add_basic_func(ProcedureTypes.Error)'> 
                            Error
                            <button class='helpButton' mat-icon-button title="Help" tabindex="-1" (click)='emitHelpText($event, "control_flow", "Error")'>
                                <mat-icon class='icon' svgIcon='cHelp'></mat-icon>
                            </button>
                    </li>
                </ul>
            </div>
            
            <!--Divider-->
            <div class = "divider"></div>
            <button id='Functions' class="accordion mainAccordion"  
            (mousedown)='preventfocus($event)'
            (click)='toggleAccordionHead("Functions")'>Functions
            </button>
            <!--Search Bar-->
            <div class = 'searchbar--container'>
                <input id='searchbarFunction' class='searchBar' placeholder='Search' (mousedown)='selectPrevProd()' (keyup)='searchMainFunc($event)'/>
                <div class="panel" [class.opened] = 'true' *ngIf='searchedMainFuncs.length > 0'>
                    <ul class='toolset__functions--subset'>
                        <ng-container *ngFor='let fn of searchedMainFuncs'>
                            <li
                            (mousedown)='selectPrevProd()'
                            (click)='add_searched_func(fn)'
                            (mouseenter)='popupTooltip($event, fn)'
                            (mouseleave)='turnoffTooltip()'>
                                <span class='module-name'>{{fn.module}}.</span>{{fn.name}}
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </div>
            <div class="panel">
                <!-- functions from core.modules -->
                <ng-container *ngFor='let mod of Modules' >
                    <button id='{{mod.module}}' class="accordion" 
                    (mousedown)='preventfocus($event)'
                    (click)='toggleAccordion(mod.module)' >{{ mod.module }}</button>
                    <div class="panel">
                        <ul class='toolset__functions--subset'>
                            <ng-container *ngFor='let fn of mod.functions'>
                                <div class='tooltip'
                                (mouseenter)='popupTooltip($event, fn)'
                                (mouseleave)='turnoffTooltip()'>
                                    <li 
                                    (mousedown)='selectPrevProd()'
                                    (click)='add_main_func(fn)'> 
                                        {{fn.name}} 
                                        <button class='helpButton' mat-icon-button title="Help" tabindex="-1" (click)='emitHelpText($event, "core", fn)'>
                                            <mat-icon class='icon' svgIcon='cHelp'></mat-icon>
                                        </button>
                                    </li>
                                    <!-- <span class="tooltiptext" [innerHTML]='fn.doc'></span> -->
                                </div>
                            </ng-container>
                            <!--Divider-->
                            <div class = "divider--in"></div>
                        </ul>
                    </div>
                </ng-container>
                <!-- imported functions -->
                <ng-container>
                    <button id='CreateLocal' class="accordion inline--cat" 
                    (mousedown)='preventfocus($event)'
                    (click)='toggleAccordion("CreateLocal")'>local func</button>
                    <div class="panel">
                        <ul class='toolset__functions--subset user_set'>
                            <li 
                            (mousedown)='selectPrevProd()'
                            (click)='add_local_func_def(0)'>Def Func</li>
                            <li *ngFor='let func_prod of getNode().localFunc.slice(1)' 
                            (mousedown)='selectPrevProd()'
                            (click)='add_local_func_call(func_prod)'
                            (mouseenter)='popupTooltip($event, assembleImportedTooltip(func_prod, "localFunc"))'
                            (mouseleave)='turnoffTooltip()'>
                                {{func_prod.args[0].value}}
                            </li>
                        </ul>
                    </div>
                    <button id='CreateGlobal' class="accordion" 
                    (mousedown)='preventfocus($event)'        
                    (click)='toggleAccordion("CreateGlobal")'>global func</button>
                    <div class="panel">
                        <ul class='toolset__functions--subset'>
                            <li class = 'user--manage'>
                                <button class = 'add-btn' (click)="open_globalFunc_dialog($event);" title="Manage Global Functions">
                                    Manage
                                </button>
                            </li>
                            <div class='tooltip user--def' *ngFor='let fn of getFlowchart().functions'>
                                <div class = 'user--def-lnContainer'
                                (mouseenter)='popupTooltip($event, assembleImportedTooltip(fn))'
                                (mouseleave)='turnoffTooltip()'>
                                    <li 
                                    (mousedown)='selectPrevProd()'
                                    (click)='add_global_func(fn)'> {{fn.name}} 
                                        <button class='helpButton' mat-icon-button title="Help" tabindex="-1" (click)='emitHelpText($event, "global", fn)'>
                                            <mat-icon class='icon' svgIcon='cHelp'></mat-icon>
                                        </button>
                                    </li>
                                </div>
                            </div>
                        </ul>
                        <input type="file" id="selectImportFile" (change)="import_global_func($event)" style="display: none;" multiple/>
                    </div>
                </ng-container>
            </div>
            
            <!--Search Bar-->
            <!-- <div class = 'searchbar--container'>
                <input id='searchbarInline' class='searchBar' placeholder='Search' (mousedown)='selectPrevProd()' (keyup)='searchInlineFuncs($event)'/>
                <div class="panel" [class.opened] = 'true' *ngIf='searchedInlineFuncs.length > 0'>
                    <ul class='toolset__functions--subset inline_set'>
                        <ng-container *ngFor='let fnString of searchedInlineFuncs'>
                            <li (click)='add_inline_func(fnString[0])' title='{{fnString[1]}}'>
                                {{fnString[0]}}
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </div>
            <div class="panel">
                <button id='globalParameters' class="accordion inline--cat" 
                (mousedown)='preventfocus($event)'
                (click)='toggleAccordion("globalParameters", true)'>parameters</button>
                <div class="panel">
                    <ul class='toolset__functions--subset inline_set'>
                        <ng-container *ngFor='let cnst of getFlowchart().nodes[0].procedure'>
                            <li *ngIf='cnst.type === 10' (click)='add_inline_func(cnst.args[cnst.argCount-2].value)'>
                                {{cnst.args[cnst.argCount-2].value}}
                            </li>
                        </ng-container>
                    </ul>
                    <div class = "divider--in"></div>
                </div>
                <ng-container *ngFor='let category of inlineFunc'>
                    <button id='inlineFunc_{{category[0]}}' class="accordion inline--cat" 
                    (mousedown)='preventfocus($event)'
                    (click)='toggleAccordion("inlineFunc_"+category[0], true)'>{{category[0]}}</button>
                    <div class="panel">
                        <ul class='toolset__functions--subset inline_set'>
                            <li *ngFor='let funcString of category[1]' (click)='add_inline_func(funcString[0])' title='{{funcString[1]}}'>
                                {{funcString[0]}}
                            </li>
                        </ul>
                    <div class = "divider--in"></div>
                    </div>
                </ng-container>
            </div> -->

            <!--Divider-->
            <div class = "divider"></div>
        </div>

        <!--Divider-->
        <div class = "divider"></div>

        <!-- functions for input nodes -->
        <div id='toolset_inp' class = 'toolset' *ngIf="getNode().type == 'start'">
            <button id='startFuncs' class="accordion inline--cat" 
            (mousedown)='preventfocus($event)'
            (click)='toggleAccordion("startFuncs")'>Parameters</button>
            <div class="panel">
            <!-- <div class='toolset__functions'> -->
                <section *ngFor='let type of ProcedureTypesArr' >
                    <div *ngIf='type.toUpperCase() == "CONSTANT"'>
                        <ul class='toolset__functions--subset'>
                            <li (mousedown)='selectPrevProd()' (click)='add_basic_func(ProcedureTypes[type], 5)'> Constant </li>
                            <li (mousedown)='selectPrevProd()' (click)='add_basic_func(ProcedureTypes[type], 0)'> Simple Input </li>
                            <li (mousedown)='selectPrevProd()' (click)='add_basic_func(ProcedureTypes[type], 1)'> Slider </li>
                            <li (mousedown)='selectPrevProd()' (click)='add_basic_func(ProcedureTypes[type], 2)'> Checkbox </li>
                            <li (mousedown)='selectPrevProd()' (click)='add_basic_func(ProcedureTypes[type], 6)'> Dropdown </li>
                            <!-- <li (mousedown)='selectPrevProd()' (click)='add_basic_func(ProcedureTypes[type], 3)'> URL </li> -->
                            <!-- <li (click)='add_basic_func(ProcedureTypes[type], 4)'> File </li> -->
                        </ul>
                    </div>
                    <!-- <div *ngIf='type.toUpperCase() == "ADDDATA"'>
                        <ul class='toolset__functions--subset'>
                            <li (click)='add_basic_func(ProcedureTypes[type])'> Add Model </li>
                        </ul>
                    </div> -->
                </section>
            </div>
        </div>
    </div>

</div>
<span id="tooltiptext"></span>
