:host {
    height: 100%;
    width: 100%;
}

// div {
//     font-family: sans-serif;
//     color: rgb(80,80,80);
//     width: 100%;
//     padding-left:10px;
// }

// h5 {
//     font-weight: 700;
//     font-size: $fsize2;
// }

// .funcDesc {
//     font-weight: 600;
// }

// .paramP {
//     padding-left: 5px;

// }
// span {
//     font-weight: 550;
//     font-style: italic;
// }
