@import '~scss/colors';
@import '~scss/variables';

.content__panel{
    margin-top: $header-height;
    padding-left: 11px; //split bar width

    height: calc(100% - 70px); //header height;
    overflow-y: auto;
}

.content__viewer{
    position: relative;

    .sliderBtn{
        position: absolute;
        top: 34px;
        background-color: transparent;
        z-index: 2;
        color: $color1;
        border: none;
        margin: none;
        padding:none;
        outline:none;
    }
    .shareLink{
        position: absolute;
        top: 3px;
        left: 100px;
        z-index: 2;

        .shareBtn{
            background-color: transparent;
            z-index: 2;
            color: $color1;
            border: none;
            outline:none;
        }
    }
}

h3 {
    line-height: 30px;
    height: 30px;
    color: $color8;
}

.footer{
    border-top: 3px solid $color5;
    padding-top: 5px;
    color: $color1;

    a:link, a:visited { 
        color: $color1;
        text-decoration: underline;
    }
    
    a:link:active, a:visited:active { 
        color: $color1;
    }
}