$header-height: 45px;

.container{
    position: relative;
    overflow: auto;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
        
    h1, h2, h3, h4, h5, h6, p{
        margin: 0px;
        padding: 0px;
    }

    .container__header{
        flex: 0 1 auto;
        min-height: $header-height;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 0px 0px 0px 15px;

        background-color: #3F4651;
        color: #E7BF00;
        
        line-height: $header-height;
        text-transform: uppercase;
    
        font-size: 18px;
        font-weight: 600;
        text-align: center;
    }

    .container__content{
        flex-grow: 1;
        height: 0px;
        border: 2px solid #3F4651;
        overflow: auto;

        split{
            height: 100%;
        }
    }

    .container__footer{
        text-align: center;
        font-size: 12px;
        line-height: 18px;

        background-color: #3F4651;
        color: #E7BF00;
    }
}


.content__panel{
    height: 100%; 
    overflow: auto;

    padding: 10px 15px;
}