<parameter-viewer [flowchart]='flowchart' [startNode]='flowchart.nodes[0]' [endNode]='getEndNode()'></parameter-viewer>

<!--
<div class='container'>
	<div class='container__content'>
	
		< !-- Side content__Panel: Split into three panes -- >
		<as-split direction="vertical">

			<as-split-area size='20'>
				<div class='content__panel'>
					<parameter-viewer [node]='flowchart.nodes[0]'></parameter-viewer>
				</div>
			</as-split-area>
			
			< !-- 
			<as-split-area size='20'>
				<div class='content__panel'>
						<flowchart [data]="flowchart" (select)='selectNode($event)'></flowchart>
				</div>
			</as-split-area> 
			-- >
		
		</as-split>
					
	</div>
</div>
-->
<!--
<div class='container'>

	<div class='container__header'>
		Mobius Viewer	
		<navigation></navigation>
		<execute [flowchart]='flowchart'></execute>
	</div>

	<div class='container__content'>
		<file-new *ngIf='!flowchart'></file-new>

		<as-split direction="horizontal" *ngIf='flowchart'>
			<as-split-area size="60">

				<div class='content__panel' *ngIf='flowchart.meta.selected_nodes[0] !== undefined'>
					<mviewer [node]='flowchart.nodes[flowchart.meta.selected_nodes[0]]'></mviewer>
				</div>
			</as-split-area>
			
			<as-split-area size="40">
	

				<as-split direction="vertical">
	
						<as-split-area size='20'>
							<div class='content__panel'>
								<parameter-viewer [node]='flowchart.nodes[0]'></parameter-viewer>
							</div>
						</as-split-area>
						
					
					</as-split>
					
			</as-split-area>
		</as-split>
	</div>

	<div class='container__footer'>
		Copyright © 2018 Design Automation Lab, NUS. All Rights Reserved.
	</div>
	
	
</div>
-->